<header (window:resize)="onResize($event)">
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="box" *ngFor="let item of Partners">
          <a href="tel:{{item?.phone}}">{{item?.phone}}</a>
          <a href="mailto:{{item?.email}}">{{item?.email}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="logo" routerLink="/" *ngFor="let i of logo">
            <img src="{{i?.image}}">

            <h1>THIÊN SƠN SUỐI NGÀ</h1>
          </div>
          <img src="/assets/images/home/menu.png" class="icon-menu" (click)="showMenu = true">
          <div class="menu" [class.show]="showMenu === true">
            <ul>
              <li *ngFor="let menu of menus;let i = index">
                <a [routerLink]="menu.routerLink" [routerLinkActiveOptions]="{exact:true}" (click)="showMenu = false"
                   routerLinkActive="active" [innerHTML]="menu.text" *ngIf="i === 0"></a>
                <a [routerLink]="menu.routerLink" (click)="showMenu = false"
                   routerLinkActive="active" [innerHTML]="menu.text" *ngIf="i !== 0"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="bg-menu" [class.show]="showMenu === true" (click)="showMenu = false"></div>
