header {
  //* {
  //  font-family: sf_pro_display;
  //}

  .top {
    background-color: #f1f1f1;
    line-height: 30px;
    padding: 7px 0px;

    .box {
      padding: 0px 15px;
      margin-left: auto;
      display: flex;

      a {
        color: #4c4c4c;
        font-size: 12px;
        padding-left: 24px;
        line-height: 16px;
        display: block;
        background-position: center left;
        background-repeat: no-repeat;
        background-size: 16px;

        &:nth-child(1) {
          background-image: url("/assets/images/home/icon-phone.png");
          margin-right: 16px;
        }

        &:nth-child(2) {
          background-image: url("/assets/images/home/icon-email.png");
        }
      }
    }
  }

  .bottom {
    background-color: white;
    padding: 5px 0px;
    height: 70px;

    .col-12 {
      display: flex;
    }

    .logo {
      cursor: pointer;

      img {
        height: 60px;
        display: block;
        float: left;
      }

      h1 {
        font-size: 24px;
        //font-family: sf_pro_displaysemibold;
        color: #3a6d4b;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 60px;
        float: left;
        margin-bottom: 0px;
      }
    }

    .menu {
      padding: 22px 0px;
      margin-left: auto;

      ul {
        display: flex;
        list-style: none;
        margin: 0px;
        padding: 0px;

        li {
          line-height: 16px;
          margin: 0px 9px;

          &:first-child {
            margin-left: 0px;
          }

          &:last-child {
            margin-right: 0px;
          }

          a {
            color: #4c4c4c;
            text-decoration: none;

            &.active,
            &:hover {
              font-family: sf_pro_displaybold;
              color: #3a6d4b;
            }
          }
        }
      }
    }
  }
}

.bg-menu {
  display: none;
}

.icon-menu {
  cursor: pointer;
  display: none;
}

@media (max-width: 1199px) {
  .icon-menu {
    display: block;
    width: 50px;
    margin-left: auto;
    color: red;
    height: 50px;
    top: 14px;
    margin-top: 5px;
  }
  .bg-menu {
    display: block;

    &.show {
      left: 0px;
    }

    transition: 0.5s;
    position: fixed;
    left: calc(250px - 100%);
    height: calc(100vh - 30px);
    width: calc(100% - 250px);
    top: 30px;
    padding: 0px;
    background-color: rgba(0,
      0,
      0,
      0.8);
    z-index: 999;
  }
  header .bottom .menu {
    position: fixed;
    height: calc(100vh - 30px);
    width: 250px;
    top: 30px;
    padding: 0px;
    right: -250px;
    transition: 0.5s;

    &.show {
      right: 0px;
    }

    display: block;
    background-color: white;

    ul {
      display: block;

      li {
        margin: 0px;

        a {
          line-height: 35px;
          margin: 0px;
          padding: 0px 15px;
          width: 100%;
          display: block;

          &.active,
          &:hover {
            background-color: #3a6d4b;
            color: white;
            font-weight: normal;
          }
        }
      }
    }
  }
}

:focus {
  outline-color: transparent
}

@media (max-width: 767px) {
  header .bottom .logo h1 {
    font-size: 16px
  }
}
