<div class="wrap-home">
  <section id="banner" (click)="onToggle()">
    <div class="slider-banner" *ngFor="let item of slider">

      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of item.resMedia" class="slide">
          <div class="item">
            <a><img src="{{slide.image}}" alt=""></a>
          </div>

        </div>
      </ngx-slick-carousel>
    </div>
    <div class="form-search">
      <h3>ĐẶT PHÒNG</h3>
      <div>
        <div class="form">
          <!--<div class="form-box">-->
          <!--<input class="type_room" type="text" placeholder="{{temp_type_room}}" [ngModel]=temp_filter.type_room readonly-->
          <!--(mouseenter)="onToggle2(true)"-->
          <!--(mouseleave)="onToggle2(false)">-->
          <!--<div *ngIf="show && (array_Hotelroomtype.length > 0)" class="box-type-room">-->
          <!--<p *ngFor="let room_type of array_Hotelroomtype"-->
          <!--(click)="setDataFilter('room', room_type?.id, room_type?.name)">{{room_type?.name}}</p>-->
          <!--</div>-->
          <!--</div>-->
          <div class="form-box">
            <input class="date start_date" type="text" placeholder="Ngày nhận phòng" readonly="true"
                   [minDate]="today"
                   [(ngModel)]="filter.start_date"
                   [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                   (ngModelChange)="pickStartdate(filter.start_date)"
                   bsDatepicker>
          </div>
          <div class="form-box">
            <input class="date end_date" type="text" placeholder="Ngày trả phòng"
                   readonly="true"
                   [(ngModel)]="filter.end_date"
                   [minDate]="filter.start_date"
                   [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                   bsDatepicker>
          </div>
          <div class="form-box" ngbDropdown>
            <input class="member" type="text" placeholder="{{filter.num}} người"
                   [attr.value]="temp_numpeople" id="dropdownForm1" ngbDropdownToggle readonly>
            <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="drop-picknumber">
              <div class="display-flex">
                <div class="form-group">
                  Chọn số người:
                </div>
                <div>
                  <span (click)="setnumber(false)">-</span>
                  <span>{{filter.num}}</span>
                  <span (click)="setnumber(true)">+</span>
                </div>
              </div>
            </div>
          </div>
          <a (click)="sendfilter()" routerLink="/tim-kiem">TÌM KIẾM</a>
        </div>
      </div>
    </div>
    <div *ngFor="let item of chungtoi">
      <div class="why-us" [style.backgroundImage]="'url('+item.image+')'">
        <div class="container">
          <div class="row">
            <h3 class="col-12 text-center">
              VÌ SAO CHỌN THIÊN SƠN SUỐI NGÀ ?
            </h3>
            <div class="col-md-6 col-lg-3 text-center why-us-part">
              <img src="assets/images/home/img1.png" alt="">
              <h4 routerLink="/thu-vien">Thiên nhiên trong lành</h4>
              <p>Tận hưởng không khí trong lành tại khu nghỉ dưỡng cùng gia đình sau những ngày làm căng thẳng</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center why-us-part">
              <img src="assets/images/home/img2.png" alt="">
              <h4 routerLink="/am-thuc">Ẩm thực - Đặc sản</h4>
              <p>Với khuôn viện rộng rãi, rất phù hợp cho các sự kiện văn nghệ, team building dành cho đoàn thể và công ty
                đến đây</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center why-us-part">
              <img src="assets/images/home/chang-duong-433452-unsplash copy.png" alt="">
              <h4 routerLink="/to-chuc-su-kien">Tổ chức sự kiện</h4>
              <p>Với khuôn viện rộng rãi, rất phù hợp cho các sự kiện văn nghệ, team building dành cho đoàn thể và công ty
                đến đây</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center why-us-part">
              <img src="assets/images/home/img.png" alt="">
              <h4 routerLink="/dich-vu">Dịch vụ chuyên nghiệp</h4>
              <p>Đội ngũ nhân viên phục vụ tận tâm, chuyên nghiệp, luôn đem đến cho quý khách dự thoải mái và hài lòng
                nhất</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section id="combo">
    <div class="container">
      <div class="row">
        <h3 class="col-12 text-center">
          COMBO
        </h3>
        <div class="col-12">
          <div class="slider-combo">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig2">
              <div ngxSlickItem *ngFor="let slide of combo" class="slide">
                <div class="item">
                  <div class="image">
                    <figure>
                      <img src="{{slide.image}}" routerLink="/combo/{{slide?.slug}}">
                    </figure>
                    <div class="label-combo">Combo</div>
                  </div>
                  <div class="info">
                    <div class="name">
                      <a routerLink="/combo/{{slide?.slug}}">{{slide.name}}</a>
                    </div>
                    <div class="about">
                      <div class="label">
                        <p>Bao gồm: </p>
                      </div>
                      <div class="service">
                        <p>{{slide.include}}</p>
                      </div>
                    </div>
                    <div class="time">
                      <p>Áp dụng: Từ {{slide.from_date | date: 'dd/MM/yyyy'}} - {{slide.to_date | date: 'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="booking">
                      <div class="price">
                        <p class="old-price" *ngIf="slide.price_promotion"><span>{{slide.price | number}}</span>đ/Người</p>
                        <p class="sale-price" *ngIf="slide.price_promotion"><span>{{slide.price_promotion | number}}</span>đ/Người</p>
                        <p class="old-price old-2" *ngIf="!slide.price_promotion"><span></span></p>
                        <p class="sale-price" *ngIf="!slide.price_promotion"><span>{{slide.price | number}}</span>đ/Người</p>
                      </div>
                      <div class="button">
                        <a routerLink="/combo/{{slide?.slug}}">CHI TIẾT</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>


          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="tssn-blog">
    <div class="type">
      <h3 class="text-center">CÁC LOẠI PHÒNG</h3>
      <div class="list-type">

        <div class="item" *ngFor="let item of list_type_of_room">

          <div class="box-item" routerLink="{{item?.router}}">
            <div class="img">
              <div class="hovereffect">
                <img class="img-responsive" src="{{item?.image}}" alt="">
                <a>
                  <div class="overlay">
                    <div class="name-type">
                      <h2>{{item.name}}</h2>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="highlight-room" *ngIf="hotelnoibat">
        <div class="row">
          <h3 class="col-12 text-center">PHÒNG NỔI BẬT</h3>
          <div class="col-lg-4 col-md-6 room" *ngFor="let item of hotelnoibat.slice(0,3)">
            <div class="image">
              <figure>
                <img src="{{item.image}}" routerLink="{{item?.router}}">
              </figure>
            </div>
            <div class="info">
              <div class="name">
                <a routerLink="{{item?.router}}">{{item.name}}</a>
              </div>
              <div class="about">
                <div class="label">
                  <p>Bao gồm: </p>
                </div>
                <div class="service">
                  <p [innerHTML]="item.include">
                </div>
              </div>
              <div class="time">
                <p>Áp dụng: Từ {{item.check_in | date: 'dd/MM/yyyy'}} - {{item.check_out | date: 'dd/MM/yyyy'}}</p>
              </div>
              <div class="booking">
                <div class="price">
                  <p class="old-price"><span>{{item.price | number}}</span>đ/Người</p>
                  <p class="sale-price"><span>{{item.price_promotion | number}}</span>đ/Người</p>
                </div>
                <div class="button">
                  <a routerLink="{{item?.router}}">CHI TIẾT</a>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="introduce">
        <!-- trang chủ 1 -->
        <div class="row">
          <h3 class="col-12 text-center">
            VỀ THIÊN SƠN SUỐI NGÀ
          </h3>
          <!-- trang chủ 1 -->
          <div class="col-12">
            <div class="content text-center" *ngFor="let item of aboutUs">
              <p [innerHTML]="item.description">
            </div>
          </div>
          <div class="col-12 story" *ngIf="image">
            <div class="column">
              <div class="box-column">
                <div class="inside">
                  <div class="row-img">
                    <div class="medium" *ngFor="let item of image[0].resMedia.slice(0,1)">
                      <div class="medium-img"><img src="{{item.image}}" alt=""></div>
                    </div>
                  </div>
                  <div class="row-img">
                    <div class="box" *ngFor="let item of image[0].resMedia.slice(1,3)">
                      <div class="box-img">
                        <div class="small-img"><img src="{{item.image}}" alt=""></div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="big-img" *ngFor="let item of image[0].resMedia.slice(3,4)"><img src="{{item.image}}" alt="">
              </div>
            </div>
            <div class="column">
              <div class="box-column">
                <div class="inside">
                  <div class="row-img">
                    <div class="box" *ngFor="let item of image[0].resMedia.slice(4,6)">
                      <div class="box-img">
                        <div class="small-img"><img src="{{item.image}}" alt=""></div>
                      </div>
                    </div>

                  </div>
                  <div class="row-img">
                    <div class="medium" *ngFor="let item of image[0].resMedia.slice(6,7)">
                      <div class="medium-img"><img src="{{item.image}}" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <a class="see-more" routerLink="/thu-vien">Xem thêm hình ảnh</a>
          </div>
        </div>
        <!-- end trang chủ 1 -->
        <!-- trang chủ 2 -->
        <!--<div class="row ">-->
        <!--<div class="col-12 story2">-->
        <!--<div class="column1">-->
        <!--<div class="big-img">-->
        <!--<img src="assets/images/home/Mask Group 1.png" alt="">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="column2">-->
        <!--<div class="row-1">-->
        <!--<img src="assets/images/home/img7.png" alt="">-->
        <!--</div>-->
        <!--<div class="row-2">-->
        <!--<div class="medium-img">-->
        <!--<div class="box-medium-image">-->
        <!--<img src="assets/images/home/img3.png" alt="">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="medium-img">-->
        <!--<div class="box-medium-image">-->
        <!--<img src="assets/images/home/img5.png" alt="">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row-3">-->
        <!--<div class="small-img">-->
        <!--<div class="box-small-image">-->
        <!--<img src="assets/images/home/DSC_0902.png" alt="">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="small-img">-->
        <!--<div class="box-small-image">-->
        <!--<img src="assets/images/home/38753001_564697720599784_1938412963677339648_n.png" alt="">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="small-img">-->
        <!--<div class="box-small-image">-->
        <!--<img src="assets/images/home/23732495_644858302351101_283220502_o.png" alt="">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="column3">-->
        <!--<h3>-->
        <!--VỀ THIÊN SƠN SUỐI NGÀ-->
        <!--</h3>-->
        <!--<div class="content2">-->
        <!--<p><b>Thiên Sơn Suối Ngà</b> được thiết kế theo lối không gian mở, yên bình và hiền hoà. Tất cả các hệ-->
        <!--thống phòng nghỉ, nhà hàng, dịch vụ đều nằm dọc theo hồ Suối Bơn xanh trong, bát ngát, một điển hình mới-->
        <!--cho sự giao thoa giữa-->
        <!--trời và đất, nơi đây thiên nhiên thật gần gũi với con người.</p>-->

        <!--<p>Hệ thống 85 phòng nghỉ được chia thành 2 khu : Nhà sàn, phòng khách sạn. Các phòng nghỉ đều hướng ra hồ-->
        <!--Suối Bơn và khu vườn xanh mướt và đều có chung một phong cách: bên ngoài mộc mạc đơn sơ, bên trong có-->
        <!--đầy đủ trang thiết-->
        <!--bị hiện đại</p>-->

        <!--<p>Hãy đến và cùng cảm nhận !</p>-->
        <!--</div>-->
        <!--<a class="see-more-2">Xem thêm</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
      </div>
      <div class="list-blogs" *ngFor="let item of tintuc;let is=index">
        <div class="row">
          <h3 class="col-12 text-center">
            TIN TỨC
          </h3>

          <div class="col-md-6 blog" *ngFor="let i of item.resBlogs.slice(0,4)">
            <div class="image">
              <div class="box-image">
                <figure>
                  <img src="{{i.image}}" routerLink="/tin-tuc/{{item.slug}}/{{i?.slug}}">
                </figure>
              </div>
            </div>
            <div class="info-blog">
              <div class="name">
                <a routerLink="/tin-tuc/{{item.slug}}/{{i?.slug}}">{{i.name}}</a>
              </div>
              <div class="content-blog">
                <p [innerHTML]="i.short_description">
              </div>
              <span>
              <a class="button-info" routerLink="/tin-tuc/{{item.slug}}">{{item.name}}</a>
            </span>
              <p class="write-date">{{i.create_date | date: 'dd/MM/yyyy'}}</p>
              <p class="view">{{i.view}} lượt xem</p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
</div>
