.wrap-home {
  /* font */


  /* banner */

  #banner .item a {
    padding-bottom: calc(100% * 500 / 1440);
    position: relative;
    display: block;
  }

  #banner .item img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-position: center;
    object-fit: cover;
  }

  .slider-banner, .slider-combo {
    margin: 0 !important;

    ::ng-deep {
      .slick-prev {
        left: calc(111 / 1440 * 100%) !important;
        background-image: url('/assets/images/logo/ic24-left.png') !important;
        background-repeat: no-repeat !important;
        background-size: 36px 36px !important;
        width: 36px !important;
        height: 36px !important;
        z-index: 9;
        opacity: .7;

        &:hover {
          opacity: 1;
        }
      ;

        &:before {
          display: none;
        }
      }

      .slick-next {
        right: calc(111 / 1440 * 100%) !important;
        background-image: url('/assets/images/home/right.png') !important;
        background-repeat: no-repeat !important;
        background-size: 36px 36px !important;
        width: 36px !important;
        height: 36px !important;
        z-index: 9;
        opacity: .7;

        &:hover {
          opacity: 1;
        }
      ;
      }

      .slick-dots {
        bottom: calc(26 / 500 * 100%) !important;

        li button:before {
          color: #7d7878 !important;
        }

        li.slick-active button:before, li:hover button:before {
          opacity: 1;
          font-size: 9px;
          color: #fff !important;
        }
      }
    }

    li ::ng-deep.slick-active button:before {
      color: white !important;
      font-size: 10px !important;
      margin-top: 0 !important;
    }
  }

  ::ng-deep.slick-next:before {
    display: none;
  }

  .slider-combo {
    ::ng-deep {
      .slick-prev {
        left: -7px !important;
        top: 40%;
      }

      .slick-next {
        right: -7px !important;
        top: 40%;
      }

      .slick-dots {
        bottom: -60px !important;

        li button:before {
          color: #7d7878 !important;
        }

        li.slick-active button:before, li:hover button:before {
          opacity: 1;
          font-size: 9px;
          color: #22ae51 !important;
        }
      }
    }
  }

  .form-search {
    max-width: 756px;
    margin: auto;
    padding: 20px 19px;
  }

  .form-search h3 {
    font-size: 14px;
    color: black;
    font-family: sf_pro_displaybold;
  }

  .form {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }

  .form input {
    background-color: white;
    padding-left: 36px;
    padding-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 14px;
    color: black;
    font-family: sf_ui_displayregular;
    position: relative;
    height: 36px;
  }

  .form input::placeholder {
    font-size: 14px;
    color: #bbbbbb;
    font-family: sf_ui_displayregular;
  }

  .form-search .form-box:before {
    content: '';
    background-image: url('/assets/images/logo/ic_expand_more_18px.png');
    background-repeat: no-repeat;
    height: 6px;
    width: 9px;
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 9;
  }

  .form a {
    display: block;
    height: 36px;
    line-height: 36px;
    background-color: #3a6d4b;
    color: white;
    width: 170px;
    text-align: center;
    font-family: sf_pro_displaybold;
    font-size: 14px;
    background-image: url('/assets/images/logo/ic24-door copy.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left 42px center;
    padding-left: 26px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .form a:hover {
    text-decoration: none;
    background-color: #22ae51;
  }

  .form .date {
    width: 185px;
    background-image: url('/assets/images/logo/bxs-calendar.png');
    background-repeat: no-repeat;
    background-size: 15px 16px;
    background-position: left 12px center;
    cursor: pointer;
  }

  .form .type_room {
    width: 200px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-image: url('/assets/images/logo/door.png');
    background-repeat: no-repeat;
    background-size: 12px 16px;
    background-position: left 12px center;
    cursor: pointer;
  }

  .form .form-box {
    position: relative;
    cursor: pointer;

    .drop-picknumber {
      width: 130%;
      left: -15% !important;
      padding: 20px 20px 14px;
      background-color: #3a6d4b;
      border-radius: 4px;
      box-shadow: 0px 0px 3px 0px white;
      z-index: 3;
      justify-content: space-between;
      transform: translate(0px, 35px) !important;

      .display-flex {
        display: flex;
        justify-content: space-between;

        div:nth-child(1) {
          margin-bottom: 0;
        }

        div:nth-child(2) {
          border-radius: 2rem;
          border: 0;
          background: #fff;
          color: #222;
          box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);

          span {
            -moz-user-select: -moz-none;
            -webkit-user-select: none;
            -o-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          span:nth-child(1), span:nth-child(3) {
            width: 24px;
            height: 24px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            border-radius: 0 12px 12px 0;

            &:hover {
              background: rgb(255, 255, 255);
              background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(247, 249, 248, 1) 24%, rgba(58, 109, 75, 1) 100%);
            }
          }

          span:nth-child(1) {
            border-radius: 12px 0 0 12px;

            &:hover {
              background: rgb(58, 109, 75);
              background: linear-gradient(90deg, rgba(58, 109, 75, 1) 0%, rgba(247, 249, 248, 1) 76%, rgba(255, 255, 255, 1) 100%);
            }
          }

          span:nth-child(2) {
            width: 24px;
            display: inline-block;
            text-align: center;
          }
        }
      }
    }
  }

  .form .box-type-room {
    width: 135%;
    position: absolute;
    display: block;
    top: 36px;
    left: 0;
    border: solid 0.5px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    background-color: white;
    z-index: 20;
  }

  .form .box-type-room p {
    margin: 0px;
    font-family: sf_ui_displayregular;
    font-size: 14px;
    color: black;
    line-height: 16px;
    padding: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);

    &:hover {
      background-color: #3a6d4b;
      color: #fff;
    }
  }

  .form .box-type-room p:last-child {
    border-color: transparent;
  }

  .form .member {
    background-image: url('/assets/images/logo/bxs-user.png');
    background-repeat: no-repeat;
    background-size: 15px 16px;
    background-position: left 10px center;
    width: 176px;
  }


  /* why-us */

  .why-us {
    background-image: url('/assets/images/home/BG.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .why-us .container {
    padding: 65px 15px;
  }

  .why-us h3 {
    font-size: 24px;
    font-family: sf_pro_displaybold;
    color: white;
    margin-bottom: 41px;
  }

  .why-us img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: auto;
    border: 1.5px solid white;
  }

  .why-us h4 {
    color: white;
    font-size: 18px;
    font-family: sf_pro_displaybold;
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
  }

  .why-us p {
    color: white;
    font-size: 14px;
    font-family: sf_ui_displayregular;
    margin: 0px;
  }


  /* combo */

  #combo {
    background-color: #f1f1f1;
  }

  #combo .container {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  #combo h3 {
    font-size: 24px;
    font-family: sf_pro_displaybold;
    color: black;
    margin-bottom: 50px;
  }

  .slider-combo {
    margin: 0px -12px;
  }

  #combo .item {
    padding: 0px 12px;
  }

  #combo .item .image {
    padding-bottom: calc(100% * 246 / 368);
    position: relative;
  }

  #combo .item figure {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    border-radius: 3px;
  }

  #combo .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  #combo .item figure:hover img {
    -webkit-transform: rotate(13deg) scale(1.3);
    transform: rotate(5deg) scale(1.2);
    cursor: pointer;
  }

  #combo .item .image .label-combo {
    position: absolute;
    left: 9.5px;
    bottom: 8.5px;
    background-color: #ff0013;
    border-radius: 3px;
    height: 24px;
    line-height: 24px;
    display: block;
    color: white;
    font-size: 14px;
    font-family: sf_ui_displayregular;
    width: 67px;
    text-align: center;
  }

  #combo .item .info {
    padding: 7px 10px 25px 10px;
    background-color: white;
  }

  #combo .item .info .name a {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-family: sf_pro_displaybold;
    color: black;
    line-height: 21px;
  }

  #combo .item .info .name a:hover {
    text-decoration: none;
    color: #3a6d4b;

  }

  #combo .item .info .name {
    height: 44px;
    overflow: hidden;
    margin-bottom: 16px;

  }

  #combo .info .about {
    display: flex;
    flex-direction: row;
    margin-bottom: 9.4px;
  }

  #combo .about p {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    color: #4c4c4c;
    line-height: 17px;
    margin-bottom: 9px;
  }

  #combo .about .label {
    width: calc(100% * 65 / 348);
  }

  #combo .about .service {
    height: 33px;
    overflow: hidden;
    width: calc(100% * (348 - 65) / 348);
  }

  #combo .time {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    color: #4c4c4c;
    line-height: 17px;
    margin-bottom: 14px;
  }

  #combo .booking {
    display: flex;
    flex-direction: row;
  }

  #combo .button {
    width: calc((368 / 2 - 30) / 348 * 100%);
  }

  #combo .button a {
    padding: 0px;
    display: block;
    text-align: center;
    height: 36px;
    line-height: 36px;
    color: white;
    font-size: 14px;
    font-family: sf_pro_displaybold;
    background-color: #3a6d4b;
    border-radius: 3px;
  }

  #combo .button a:hover {
    background-color: #22ae51;
    text-decoration: none;
  }

  #combo .price {
    width: calc((368 / 2 + 20) / 348 * 100%);
  }

  #combo .old-price {
    margin-bottom: 2.4px !important;
    font-family: sf_pro_displaymedium;
    font-size: 16px;
    color: #4c4c4c;
    line-height: 16px;
    text-decoration: line-through;
  }

  #combo .old-2 {
    margin-bottom: 8px !important;
  }

  #combo .old-price span {
    color: black;
  }

  #combo .sale-price {
    margin: 0px;
    font-family: sf_pro_displaymedium;
    font-size: 14px;
    color: #4c4c4c;
    line-height: 18px;
  }

  #combo .sale-price span {
    color: #ff0013;
    font-size: 18px;
    font-weight: bold;
  }

  .slider-combo .slick-prev {
    left: -5px !important;
    background-image: url('/assets/images/logo/ic24-left.png') !important;
    background-repeat: no-repeat !important;
    background-size: 36px 36px !important;
    width: 36px !important;
    height: 36px !important;
    z-index: 9;
    top: 41% !important;
  }

  .slider-combo .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0px !important;
  }

  .slider-combo .slick-next {
    right: -5px !important;
    background-image: url('/assets/images/logo/ic24-right.png') !important;
    background-repeat: no-repeat !important;
    background-size: 36px 36px !important;
    width: 36px !important;
    height: 36px !important;
    z-index: 9;
    top: 41% !important;
  }

  .slider-combo .slick-dots {
    bottom: -66px !important;
  }

  .slider-combo .slick-dots li button:before {
    color: rgba(0, 0, 0, 0.12) !important;
    margin-top: -1px !important;
    opacity: 1;
  }

  .slider-combo li.slick-active button:before {
    color: #22ae51 !important;
    font-size: 10px !important;
    margin-top: 0px !important;
  }


  /* type room */

  #tssn-blog {
    padding: 50px 0px;
  }

  #tssn-blog .type {
    //max-width: 1440px;
    margin: auto;
  }

  .type h3 {
    font-size: 24px;
    font-family: sf_pro_displaybold;
    color: black;
    margin-bottom: 51px;
  }


  /* list-type-room */

  .list-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 49px;
  }

  .list-type .item {
    width: calc((1440 - 15) / 3 / 1440 * 100%);
  }

  .list-type .item a {
    cursor: pointer;
  }

  .list-type .box-item {
    padding-bottom: calc(100% * 240 / 475);
    position: relative;
  }

  .list-type .box-item .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .list-type figure {
    position: relative;
    border-radius: 3px;
  }

  .list-type figure img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    object-position: center;
  }


  /* effect */

  .hovereffect {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }

  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: block;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(460px, -100px) rotate(180deg);
    -ms-transform: translate(460px, -100px) rotate(180deg);
    transform: translate(460px, -100px) rotate(180deg);
    -webkit-transition: all 0.2s 0.4s ease-in-out;
    transition: all 0.2s 0.4s ease-in-out;
  }

  .hovereffect img {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 24px;
    line-height: 29px;
    font-family: sf_pro_displaybold;
  }

  .hovereffect .name-type {
    width: 100%;
    position: absolute;
    top: calc((100% - 29px) / 2);
  }

  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }

  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  .hovereffect:hover h2 {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }


  /* highlight-room */

  .highlight-room {
    margin-bottom: 25px;
  }

  .highlight-room h3 {
    font-size: 24px;
    font-family: sf_pro_displaybold;
    color: black;
    margin-bottom: 50px;
  }

  .room {
    margin-bottom: 20px;
  }

  .room .image {
    padding-bottom: calc(100% * 301 / 368);
    position: relative;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .room .image figure {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    border-radius: 3px;
  }

  .room .image img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .room .image figure:hover img {
    -webkit-transform: rotate(13deg) scale(1.3);
    transform: rotate(5deg) scale(1.2);
    cursor: pointer;
  }

  .room .info {
    padding: 7px 10px 25px 10px;
    background-color: white;
    border: solid 0.5px #bbbbbb;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-color: transparent;
  }

  .room .info .name a {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-family: sf_pro_displaybold;
    color: black;
    line-height: 21px;
  }

  .room .info .name a:hover {
    text-decoration: none;
    color: #3a6d4b;
  }

  .room .info .name {
    height: 42px;
    overflow: hidden;
    margin-bottom: 16px;
    line-height: 20px;
  }

  .room .info .about {
    display: flex;
    flex-direction: row;
    margin-bottom: 9.4px;
  }

  .room .about p {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    color: #4c4c4c;
    line-height: 17px;
  }

  .room .about .label {
    width: calc(100% * 65 / 348);
  }

  .room .about .service {
    height: 33px;
    overflow: hidden;
    width: calc(100% * (348 - 65) / 348);
  }

  .room .time {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    color: #4c4c4c;
    line-height: 17px;
    margin-bottom: 14px;
  }

  .room .booking {
    display: flex;
    flex-direction: row;
  }

  .room .button {
    width: calc((368 / 2 - 30) / 348 * 100%);
  }

  .room .button a {
    padding: 0px;
    display: block;
    text-align: center;
    height: 36px;
    line-height: 36px;
    color: white;
    font-size: 14px;
    font-family: sf_pro_displaybold;
    background-color: #3a6d4b;
    border-radius: 3px;
  }

  .room .button a:hover {
    background-color: #22ae51;
    text-decoration: none;
  }

  .room .price {
    width: calc((368 / 2 + 20) / 348 * 100%);
  }

  .room .old-price {
    margin-bottom: 2.4px !important;
    font-family: sf_pro_displaymedium;
    font-size: 16px;
    color: #4c4c4c;
    line-height: 16px;
    text-decoration: line-through;
  }

  .room .old-price span {
    color: black;
  }

  .room .sale-price {
    margin: 0px;
    font-family: sf_pro_displaymedium;
    font-size: 14px;
    color: #4c4c4c;
    line-height: 18px;
  }

  .room .sale-price span {
    color: #ff0013;
    font-size: 18px;
    font-weight: bold;
  }


  /* introduce trang chu 1*/

  .introduce h3 {
    font-size: 24px;
    font-family: sf_pro_displaybold;
    color: black;
    margin-bottom: 19px;
  }

  .introduce .content {
    max-width: 806px;
    margin: auto;
    margin-bottom: 28px !important;
    font-family: sf_ui_displayregular;
    font-size: 14px;
    color: black;
    line-height: 20px;
  }

  .introduce .story {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .introduce .story .column {
    width: calc((100% - 3px) / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .introduce .story .box-column {
    padding-bottom: 100%;
    position: relative;
  }

  .introduce .story .inside {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .story .big-img {
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;

    &:hover {
      img {
        transform: rotate(7deg) scale(1.3);
        transition: 0.3s ease-in-out;
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  .story .small-img {
    padding-bottom: 100%;
    padding-left: 100%;
    position: absolute;
    overflow: hidden;

    &:hover {
      img {
        transform: rotate(7deg) scale(1.3);
        transition: 0.3s ease-in-out;
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  .story .medium-img {
    position: relative;
    padding-bottom: calc(50% - 0.75px);
    padding-left: 100%;
    overflow: hidden;

    &:hover {
      img {
        transform: rotate(7deg) scale(1.3);
        transition: 0.3s ease-in-out;
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  .story .medium {
    width: 100%;
    height: 100%;
  }

  .introduce .story img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    object-position: center;
    object-fit: cover;
  }

  .column .row-img {
    height: calc((100% - 1.5px) / 2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .row-img .box {
    width: calc((100% - 1.5px) / 2);
  }

  .story .box-img {
    padding-bottom: 100%;
    position: relative;
  }

  .see-more {
    display: block;
    height: 36px;
    line-height: 36px;
    border: solid 1px #3a6d4b;
    border-radius: 3px;
    width: 172px;
    margin: auto;
    text-align: center;
    color: #3a6d4b !important;
    font-size: 14px;
    font-family: sf_ui_displayregular;
    margin-bottom: 50px;
    cursor: pointer;
    text-decoration: none;
  }

  .see-more:hover {
    color: white !important;
    background-color: #3a6d4b;
  }


  /* introduce trang chu 2*/

  .story2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .story2 .column1 {
    width: calc(100% * 368 / 1152);
  }

  .story2 .column2 {
    width: calc(100% * 396 / 1152);
  }

  .story2 .column3 {
    width: calc(100% * 368 / 1152);
  }

  .story2 .big-img {
    padding-bottom: calc(100% * 492 / 368);
    position: relative;
  }

  .story2 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
  }

  .story2 .row-1 {
    padding-bottom: calc(100% * 190 / 396);
    position: relative;
    margin-bottom: 10px;
  }

  .story2 .row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .story2 .row-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .story2 .medium-img {
    width: calc((100% - 10px) / 2);
  }

  .story2 .box-medium-image {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
  }

  .story2 .small-img {
    width: calc((100% - 20px) / 3);
  }

  .story2 .box-small-image {
    padding-bottom: calc(100% * 88 / 125);
    position: relative;
  }

  .column3 {
    padding: 28px 36px;
    border-radius: 3px;
    border: solid 0.5px #bbbbbb;
    background-color: var(--white);
  }

  .column3 h3 {
    font-family: sf_pro_displaybold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .column3 .content2 {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
  }

  .column3 .see-more-2 {
    display: block;
    height: 36px;
    line-height: 36px;
    border: solid 1px #3a6d4b;
    border-radius: 3px;
    width: 120px;
    text-align: center;
    color: #3a6d4b !important;
    font-size: 14px;
    font-family: sf_ui_displayregular;
  }

  .see-more-2:hover {
    color: white !important;
    background-color: #3a6d4b;
  }


  /* list-blog */

  .list-blogs h3 {
    font-size: 24px;
    font-family: sf_pro_displaybold;
    color: black;
    margin-bottom: 20px;
  }

  .blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }

  .blog .image {
    width: calc(100% * 281.5 / 564);
  }

  .blog .box-image {
    height: 100%;
    width: 100%;
  }

  .blog .image figure {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
  }

  .blog .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 1;
  }

  .blog .image figure:hover img {
    -webkit-transform: rotate(13deg) scale(1.3);
    transform: rotate(7deg) scale(1.3);
    cursor: pointer;
    opacity: 0.7;
  }

  .blog .info-blog {
    width: calc(100% * (564 - 281.5) / 564);
    padding: 10px;
    border: solid 0.5px rgba(0, 0, 0, 0.12);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left-color: transparent;
  }

  .info-blog .name {
    height: 36px;
    line-height: 16px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .info-blog .name a {
    font-size: 14px;
    font-family: sf_pro_displaybold;
    color: black;
  }

  .info-blog .name a:hover {
    text-decoration: none;
    color: #3a6d4b;
  }

  .info-blog .content-blog {
    height: 56px;
    line-height: 18px;
    overflow: hidden;
    margin-bottom: 9px;
  }

  .info-blog .content-blog p {
    font-size: 14px;
    font-family: sf_ui_displayregular;
    color: #4c4c4c;
    line-height: 18px;
  }

  .info-blog span {
    display: block;
    margin-bottom: 8px;
  }

  .info-blog .button-info {
    display: inline;
    padding: 4px 25px;
    height: 24px;
    text-align: center;
    line-height: 22px;
    border-radius: 3px;
    border: solid 1px #3a6d4b;
    color: #3a6d4b !important;
    font-size: 14px;
    font-family: sf_ui_displayregular;
    margin-bottom: 8px;
  }

  .info-blog .button-info:hover {
    color: white !important;
    background-color: #3a6d4b;
    text-decoration: none;
  }

  .info-blog .write-date {
    color: #bbbbbb;
    font-size: 14px;
    font-family: sf_ui_displayregular;
    line-height: 16px;
    margin: 0px;
    float: left;
  }

  .view {
    padding-left: 11.5px;
    position: relative;
    float: left;
    color: #bbbbbb;
    font-size: 14px;
    font-family: sf_ui_displayregular;
    line-height: 16px;
    margin: 0px;
  }

  .view:before {
    content: '';
    display: block;
    height: 4px;
    width: 4px;
    background-color: #bbbbbb;
    border-radius: 4px;
    position: absolute;
    top: 7px;
    left: 3px;
  }

  @media screen and (max-width: 1199px) {
    /* trang chủ 2 */
    .introduce .story2 {
      flex-direction: row;
      flex-flow: wrap;
    }
    .introduce .story2 .column1 {
      width: calc(100% * 368 / 774) !important;
      margin-bottom: 10px;
    }
    .introduce .story2 .column2 {
      width: calc(100% * 396 / 774) !important;
      margin-bottom: 10px;
    }
    .introduce .story2 .column3 {
      width: 100% !important;
      margin-bottom: 0px;
    }
    /* combo */
    #combo .about .label {
      width: calc(100% * 75 / 348);
    }
    #combo .about .service {
      height: 33px;
      overflow: hidden;
      width: calc(100% * (348 - 75) / 348);
    }
    /* room */
    .room .about .label {
      width: calc(100% * 75 / 348);
    }
    .room .about .service {
      height: 33px;
      overflow: hidden;
      width: calc(100% * (348 - 75) / 348);
    }
  }

  @media screen and (max-width: 1023px) {
    /* form-search */
  .form-search .form .form-box .drop-picknumber{
    width: 100% !important;
    left: 0px !important;
  }
    .form-search .form {
      flex-direction: column;
    }
    .form-search .form input {
      height: 36px;
      width: 100%;
      margin-bottom: 5px;
      border-radius: 3px;
    }
    .form-search .form a {
      margin: auto;
      margin-top: 10px !important;
      border-radius: 3px;
    }
    /* blog */
    .blog {
      flex-direction: column !important;
    }
    .blog .image {
      width: 100% !important;
    }
    .blog .info-blog {
      width: 100% !important;
      border-left-color: rgba(0, 0, 0, 0.12) !important;
      border-top-right-radius: 0px !important;
      border-bottom-left-radius: 3px;
    }
    .blog .box-image {
      padding-bottom: calc(100% * 178 / 282);
      position: relative;
    }
    .blog .box-image figure {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 3px;
      overflow: hidden;
    }
    .blog .box-image img {
      border-top-right-radius: 3px;
      border-bottom-left-radius: 0px !important;
    }
    .info-blog .view {
      padding: 0px;
    }
    .info-blog .view:before {
      display: none;
    }
    /* why us */
    .why-us .why-us-part {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    /* banner */
    .slider-banner .slick-next,
    .slider-banner .slick-prev {
      background-size: 18px 18px !important;
      width: 18px !important;
      height: 18px !important;
    }
    /* type-room */
    .list-type {
      flex-direction: column !important;
    }
    .list-type .item {
      width: 100% !important;
      margin-bottom: 7.5px;
    }
    .hovereffect .overlay {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
    }
    .hovereffect h2 {
      -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-transition-delay: 0.5s;
    }
    /* introduce trang chủ 1*/
    .introduce .story {
      flex-direction: column !important;
      /* 	justify-content: start!important; */
    }
    .introduce .story .column {
      width: 100% !important;
      margin-bottom: 1.5px;
    }
    .introduce .row-img {
      width: 100% !important;
    }
    /* trang chủ 2 */
    .introduce .story2 {
      flex-direction: column !important;
      flex-flow: nowrap;
    }
    .introduce .story2 .column1,
    .introduce .story2 .column2,
    .introduce .story2 .column3 {
      width: 100% !important;
      margin-bottom: 10px;
    }
    /* why-us */
    .why-us .why-us-part:last-child {
      margin: 0px;
    }
  }

}
@media(max-width:375px){
  .banner{
    padding-top: 64px;
  }
}
