p,
h3,
h2,
ul,
li,
a,
h4,
h1 {
  padding: 0;
  margin: 0;
}

.dich-vu {
  padding-top: 40px;
  margin-bottom: 23px;
}

.dich-vu .title {
  text-align: left;
  margin-bottom: 24px;
}

.dich-vu .title h1 {
  font-family: sf_pro_displaymedium;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #1a1a1a;
}

.dich-vu .dv-vui-choi {
  margin-bottom: 16px;
}

.dich-vu .list-vc .item {
  width: 100%;
  display: inline-block;
  padding-bottom: 0;
  position: relative;
  height: 100%;
  margin-bottom: 24px;
}

// /* CHUNG */
// .dich-vu .dv-vui-choi .item .img-vui-choi {
//     border-radius: 0px;
//     width: calc(100%);
//     height: auto;
//     overflow: hidden;
//     margin-bottom: 11px;
// }
// .dich-vu .dv-vui-choi .item .img-vui-choi a {
//     position: relative;
//     padding-bottom: calc(100% * 220 / 275);
// }
// .dich-vu .dv-vui-choi .item .img-vui-choi img {
//     border-radius: 0px;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     -o-object-fit: cover;
//     object-fit: cover;
//     -o-object-position: center;
//     object-position: center;
//     -webkit-transform: rotate(0) scale(1);
//     transform: rotate(0) scale(1);
//     -webkit-transition: .4s ease-in-out;
//     transition: .3s ease-in-out;
// }
// .dich-vu .dv-vui-choi .item .img-vui-choi:hover img {
//     -webkit-transform: rotate(13deg) scale(1.3);
//     transform: rotate(5deg) scale(1.2);
// }
// .dich-vu .dv-vui-choi .item .content {
//     text-align: center;
// }
// .dich-vu .dv-vui-choi .item .content .title-item {
//     font-family: sf_pro_displaymedium;
//     font-size: 16px;
//     font-weight: bold;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: 1.44;
//     letter-spacing: normal;
//     text-align: center;
//     color: var(--black);
//     margin-bottom: 6px;
// }
// .dich-vu .dv-vui-choi .item .content .price-item {
//     font-family: sf_pro_displaymedium;
//     font-size: 16px;
//     font-weight: normal;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: 1.44;
//     letter-spacing: normal;
//     text-align: center;
//     color: #666666;
//     margin-bottom: 0px;
// }
// .dich-vu .dv-vui-choi .item .content .price-item span {
//     font-size: 14px;
//     font-weight: 500;
//     font-style: italic;
//     color: #e10b0b;
// }
// /* DV KHAC */
// .dich-vu .dv-khac .item .img-khac {
//     border-radius: 0px;
//     width: calc(100%);
//     height: auto;
//     overflow: hidden;
//     margin-bottom: 18px;
// }
// .dich-vu .dv-khac .item .img-khac a {
//     position: relative;
//     padding-bottom: calc(100% * 314 / 374);
// }
// .dich-vu .dv-khac .item .img-khac img {
//     border-radius: 0px;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     -o-object-fit: cover;
//     object-fit: cover;
//     -o-object-position: center;
//     object-position: center;
//     -webkit-transform: rotate(0) scale(1);
//     transform: rotate(0) scale(1);
//     -webkit-transition: .4s ease-in-out;
//     transition: .3s ease-in-out;
// }
// .dich-vu .dv-khac .item .img-khac:hover img {
//     -webkit-transform: rotate(13deg) scale(1.3);
//     transform: rotate(3deg) scale(1.1);
// }
// .dich-vu .dv-khac .item .content {
//     text-align: center;
// }
// .dich-vu .dv-khac .item .content .title-item {
//     font-family: sf_pro_displaymedium;
//     font-size: 16px;
//     font-weight: bold;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: 1.44;
//     letter-spacing: normal;
//     text-align: center;
//     color: var(--black);
//     margin-bottom: 7px;
// }
// .dich-vu .dv-khac .item .content .price-item {
//     font-family: sf_pro_displaymedium;
//     font-size: 14px;
//     font-weight: normal;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: 1.64;
//     letter-spacing: normal;
//     text-align: center;
//     color: #666666;
//     margin-bottom: 0px;
// }
// .dich-vu .dv-khac .item .content .price-item span {
//     font-weight: bold;
//     color: #e10b0b;
// }
.dich-vu .dv-vui-choi .item .img-vui-choi {
  border-radius: 0px;
  overflow: hidden;
  margin-bottom: 11px;
  padding-bottom: calc(100% * 220 / 368);
  position: relative;
}

.dich-vu .dv-vui-choi .item .img-vui-choi a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.dich-vu .dv-vui-choi .item .img-vui-choi img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.dich-vu .dv-vui-choi .item .img-vui-choi a::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.dich-vu .dv-vui-choi .item .img-vui-choi a:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.dich-vu .dv-vui-choi .item .content {
  text-align: center;
}

.dich-vu .dv-vui-choi .item .content .title-item {
  font-family: sf_ui_displayregular;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
  margin-bottom: 6px;
}

.dich-vu .dv-vui-choi .item .content .price-item {
  font-family: sf_ui_displayregular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
  margin-bottom: 0px;
}

.dich-vu .dv-vui-choi .item .content .price-item span {
  font-size: 14px;
  font-weight: 500;
  font-weight: bold;
  color: #e10b0b;
}

.dich-vu .dv-khac .item .img-khac {
  padding-bottom: calc(100% * 314 / 564);
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  margin-bottom: 18px;
}

.dich-vu .dv-khac .item .img-khac a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  overflow: hidden;
}

.dich-vu .dv-khac .item .img-khac img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.dich-vu .dv-khac .item .img-khac a::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.dich-vu .dv-khac .item .img-khac a:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.dich-vu .dv-khac .item .content {
  text-align: center;
}

.dich-vu .dv-khac .item .content .title-item {
  font-family: sf_ui_displayregular;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
  margin-bottom: 7px;
}

.dich-vu .dv-khac .item .content .price-item {
  font-family: sf_ui_displayregular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
  margin-bottom: 0px;
}

.dich-vu .dv-khac .item .content .price-item span {
  font-weight: bold;
  color: #e10b0b;
}
@media(max-width:768px){
  .dich-vu{
    padding-top: 56px;
  }
}
@media(max-width:576px)
{
  .dich-vu{
    padding-top: 65px;
  }
}
@media(max-width:375px)
{
  .dich-vu{
    padding-top: 90px;
  }
}