<section class="dich-vu">
    <div class="container">
        <!-- VUI CHOI - GIAI TRI -->
        <div class="dv-vui-choi">
            <div class="title">
                <h1>DỊCH VỤ VUI CHƠI - GIẢI TRÍ</h1>
            </div>
            <div class="list-vc">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let i of dich_vu_giai_tri">
                        <div class="item">
                            <div class="img-vui-choi">
                                <a><img src="{{i.image}}" alt=""></a>
                            </div>
                            <div class="content">
                                <p class="title-item">{{i.productTemplate.name}}</p>
                                <p class="price-item"><span>{{i.productTemplate.list_price | number}} đ</span>/{{i.productTemplate.productUom.name}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="dv-khac">
            <div class="title">
                <h1>DỊCH VỤ KHÁC</h1>
            </div>
            <div class="list-vc">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let i of dich_vu_khac">
                        <div class="item">
                            <div class="img-khac">
                                <div class="hovereffect">
                                    <a><img src="{{i.image}}" alt=""></a>
                                    <div class="overlay">
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <p class="title-item">{{i.productTemplate.name}}</p>
                                <p class="price-item"><span>{{i.productTemplate.list_price | number}} đ</span>/{{i.productTemplate.productUom.name}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
