.error-page {
  padding: 50px 0px;
  text-align: center;
  h1 {
    font-size: 150px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #3a6d4b;
  }
  h4 {
    font-size: 30px;
    color: #3a6d4b;
    margin-bottom: 20px;
  }
  button{
      cursor: pointer;
      background-color: #3a6d4b;
      color: white;
      border-radius: 3px;
      border: none;
      padding: 10px 15px;
      &:hover{box-shadow: 0px 0px 10px #3a6d4b}
      img{height: 25px;margin-right: 10px;display: block;float: left;}
      font-size: 18px;
      text-transform: uppercase;
  }
}
