<div class="error-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>404</h1>
        <h4>Trang không tìm thấy!</h4>
        <button routerLink="/"><img src="/assets/images/home/icon-home.png">Về trang chủ</button>
      </div>
    </div>
  </div>
</div>