<app-breadcrumb [arraySlugAdd]="arraySlug"></app-breadcrumb>
<section class="van-nghe wrap-event-detail" *ngIf="event_detail">
  <div class="container">
    <div class="name-section">
      <h1>
        {{event_detail?.name}}
      </h1>
    </div>
    <div class="main">
      <div class="row">
        <!-- SLIDE MEETING -->
        <div class="col-lg-8 md-7 col-12 left">
          <div class="slide-meeting">
            <div class="">
              <ngx-slick-carousel class="carousel1 slide-to" #slickModal="slick-carousel" [config]="slideConfigBlog1">
                <div ngxSlickItem *ngFor="let value of galleryImages" class="slide">
                  <div class="item">
                    <a><img src="{{value?.image}}" alt=""></a>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
            <div class="slider_con">
              <div class="">
                <ngx-slick-carousel class="carousel2 mt-2 slide-be" #slickModal="slick-carousel"
                                    [config]="slideConfigBlog2">
                  <div ngxSlickItem *ngFor="let value of galleryImages" class="slide">
                    <div class="item">
                      <a><img src="{{value?.image}}" alt=""></a>
                    </div>
                  </div>
                </ngx-slick-carousel>
              </div>
            </div>
          </div>
          <!-- MO TA , DICH VU KEM THEO , DICH VU MO RONG -->
          <div class="thong-tin">
            <div class="title">
              <h4>THÔNG TIN</h4>
            </div>
            <ul class="list-thong-tin">
              <li>Thời gian: {{event_detail?.time}} phút</li>
              <li *ngFor="let slot of event_detail?.resEventLines">Đoàn từ {{slot?.min_people}} đến {{slot?.max_people}}
                khách:
                <span>{{slot?.price | number}}đ/buổi </span></li>
            </ul>
          </div>
          <div class="dv-kem-theo" *ngIf="event_detail.resEventAddons?.length > 0">
            <div class="title">
              <h4>DỊCH VỤ KÈM THEO</h4>
            </div>
            <div class="list-dich-vu">
              <div class="row">
                <div class="col-md-4">
                  <ul class="list-1">
                    <li *ngFor="let triple of event_detail?.resEventAddons.slice(0,3)">{{triple.name}}</li>
                  </ul>
                </div>
                <div class="col-md-4" *ngIf="event_detail?.resEventAddons.length > 3">
                  <ul class="list-2">
                    <li *ngFor="let triple of event_detail?.resEventAddons.slice(3,6)">{{triple.name}}</li>
                  </ul>
                </div>
                <div class="col-md-4" *ngIf="event_detail?.resEventAddons.length > 6">
                  <ul class="list-3">
                    <li *ngFor="let triple of event_detail?.resEventAddons.slice(6,9)">{{triple.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="dv-mo-rong" *ngIf="event_detail?.resAdditionalServices">
            <div class="title">
              <h4>DỊCH VỤ MỞ RỘNG</h4>
            </div>
            <p class="text-dv-mo-rong" *ngFor="let item of event_detail?.resAdditionalServices">
              {{item.name}} : <span>{{item.list_price | number}}đ/buổi</span>
            </p>
          </div>
        </div>
        <!-- FORM -->
        <div class="col-lg-4 md-5 col-12 right">
          <div class="form">
            <div class="form-title">
              <h3>TỔ CHỨC {{event_detail?.name}}</h3>
            </div>
            <div class="form-info">
              <div [className]="validate_notice.name + ' name'">
                <p>Họ và tên:<span style="color:red">*</span></p>
                <input type="text" class="form-control" placeholder="Nhập họ tên bạn" [(ngModel)]="full_name">
              </div>
              <div [className]="validate_notice.phone + ' phone'">
                <p>Số điện thoại:<span style="color:red">*</span></p>
                <input type="text" class="form-control" placeholder="Nhập số điện thoại của bạn" [(ngModel)]="phone">
              </div>
              <div [className]="validate_notice.email + 'email'">
                <p>Email: </p>
                <input type="text" class="form-control" placeholder="Nhập email của bạn" [(ngModel)]="email">
              </div>
              <div ngbDropdown [className]="validate_notice.num + ' number-people'">
                <p>Số người:<span style="color:red"> *</span></p>
                <input type="text" class="form-control picknumber" placeholder="{{num_people}} người"
                       [attr.value]="temp_numpeople" id="dropdownForm1" ngbDropdownToggle readonly>
                <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="drop-picknumber">
                  <form class="">
                    <div class="form-group">
                      Chọn số người:
                    </div>
                    <div>
                      <span (click)="setnumber(false)">-</span>
                      <span>{{num_people}}</span>
                      <span (click)="setnumber(true)">+</span>
                    </div>
                  </form>
                </div>
              </div>
              <div [className]="validate_notice.date +' date'">
                <p>Ngày tổ chức:<span style="color:red">*</span></p>
                <img src="../../../../assets/images/combo/icon-1.png"><input type="text"
                                                                             placeholder="Chọn ngày tổ chức"
                                                                             [className]="validate_notice.date + ' form-control chon' +
                                                                                ' date-in input-date'"
                                                                             readonly="true"
                                                                             [minDate]="today"
                                                                             [(ngModel)]="date"
                                                                             [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                                                                             bsDatepicker>
              </div>
              <div class="service">
                <p>Dịch vụ mở rộng : </p>
                <div class="checkbox" *ngFor="let service of event_detail.resAdditionalServices">
                  <input type="checkbox" class="form-radio" (click)="set_service(service)"
                         [attr.id]="'checkbox-'+service.id">
                  <label [attr.for]="'checkbox-'+service.id">{{service?.name}}</label>
                </div>
              </div>
              <div class="send">
                <input type="submit" value="GỬI YÊU CẦU" (click)="request_event()"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
