$color_1: #22ae51;
$color_2: var(--white);
$color_3: var(--black);
$color_4: #bbbbbb;
$color_5: #4c4c4c;
$color_6: #1a1a1a;
$color_7: #e10b0b;
$font_family_1: sf_pro_displaymedium;
$background_color_1: #3a6d4b;
$background_color_2: var(--white);
$background_color_3: #ffa300;

/* Meeting rooom */
/* FORM */
/* THONG TIN , DV KEM THEM , DV MO RONG */
/* SLIDE */
p {
  padding: 0;
  margin: 0;
}
h3 {
  padding: 0;
  margin: 0;
}
h2 {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  li {
    font-family: $font_family_1;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: $color_5;
    list-style: none;
  }
}
li {
  padding: 0;
  margin: 0;
}
a {
  padding: 0;
  margin: 0;
}
h4 {
  padding: 0;
  margin: 0;
}
h1 {
  padding: 0;
  margin: 0;
}
body {
  font-family: $font_family_1;
}
.van-nghe {
  .name-section {
    text-align: left;
    h1 {
      font-family: $font_family_1;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.21;
      letter-spacing: normal;
      color: $color_3;
      padding: 32px 0 24px 0;
      text-transform: uppercase;
    }
  }
  .main {
    .thong-tin {
      margin-bottom: 13px;
      ul {
        li {
          margin-bottom: 11px;
          span {
            font-size: 18px;
            font-weight: bold;
            color: $color_7;
          }
        }
      }
    }
    .title {
      margin-bottom: 16px;
      h4 {
        font-family: $font_family_1;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: left;
        color: $color_6;
      }
    }
    .dv-kem-theo {
      margin-bottom: 9px;
      ul {
        li {
          margin-bottom: 15px;
          position: relative;
          padding-left: 11px;
          &::before {
            position: absolute;
            content: '';
            width: 4px;
            height: 4px;
            background-color: $background_color_1;
            border-radius: 100%;
            left: 0px;
            top: 8px;
          }
        }
      }
    }
    .dv-mo-rong {
      .text-dv-mo-rong {
        font-family: $font_family_1;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: $color_5;
        margin-bottom: 0px;
        span {
          font-size: 18px;
          font-weight: bold;
          color: $color_7;
        }
      }
    }
  }
  margin-bottom: 40px;
}
.main .form .form-info .picknumber {
  cursor: pointer;
}

.main .form .form-info .drop-picknumber {
  width: 100%;
  padding: 24px 24px 8px;
  background-color: #3a6d4b;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
  z-index: 3;
  transform: translate(0px, 57px)!important;
  form{
    display: flex;
    justify-content: space-between;
    color: #fff;
    div:nth-child(1){
      margin-bottom: 0;
    }
    div:nth-child(2){
      border-radius: 2rem;
      border: 0;
      background: #fff;
      color: #222;
      box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
      span{
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      span:nth-child(1), span:nth-child(3){
        width: 24px;
        height: 24px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        border-radius: 0 12px 12px 0;
        &:hover{
          background: rgb(255,255,255);
          background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(247,249,248,1) 24%, rgba(58,109,75,1) 100%);
        }
      }
      span:nth-child(1){
        border-radius: 12px 0 0 12px;
        &:hover{
          background: rgb(58,109,75);
          background: linear-gradient(90deg, rgba(58,109,75,1) 0%, rgba(247,249,248,1) 76%, rgba(255,255,255,1) 100%);
        }
      }
      span:nth-child(2){
        width: 24px;
        display: inline-block;
        text-align: center;
      }
    }
  }
}

.main {
  .form {
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    background-color: $background_color_2;
    .notice_on{
      position: relative;
      &:after{
        content: 'Mục này là bắt buộc!';
        position: absolute;
        color: red;
        top: 0;
        right: 0;
      }
    }
    .notice_on2{
      position: relative;
      &:after{
        content: 'Vui lòng nhập đúng định dạng!';
        position: absolute;
        color: red;
        top: 0;
        right: 0;
      }
    }
    .form-title {
      text-align: center;
      background-color: $background_color_1;
      h3 {
        font-family: $font_family_1;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: normal;
        color: $color_2;
        padding: 10px 68px;
        text-transform: uppercase;
      }
    }
    .form-info {
      padding: 22px 20px 20px 20px;
      p {
        margin-bottom: 5px;
        font-family: $font_family_1;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.15;
        letter-spacing: normal;
        text-align: left;
        color: $color_3;
      }
      .form-control {
        border-radius: 3px;
        border: solid 0.5px #bbbbbb;
        background-color: $background_color_2;
        margin-bottom: 10px;

        &::placeholder {
          font-family: $font_family_1;
          font-size: 11px;
          font-weight: normal;
          font-style: italic;
          font-stretch: normal;
          line-height: 1.18;
          letter-spacing: normal;
          text-align: left;
          color: $color_4;
        }
      }
      .chon {
        background-image: url('../../../../assets/images/combo/down-arrow.png');
        background-repeat: no-repeat;
        background-position: bottom 11px right 13px;
      }
      .date {
        position: relative;
        cursor: pointer;
        img {
          position: absolute;
          top: 30px;
          left: 10px;
          margin-right: 10px;
          z-index: 2;
        }
        .form-control {
          text-indent: 20px;
          font-size: 14px;
          line-height: 38px;
          height: 38px;
          cursor: pointer;
          &::placeholder {
            font-family: sf_ui_displayregular;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.15;
            letter-spacing: normal;
            text-align: left;
            color: #bbbbbb;
          }
        }
      }
      .service {
        .checkbox {
          label {
            cursor: pointer;
            font-size: 14px;

            input {
              width: 16px;
              height: 16px;
            }
          }

          .form-radio {
            margin-bottom: 7px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
            position: relative;
            background-color: #ffffff;
            color: #666;
            top: 10px;
            height: 16px;
            width: 16px;
            border: 0.5px solid #3a6d4b;
            border-radius: 50%;
            cursor: pointer;
            margin-right: 7px;
            outline: none;
            &:checked {
              &::before {
                position: absolute;
                content: '';
                width: 10px;
                height: 10px;
                display: inline-block;
                background-color: #3a6d4b;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
              }
              background-color: #f1f1f1;
            }
            &:hover {
              background-color: #f7f7f7;
            }
          }

        }
      }
      .send {
        margin-top: 20px;
        text-align: center;
        input {
          font-size: 14px;
          padding: 10px 28px;
          border-radius: 3px;
          background-color: $background_color_3;
          font-family: $font_family_1;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.14;
          letter-spacing: normal;
          color: $color_2;
          border: 1px solid #ffa300;
        }
        a {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media(max-width:375px){
  .van-nghe .name-section h1{
    padding-top: 50px;
  }
}
