<app-breadcrumb [arraySlugAdd]="arraySlug"></app-breadcrumb>
<section class="Booking-home-2-star">
    <div class="container">
        <h1>{{phonggiadinh_detail?.name}}</h1>
        <div class="row">
            <div class="col-lg-8 ">
                <div class="slide-meeting">
                    <div class="">
                        <ngx-slick-carousel class="carousel1 slide-to" #slickModal="slick-carousel"
                            [config]="slideConfigBlog1">
                            <div ngxSlickItem *ngFor="let value of phonggiadinh_Images" class="slide">
                                <div class="item">
                                    <a><img src="{{value.image}}" alt=""></a>
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                    <div class="slider_con">
                        <div class="">
                            <ngx-slick-carousel class="carousel2 mt-2 slide-be" #slickModal="slick-carousel"
                                [config]="slideConfigBlog2">
                                <div ngxSlickItem *ngFor="let value of phonggiadinh_Images" class="slide">
                                    <div class="item">
                                        <a><img src="{{value.image}}" alt=""></a>
                                    </div>
                                </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>
                </div>
                <div class="mota">
                    <h2>mô tả</h2>
                    <div [innerHTML]="phonggiadinh_detail?.description"></div>

                </div>
                <div class="baogom">
                    <h2>bao gồm</h2>
                    <div [innerHTML]="phonggiadinh_detail?.include"></div>
                    <!--<p>- 02 giường 1m2</p>-->
                    <!--<p>- Miễn phí bữa sáng</p>-->
                    <!--<p>- WIFI miễn phí tốc độ cao, Truyền hình Cáp</p>-->
                    <!--<p class="phi-phat-sinh">- Phí phát sinh nhận, trả phòng ngoài giờ quy định: ( tính giờ tiếp theo )-->
                    <!--</p>-->
                    <!--<p class="phi-phat-sinh">- Phụ thu nếu kê thêm đệm 200k/1 người</p>-->
                    <!--<div class="note">-->
                        <!--Khách sạn sẽ giữ phòng đã đăng ký trước theo ngày đến chậm nhất là 18h00, ngoại trừ những trường-->
                        <!--hợp được thông-->
                        <!--báo trước hoặc đặt phòng có bảo đảm.-->
                    <!--</div>-->
                </div>

                <div class="xemgia">
                    <h2>nhập thông tin để xem giá</h2>
                    <div class="row margin-lr-4">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-mlr-4">
                            <label>
                                <div [className]="validate_notice2.date2 +' date2'">
                                    <p>Ngày thuê phòng:<span>*</span></p><input type="text"
                                        placeholder="Ngày nhận phòng"
                                        [className]="validate_notice.date + ' form-control chon' +
                                                      ' date-in input-date'" readonly="true"
                                        [minDate]="today"  [(ngModel)]="datenhanphong1"
                                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',selectFromOtherMonth: true }"
                                        bsDatepicker>
                                    <span class="mark-lich"></span>
                                </div>
                            </label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-mlr-4">
                            <label>
                                <div [className]="validate_notice2.date3 +' date3'">
                                    <p>Ngày trả phòng:<span>*</span></p><input type="text" placeholder="Ngày trả phòng"
                                        [className]="validate_notice.date + ' form-control chon' +
                                                                                                      ' date-in input-date'"
                                        readonly="true" [minDate]="datenhanphong1" [(ngModel)]="datetraphong1"
                                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',selectFromOtherMonth: true }"
                                        bsDatepicker>
                                    <span class="mark-lich"></span>
                                </div>
                            </label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-mlr-4">
                            <label>
                                <p>Số phòng:<span> *</span></p>
                                <div [className]="validate_notice2.num2 + ' number-people'">
                                    <input class="form-control" type="text" value="0"
                                        [(ngModel)]="num_people2" placeholder="{{num_people2}} người" readonly [attr.value]="temp_numpeople2">
                                    <div class="mark-number">
                                        <span class="tru" (click)="setnumber2(false)"></span>
                                        <span class="cong" (click)="setnumber2(true)"></span>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-mlr-4 xemgia-btn">
                                            <button (click)=xemgia()>xem giá</button>
                        </div>
                    </div>
                </div>
                <div class="dongia">
                    <h2>đơn giá</h2>
                    <div class="nghiquadem">
                        <h3>nghỉ qua đêm</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="gia">Giá phòng:<span>{{phonggiadinh_detail?.price | number}}</span>/phòng/ngày đêm
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="check">Check in:<span> {{phonggiadinh_detail?.check_in | date : 'hh'}}h</span></p>
                                <p class="check">Check out:<span> {{phonggiadinh_detail?.check_out | date : 'hh'}}h</span></p>
                            </div>
                           
                        </div>
                    </div>
                    <div class="nghitheogio">
                        <h3>nghỉ theo giờ</h3>
                        <p>Giờ đầu: <span>250.000đ</span>/phòng</p>
                        <p>Giờ sau: <span>150.000đ</span>/phòng</p>
                    </div>
                    <div class="note" [innerHTML]="phonggiadinh_detail?.notes">

                    </div>
                </div>
                <div class="xemgia-2">
                    <!-- <div class="container"> -->
                    <h2>NHẬP THÔNG TIN ĐỂ XEM GIÁ </h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 ngay-thue">
                            <p>Ngày thuê phòng: <span>*</span></p>
                            <div class="relation">
                            <input type="text"  placeholder="Ngày nhận phòng">
                            <div >
                                <span class="drp"><img src="../../../../../assets/images/icon-1.png" alt=""></span>
                                <span class="drp2"> <img src="../../../../../assets/images/down-arrow.png" alt=""></span>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-3 col-sm-6 so-dem">
                                <p>Số đêm: <span>*</span></p>
                                <div class="relation">
                                <input type="text" value="1">
                                <div>
                                        <span class="drp2"> <img src="../../../../../assets/images/down-arrow.png" alt=""></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-3 col-sm-6 ngay-tra">
                                <p>Ngày trả phòng: <span>*</span></p>
                                <p>10/05/2019</p>
                        </div>
                    <!-- </div> -->
                    </div>
                </div>
                <div class="dongia-2">
                    <h2>ĐƠN GIÁ</h2>
                <div class="thong-tin-gia">
                        <div class="d-md-flex">
                            <div class="img">
                                <img src="../../../../../assets/images/khach-san-be1.png" alt="">
                            </div>
                            <div class="thong-tin">
                                    <h4>PHÒNG GIA ĐÌNH 2 SAO</h4>
                                <div class="row">
                                    <div class="col-md-5 col-sm-6 col-6 left">
                                        
                                        <p><img src="../../../../../assets/images/food.png" alt=""> Miễn phí ăn sáng</p>
                                            <p> <img src="../../../../../assets/images/bed.png" alt=""> <b>02 </b>Giường</p>
                                            <div  class="check">
                                            <p>Giá: <span>950000</span>/phòng/ngày/đêm</p>
                                            <p>Check in: <b>13h</b> Check out: <b>12h</b></p>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-6 col-6">
                                        <div class="d-flex gia">
                                            <div>
                                                <p style="margin-bottom: 17px">Số lượng</p>
                                                <div class="so-luong">
                                                    <input type="text" value="0">
                                                    <div>
                                                        <span class="tru">-</span>
                                                        <span class="cong">+</span>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="item">
                                                <p class="price">1.999.000đ</p>
                                                <button class="dat-ngay">ĐẶT NGAY</button>
                                            </div>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="thong-tin1">
                        <p>Giá thuê theo giờ dành cho khách hàng có nhu cầu nghỉ ngơi ít thời gian</p>
                        <p class="gio">Giờ đầu: <span>250.000đ</span> /phòng  Giờ sau: <span>150.000đ</span> /phòng</p>
                        <p><i>Khách sạn sẽ giữ phòng đã đăng ký trước theo ngày đến chậm nhất là 18h00, ngoại trừ những trường hợp được thông báotrước hoặc đặt phòng có bảo đảm.</i></p>
                <div class="thong-tin2">
                    <p> - Giá phòng trên có thể thay đổi mà không phải báo trước.</p>
                    <p>- Phí phát sinh nhận, trả phòng ngoài giờ quy định: ( tính giờ tiếp theo )</p>
                    <p> - Giảm giá đặc biệt cho khách đi theo đoàn và khách ở dài hạn.</p>
                </div>
                </div>
                
            </div>
            </div>
            <div class="col-lg-4 ">
                <div class="title-thongtin">
                    thông tin đặt khách sạn
                </div>
                <div class="form-yeucau">
                    <div [className]="validate_notice.name + ' name'">
                        <p>Họ và tên:<span> *</span></p>
                        <input type="text" class="form-control" placeholder="Nhập họ và tên bạn"
                            [(ngModel)]="full_name">
                    </div>
                    <div [className]="validate_notice.phone + ' phone'">
                        <p>Số điện thoại:<span> *</span></p>
                        <input type="text" class="form-control" placeholder="Nhập số điện thoại bạn"
                            [(ngModel)]="phone">
                    </div>
                    <p  [className]="validate_notice.email + ' email'">Email:</p>
                    <input type="email" name="email" class="form-control" placeholder="Nhập email của bạn"
                           [(ngModel)]="email">
                    <div class="songuoi">
                        <div  [className]="validate_notice.num +' number-people'">

                            <div ngbDropdown [className]="validate_notice.num + ' number-people'">
                                <p>Số người:<span style="color:red"> *</span></p>
                                <input type="text" class="form-control picknumber" placeholder="{{num_people}} người"
                                  [attr.value]="temp_numpeople" id="dropdownForm1" ngbDropdownToggle readonly>
                                  <span class="mark-number"></span>
                                <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="drop-picknumber">
                                  <form class="">
                                    <div class="form-group">
                                      Chọn số người:
                                    </div>
                                    <div>
                                      <span (click)="setnumber(false)">-</span>
                                      <span>{{num_people}}</span>
                                      <span (click)="setnumber(true)">+</span>
                                    </div>
                                  </form>
                                </div>
                              </div>
                    </div>
                    </div>
                    <label>
                        <div [className]="validate_notice.date +' date'">
                            <p>Ngày thuê phòng:<span>*</span></p><input type="text" placeholder="Ngày nhận phòng"
                                [className]="validate_notice.date + ' form-control chon' +
                                                                                          ' date-in input-date'"
                                readonly="true" [minDate]="today"  [(ngModel)]="datenhanphong"
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' ,selectFromOtherMonth: true}" bsDatepicker>
                            <span class="mark-lich"></span>
                        </div>
                    </label>
                    <label>
                        <div [className]="validate_notice.date +' date'">
                            <p>Ngày trả phòng:<span>*</span></p><input type="text" placeholder="Ngày trả phòng"
                                [className]="validate_notice.date + ' form-control chon' +
                                                                                          ' date-in input-date'"
                                readonly="true" [minDate]="datenhanphong" [(ngModel)]="datetraphong"
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' ,selectFromOtherMonth: true }"
                                bsDatepicker>
                            <span class="mark-lich"></span>
                        </div>
                    </label>
                    <p>Yêu cầu thêm:</p>
                    <textarea class="form-control " [(ngModel)]="notes" placeholder="Nhập thêm yêu cầu bạn mong muốn"></textarea>
                    <div class="btn-guiyeucau">
                        <button (click)=request_booking() >gửi yêu cầu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
