.Booking-home-2-star {

  /*breadcrumbs*/
  .breadcrumbs {
    background-color: #3a6d4b;
    padding: 4px 0px !important;

    a {
      &:last-child {
        text-transform: lowercase;
      }

      color: #22ae51;
      font-size: 12px;
      font-family: sf_pro_displaylight_italic;
      position: relative;
      padding-right: 20px;
      line-height: 14px;

      &:hover {
        text-decoration: none;
        color: #22ae51;
        cursor: pointer;
      }

      &:before {
        content: '';
        height: 0px;
        width: 0px;
        border: 4px solid transparent;
        border-left-color: #22ae51;
        position: absolute;
        top: 2px;
        right: 2px;
      }

      &:last-child {
        color: white;
        padding-right: 0px !important;
        cursor: default;

        &:before {
          display: none;
        }
      }
    }
  }

  button {
    cursor: pointer;
  }

  .note {

    margin-top: 24px;
    margin-bottom: 40px;
  }

  h1 {
    font-family: sf_ui_displayregular;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.21;
    text-align: left;
    color: var(--black);
    display: inline-block; 
    margin-top: 37.5px;
    text-transform: uppercase;
    margin-top: 37px;
    margin-bottom: 25px;
  }

  /* mô tả */
  .mota {
    h2 {
      font-family: sf_ui_displayregular;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.19;
      text-align: left;
      color: #1a1a1a;
      text-transform: uppercase;
      margin-top: 24px;
      margin-bottom: 16px;
    }

    p {
      font-family: sf_ui_displayregular;
      font-size: 14px;
      line-height: 1.71;
      text-align: left;
      color: #4c4c4c;
    }
  }

  /*bao gồm*/
  .baogom {
    h2 {
      font-family: sf_ui_displayregular;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.19;
      text-align: left;
      color: #1a1a1a;
      text-transform: uppercase;
      margin-top: 24px;
      margin-bottom: 16px;
    }

    p {
      font-family: sf_ui_displayregular;
      font-size: 14px;
      margin-bottom: 5px;
      text-align: left;
      color: #4c4c4c;

      &.phi-phat-sinh {
        color: #ff0013;
      }
    }

    .note {
      font-family: sf_ui_displayregular;
      font-size: 14px;
      font-style: italic;
      line-height: 1.43;
      text-align: left;
      color: var(--black);
    }
  }

  /*xem giá*/
  .xemgia {
    .notice_on {
      position: relative;

      &:after {
        content: 'Mục bắt buộc!';
        position: absolute;
        color: red;
        bottom: -20;
        right: 2px;
      }
    }

    margin-bottom: 24px;

    .margin-lr-4 {
      margin: 0 -4px;

      .col-mlr-4 {
        padding: 0px 4px;

      }
    }

    border-radius: 3px;
    background-color: #f1f1f1;
    padding: 16px;

    h2 {
      font-family: sf_ui_displayregular;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.19;
      text-align: left;
      color: #1a1a1a;
      text-transform: uppercase;
      margin-top: 0px;
      margin-bottom: 16px;
    }

    p {
      font-family: sf_ui_displayregular;
      font-size: 14px;
      line-height: 1.14;
      text-align: left;
      color: var(--black);
      margin-bottom: 5px;

      span {
        color: #ff0013;
      }
    }

    label {
      margin-bottom: 0px !important;
      position: relative;

      .number-people {
        position: relative !important;
      }

      .mark-number {
        .tru {
          background-image: url('../../../../../assets/images/booking/Subtraction1.svg');
          display: inline-block;
          position: absolute;
          left: 10px;
          background-color: white;
          top: 10px;
          width: 16px;
          height: 16px;
          object-fit: contain;

          &:hover {
            cursor: pointer;
            border-radius: 20px;
            background-color: #22ae51;
          }
        }

        .cong {
          &:hover {
            border-radius: 20px;
            cursor: pointer;
            background-color: #22ae51;
          }

          background-image: url('../../../../../assets/images/booking/ic_add_circle_24px.svg');
          display: inline-block;
          position: absolute;
          right: 10px;
          background-color: white;
          top: 10px;
          width: 16px;
          height: 16px;
          object-fit: contain;
        }
      }

      span {
        &.mark-lich {
          &::before {
            content: "";
            background-image: url('../../../../../assets/images/booking/ic24_door_copy.svg');
            display: inline-block;
            position: absolute;
            left: 10px;
            background-color: white;
            top: 29px;
            width: 16.1px;
            height: 16.1px;
            object-fit: contain;
          }
        }
      }
    }

    input {
      background-color: white;
      height: 36px;

      &[type=text] {
        cursor: pointer;
        text-align: center;
      }

      padding: 5px .75rem !important;
      padding: 0px 32px !important;

      &::placeholder {
        font-family: sf_ui_displayregular;
        font-size: 14px;
        margin-bottom: 10px;
        text-align: left;
        color: #bbbbbb;
      }
    }

    .xemgia-btn {
      display: flex;
      align-items: flex-end;

      button {
        height: 36px;
        width: 100%;
        background-color: #3a6d4b;
        font-family: sf_ui_displayregular;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.17;
        text-align: center;
        color: var(--white);
        max-width: 158px;
        width: 100%;
        border: none;
        border-radius: 3px;
        text-transform: uppercase;

        &:hover {
          background-color: #22ae51;

        }
      }
    }

  }
  /*xem giá 2*/
  .xemgia-2{
    border-radius: 3px;
    background-color: #f1f1f1;
    padding: 15px 70px;
    h2{
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
    p{
      span{
        color: #ff0013;
      }
    }
      input{
        
      width: 100%;
        height: 36px;
        border-radius: 3px;
        border: solid 0.5px #bbbbbb;
        background-color: var(--white);
      }
      .relation{
        position: relative;
        .drp{
          position: absolute;
          top:8px;
          left: 10px;
        }
        .drp2{
          right: 10px;
          position: absolute;
          top:8px;
        }
      }
      .ngay-tra{
        margin-top: 10px;
      }
      .ngay-thue{
        margin-top: 10px;
        .relation{
          width: 248px;
          max-width: 100%;
          input{
            padding: 0 35px;
            &::placeholder{
              color: #bbbbbb;
            }
          }
        }
      }
      .so-dem{
        margin-top: 10px;
         .relation{
          width:95px;
          input{
            padding: 0 20px;
          }
         }
        
      }
  }
/* đơn giá 2*/
.dongia-2{
  margin-top: 30px;
  margin-bottom: 40px;
  h2{
    font-size: 16px;
    font-weight: bold;
  }
  .thong-tin-gia{
  border-radius: 3px;
    border: solid 1px #bbbbbb;
    background-color:#fff;
    padding: 10px;
    .d-md-flex{
      .img{
        padding-right: 15px;
        display: flex;
        align-items: center;
        img{
          width: 246px;
        }
      }
      .thong-tin{
        flex: 1;
        margin-top: 10px;
        h4{
          font-size: 16px;
          font-weight: bold;
        }
        p{
          margin-bottom: 0px;
          color: var(--greyish-brown);
        }
        .left{
          img{
            margin-right: 8px;
            margin-top: -2px;
          }
        }
        .so-luong{
          position: relative;
          width: 65px;
          input{
            width: 65px;
            height: 36px;
            border-radius: 3px;
            border: solid 0.5px #bbbbbb;
            text-align: center;
          }
          div{
            .cong,.tru{
              position: absolute;
              top:8px;
              cursor: pointer;
            }
            .tru{
              left: 8px;
            }
            .cong{
              right: 8px;
            }
          }
        }
        b{
          color: #000000;
        }
            .check{
              font-size: 12px;
              color: #666666;
              margin-top: 8px;
              span{
                font-weight: bold;
                color: #ff0013;
              }
            
            }
    
        .item{
          margin-top: -5px;
          padding-left: 24px;
          .price{
            color: #ff0013;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 12px;
            text-align: center;
          
          }
          .dat-ngay{
            width: 145px;
            height: 36px;
            border-radius: 3px;
            background-color: #3a6d4b;
            border: none;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            &:hover{
              background-color: #22ae51;
            }
          }
        }
    }
    }
  


  }
  .thong-tin2{
    p{
      color: #ff0013;
      font-style: italic;
      margin-bottom: 10px;
    }
  }
  .thong-tin1{
    margin-top: 16px;
    .gio{
      color: #666666;
      padding-left: 30px;
      span{
        color: #ff0013;
        font-weight: bold;
      }
    }
  }
}
  /* đơn giá*/
  .dongia {
    h2 {
      font-family: sf_ui_displayregular;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.19;
      text-align: left;
      color: #1a1a1a;
      text-transform: uppercase;
    }

    h3 {
      font-family: sf_ui_displayregular;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.14;
      text-align: left;
      color: var(--black);
      text-transform: uppercase;
    }

    p {
      font-family: sf_ui_displayregular;
      font-size: 14px;
      line-height: 1.14;
      text-align: left;
      color: #666666;
    }

    /* nghỉ qua đêm*/
    .nghiquadem {
      margin-top: 16px;

      h3 {
        margin-bottom: 20px;
      }

      border-radius: 3px;
      border: solid 1px #22ae51;
      background-color: var(--white);
      padding: 12px 17px 10px 10px;

      & > div {
        display: flex;
        justify-content: space-between;
      }

      button {
        background-color: #ffa300;
        font-family: sf_ui_displayregular;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        padding: 0 24px;
        line-height: 1.14;
        max-width: 158px;
        width: 100%;
        border-radius: 3px;
        letter-spacing: normal;
        text-align: center;
        color: var(--white);
        border: none;
        height: 36.2px;

        &:hover {
          background-color: #ce8e1f;
        }
      }

      p {
        margin-bottom: 5px;

        &.gia {
          span {
            font-weight: bold;
            color: #ff0013;
          }

        }

        &.check {
          span {
            font-weight: bold;
            color: black;
          }
        }
      }

    }

    /* nghỉ theo giờ*/
    .nghitheogio {
      margin: 23px 0px;

      h3 {
        margin-bottom: 16px;
      }

      p {
        margin-bottom: 8px;

        span {
          font-weight: bold;
          color: #ff0013;
        }

      }

    }

    .note {
      p {
        margin-bottom: 0px;
        font-family: sf_ui_displayregular;
        font-size: 14px;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: #ff0013;
      }
    }
  }

  .title-thongtin {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    color: var(--white);
    height: 40.2px;
    background-color: #3a6d4b;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

  }

  /* form yêu cầu*/
  .form-yeucau {
    .notice_on {
      position: relative;

      &:after {
        content: 'Mục này là bắt buộc!';
        position: absolute;
        color: red;
        top: 0;
        right: 0;
      }
    }

    .notice_on2 {
      position: relative;

      &:after {
        content: 'Vui lòng nhập đúng định dạng!';
        position: absolute;
        color: red;
        top: 0;
        right: 0;
      }
    }

    .buttonLock {
      opacity: 0;
    }

    .buttonOpen {
      opacity: 1;
    }

    textarea {
      &::placeholder {
        display: block;
        font-family: sf_ui_displayregular;
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        color: #bbbbbb;
        margin-bottom: 20px;
      }
    }

    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    background-color: var(--white);
    padding: 0 20px;

    .songuoi {
      position: relative;

      span {
        &.mark-number {
          &::after {
            content: "";
            position: absolute;
            right: 10px;
            background-color: transparent;
            display: inline-block;
            top: 28px;
            width: 10px;
            height: 10px;
            border: 2px solid black;
            border-left: 2px solid transparent;
            border-top: 2px solid transparent;
            transform: rotate(45deg);
            object-fit: contain;
          }
        }
      }

      .picknumber {
        background-color: white;
        cursor: pointer;
      }

      .drop-picknumber {

        width: 100%;
        padding: 24px 24px 8px;
        background-color: #3a6d4b;
        border-radius: 4px;
        -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
        z-index: 3;
        transform: translate(0px, 57px) !important;

        form {
          display: flex;
          justify-content: space-between;
          color: #fff;

          div:nth-child(1) {
            margin-bottom: 0;
          }

          div:nth-child(2) {
            border-radius: 2rem;
            border: 0;
            background: #fff;
            color: #222;
            box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);

            span {
              -moz-user-select: -moz-none;
              -webkit-user-select: none;
              -o-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }

            span:nth-child(1), span:nth-child(3) {
              width: 24px;
              height: 24px;
              display: inline-block;
              text-align: center;
              cursor: pointer;
              border-radius: 0 12px 12px 0;

              &:hover {
                background: rgb(255, 255, 255);
                background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(247, 249, 248, 1) 24%, rgba(58, 109, 75, 1) 100%);
              }
            }

            span:nth-child(1) {
              border-radius: 12px 0 0 12px;

              &:hover {
                background: rgb(58, 109, 75);
                background: linear-gradient(90deg, rgba(58, 109, 75, 1) 0%, rgba(247, 249, 248, 1) 76%, rgba(255, 255, 255, 1) 100%);
              }
            }

            span:nth-child(2) {
              width: 24px;
              display: inline-block;
              text-align: center;
            }
          }
        }
      }
    }

    label {
      display: block;
      position: relative;
      margin-bottom: 0px;


      input {
        background-color: white;

        &::placeholder {
          font-family: sf_ui_displayregular;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.14;
          letter-spacing: normal;
          text-align: left;
          color: #bbbbbb;
        }

        &[type=number] {
          text-align: center;
        }

        padding: 0px 35px !important;

      }

      span {
        &.mark-number {
          &::after {
            content: "";
            position: absolute;
            right: 10px;
            background-color: transparent;
            display: inline-block;
            top: 28px;
            width: 10px;
            height: 10px;
            border: 2px solid black;
            border-left: 2px solid transparent;
            border-top: 2px solid transparent;
            transform: rotate(45deg);
            object-fit: contain;
          }
        }

        &.mark-lich {
          &::before {
            content: "";
            background-image: url('../../../../../assets/images/booking/ic24_door_copy.svg');
            position: absolute;
            display: inline-block;
            left: 10px;
            background-color: white;
            top: 28px;
            width: 16px;
            height: 16px;
            object-fit: contain;
          }

          &::after {
            content: "";
            position: absolute;
            right: 10px;
            background-color: transparent;
            display: inline-block;
            top: 28px;
            width: 10px;
            height: 10px;
            border: 2px solid black;
            border-left: 2px solid transparent;
            border-top: 2px solid transparent;
            transform: rotate(45deg);
            object-fit: contain;
          }

        }
      }
    }

    input {
      padding: 3px .75rem !important;
      height: 32px;

      &::placeholder {
        font-family: sf_ui_displayregular;
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        color: #bbbbbb;
        margin-bottom: 20px;
      }
    }

    p {
      font-family: sf_ui_displayregular;
      font-size: 14px;
      margin-top: 15px;
      margin-bottom: 5px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
      color: black;

      span {
        color: #ff0013;
      }
    }

    .btn-guiyeucau {
      width: 100%;
      text-align: center;

      button {
        max-width: 145px;
        width: 100%;
        height: 36px;
        border-radius: 3px;
        background-color: #ffa300;
        font-family: sf_ui_displayregular;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.14;
        color: var(--white);
        border: none;
        text-transform: uppercase;
        margin: 31px auto;

        &:hover {
          background-color: #ce8e1f;
        }
      }
    }
  }

  /*responsive*/
  @media(max-width: 1199px) and (min-width:992px){
    .ngay-tra{
      p{
        margin-bottom: 5px;
      }
    }
    .d-flex.gia{
      display: block !important;
      .so-luong{
        input{
          margin-bottom: 10px;
        }
      }
      .item{
        padding-left: 0 !important;
        .price{
          text-align: left !important;
        }
      }
    }
  }
  
  @media(max-width: 992px) {
    // .dongia {
    //   .nghiquadem {

    //     .datphong-btn {
    //       padding: 0px;
    //       width: 130px;
    //     }
    //   }
    // }
    .dongia-2{
      .item{
        padding-left: 10px !important;
      }
    }
    .xemgia {
      .col-mlr-4 {
        padding: 4px !important;

        input {
          padding: 0px 27px !important;
        }
      }
    }
  }
  @media(max-width: 765px) {
    .dongia-2{
      .thong-tin-gia{
        .img{
          padding: 0 !important;
          img{
            width: 100% !important;
          }
        }
      }
    }
    .slide-meeting {
      .slide-to {
        img {
          height: 290px !important;
        }
      }

      .slide-be {
        img {

          height: 70px !important;
        }
      }
    }
  }
  @media(max-width: 576px) {
    .xemgia-2{
      .relation{
        width: 100% !important;
      }
    }
    .d-flex.gia{
      display: block !important;
      div{
        &:first-child{
          display: flex;
        p{
          margin-bottom: 0px !important;
        }
        .so-luong{
          margin-top: -5px;
          margin-left: 10px;
        }
      }
    }
    .item{
      .price{
        text-align: left !important;
        margin-bottom: 5px !important;
      }
    }
    }
    .xemgia label span.mark-lich::before{
      top:42px !important;
    }
    .dongia {
      .nghiquadem {
        & > div {
          display: block;
        }
       
        // .datphong-btn {
        //   width: 158px;
        //   margin-top: 10px;

        // }
      }
    }
    .xemgia {
      .col-mlr-4 {
        input {
          padding: 0px 32px !important;
        }
      }

      label {
        width: 100%;

      }

      p {
        margin-top: 10px;
        margin-bottom: 8px;
      }

      .col-mlr-4 {
        padding: 4px !important;

        button {
          width: 100% !important;
          max-width: 100%;
          margin-top: 10px;
        }
      }
    }
    .form-yeucau {
      .btn-guiyeucau {
        max-width: 100% !important;
        width: 100% !important;

        button {

          max-width: 100% !important;
        }
      }
    }
  }
}
