<app-breadcrumb></app-breadcrumb>
<section class="lien-he" [style.backgroundImage]="'url('+banner?.BANNER+')'">
  <div class="container">
    <div class="contact-us">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-12">
          <div class="description">
            <div class="name-description">
              <h3>Công ty CP tập đoàn XD và DL Bình Minh<br>
                DU LỊCH SINH THÁI THIÊN SƠN – SUỐI NGÀ</h3>
            </div>
            <div class="text-description">
              <p class="dia-chi"><img src="../../../../assets/images/contact/ICON1.png" alt="">ĐC: {{contact?.street}}
              </p>
              <p class="sdt"><img src="../../../../assets/images/contact/ICON2.png" alt="">Tel
                :{{contact?.phone}}</p>
              <p class="sdt-2"><img src="../../../../assets/images/contact/ICON2.png" alt="">Tel:{{contact?.mobile}}</p>
              <p class="website"><img src="../../../../assets/images/contact/ICON3.png" alt="">Website
                : {{contact?.website}}</p>
              <p class="email"><img src="../../../../assets/images/contact/ICON4.png" alt="">Email :
                {{contact?.email}}</p>
            </div>
            <div class="list-icon">
              <a href="{{Partners_footer?.facebook}}" *ngIf="Partners_footer?.facebook"><img src="../../../../assets/images/contact/facebook.png" alt=""></a>
              <a href="{{Partners_footer?.twitter}}" *ngIf="Partners_footer?.twitter"><img src="../../../../assets/images/contact/twitter.png" alt=""></a>
              <a href="{{Partners_footer?.youtube}}" *ngIf="Partners_footer?.youtube"><img src="../../../../assets/images/contact/youtube.png" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="form-contact" [formGroup]="ContactForm">
            <div class="heading">
              <h2>LIÊN HỆ</h2>
              <span class="note">Điền vào form chúng tôi sẽ liên hệ với bạn</span>
            </div>
            <div class="full-name margin-bot-16">
              <p class="label">Họ và tên : <span>*</span></p>
              <input type="text" class="form-control" placeholder="Nhập họ tên" formControlName="name">
              <div
                *ngIf="ContactForm.get('name').invalid && (ContactForm.get('name').dirty || ContactForm.get('name').touched)"
                class="baoloi">

                <div *ngIf="ContactForm.get('name').errors.required">
                  Vui lòng nhập họ tên...
                </div>
                <div
                  *ngIf="ContactForm.get('name').errors.pattern">
                  Họ tên không chứa số và các ký tự đặc biệt.
                </div>
              </div>
            </div>
            <div class="email margin-bot-16">
              <p class="label">Email : <span>*</span></p>
              <input type="text" class="form-control" placeholder="Nhập email" formControlName="email">
              <div
                *ngIf="ContactForm.get('email').invalid && (ContactForm.get('email').dirty || ContactForm.get('email').touched)"
                class="baoloi">

                <div *ngIf="ContactForm.get('email').errors.required">
                  Vui lòng nhập email...
                </div>
                <div
                  *ngIf="ContactForm.get('email').errors.email">
                  Vui lòng nhập đúng email...
                </div>
              </div>
            </div>
            <div class="content-mess">
              <p class="label">Nội dung lời nhắn :</p>
              <textarea class="form-control  form-control-area" rows="3" placeholder="Nhập nội dung"
                formControlName="massage"></textarea>
            </div>
            <div class="button-register">
              <a href="javasript:void(0)"><input type="submit" class="form-control" (click)="postContact()"
                  value="GỬI LIÊN HỆ" [disabled]="ContactForm.invalid"
                  [style.backgroundColor]="ContactForm.invalid? 'silver' : '#ffa300'"></a>
            </div>
          </div>
          <!-- END FORM CONTACT -->
        </div>
      </div>
    </div>
  </div>
</section>
