//colors
$black_22: rgba(0,0,0,0.22);
$color_chateau_green_approx: #22ae51;
$color_killarney_approx: #3a6d4b;

//fonts
$font_0: sf_pro_displaybold;
$font_1: sf_ui_displayregular;

.lien-he {
  background-attachment: fixed;
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 43px;
  padding-bottom: 53px;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 0 1000000px $black_22 inset;
  .description {
    margin-right: 250px;
  }
  .name-description {
    object-fit: contain;
    border-bottom: solid 2px $color_chateau_green_approx;
    padding-bottom: 6px;
    h3 {
      font-family: $font_0;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.46;
      letter-spacing: normal;
      text-align: left;
      color: var(--white);
    }
  }
  .text-description {
    margin-top: 40px;
    padding-bottom: 35px;
    border-bottom: solid 2px $color_chateau_green_approx;
    p {
      font-family: $font_1;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.5;
      letter-spacing: normal;
      text-align: left;
      color: var(--white);
      margin-bottom: 0;
    }
    img {
      width: 20.4px;
      height: 20.4px;
      object-fit: contain;
      margin-right: 14px;
    }
  }
  .list-icon {
    margin-top: 23px;
    img {
      background-color: $color_killarney_approx;
      width: 38.1px;
      height: 38.1px;
      object-fit: contain;
      margin-right: 28px;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 50%;
    }
  }
  .form-contact {
    max-width: 366px;
    height: auto;
    background-color: #f8f8f8;
    padding: 16px 16px 12px 17px;
    border-radius: 3px;
  }
  .form-contact .heading h2 {
    font-family: sf_ui_displayregular;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #3a6d4b;
    margin-bottom: 4px;
  }
  .form-contact .heading {
    text-align: left;
    margin-bottom: 16px;
  }
  .form-contact .note {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    border-bottom: solid 2px #3a6d4b;
    padding-bottom: 16px;
  }
  .form-contact .margin-bot-16 {
    margin-bottom: 16px;
  }
  .form-contact .margin-bot-16 p {
    margin-bottom: 5px;
  }
  .form-contact .form-control {
    height: 35px;
    opacity: 0.82;
    border-radius: 3px;
    border: solid 1px #bbbbbb;
    background-color: var(--white);
    width: 100%;
    font-size: 12px;

  }
  .form-contact .baoloi{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    font-style: italic;
    color: red;
  }
  .form-contact .form-control-area {
    height: 108px;
    opacity: 0.82;
    border-radius: 3px;
    border: solid 1px #bbbbbb;
    background-color: var(--white);
    padding: 10px;
  }
  .form-contact .form-control-area::placeholder{
    padding: 0;
  }
  .form-contact  .label {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 0.1px;
    text-align: left;
    color: #2e2e2e;
  }
  .form-contact  .label span {
    color: #ff0013;
  }
  .form-contact .form-control::placeholder {
    font-family: sf_ui_displayregular;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: left;
    color: #bbbbbb;
  }
  .form-contact .form-control-area::placeholder  {
    padding-top: 8px;
  }
  .form-contact .button-register a:hover{
    text-decoration: none;

  }
  .form-contact input[type='submit'] {
    border-radius: 3px;
    background-color: #ffa300;
    color: #fff;
    cursor: pointer;
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
  }
  .content-mess {
    margin-bottom: 24px;
  }
  .content-mess p {
    margin-bottom: 5px;
  }
}

  @media only screen and (max-width: 767px) {
    .lien-he .list-icon  {
          margin-bottom: 23px;
    }
    .lien-he .form-contact{
      max-width: 100% !important;
    }

}
@media(max-width:992px){
  .lien-he .description{
    margin-right: 0px;
  }
}
