.wrap-combo-detail {
  #breadcrumbs {
    background-color: #3a6d4b;
  }

  #breadcrumbs .breadcrumb {
    background-color: #3a6d4b;
    padding: 7px 0px;
    margin: 0;
  }

  #breadcrumbs .breadcrumb a {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    color: #22ae51;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
  }

  #breadcrumbs .breadcrumb a:hover {
    cursor: pointer;
  }

  #breadcrumbs .breadcrumb .active {
    color: var(--white);
    font-family: sf_ui_displayregular;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    font-size: 14px;
  }

  #breadcrumbs .breadcrumb img {
    margin: 0 10px;
    color: #22ae51;
  }

  /* Meeting rooom */
  .Meeting-room .name-section {
    text-align: left;
  }

  .Meeting-room .name-section h1 {
    font-family: sf_ui_displayregular;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--black);
    padding: 40px 0;
  }

  /* FORM */
  .main .form {
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    background-color: var(--white);
    .notice_on{
      position: relative;
      &:after{
        content: 'Mục này là bắt buộc!';
        position: absolute;
        color: red;
        top: 0;
        right: 0;
      }
    }
    .notice_on2{
      position: relative;
      &:after{
        content: 'Vui lòng nhập đúng định dạng!';
        position: absolute;
        color: red;
        top: 0;
        right: 0;
      }
    }
  }

  .main .form .form-title {
    text-align: center;
    background-color: #3a6d4b;
    border-radius: 3px 3px 0 0;
  }

  .main .form .form-title h3 {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: var(--white);
    padding: 10px 68px;
  }

  .main .form .form-info {
    padding: 22px 20px 20px 20px;
  }

  .main .form .form-info p {
    margin-bottom: 5px;
    font-family: sf_ui_displayregular;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
  }

  .main .form .form-info .form-control {
    border-radius: 3px;
    background-color: var(--white);
    margin-bottom: 10px;
  }

  .main .form .form-info .form-control::placeholder {
    font-family: sf_ui_displayregular;
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #bbbbbb;
  }

  .main .form .form-info .chon {
    background-image: url('../../../../assets/images/combo/down-arrow.png');
    background-repeat: no-repeat;
    background-position: bottom 11px right 13px;
  }

  .main .form .form-info .picknumber {
    cursor: pointer;
  }

  .main .form .form-info .drop-picknumber {
    width: 100%;
    padding: 24px 24px 8px;
    background-color: #3a6d4b;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
    z-index: 3;
    transform: translate(0px, 57px)!important;
    form{
      display: flex;
      justify-content: space-between;
      color: #fff;
      div:nth-child(1){
        margin-bottom: 0;
      }
      div:nth-child(2){
        border-radius: 2rem;
        border: 0;
        background: #fff;
        color: #222;
        box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
        span{
          -moz-user-select: -moz-none;
          -webkit-user-select: none;
          -o-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        span:nth-child(1), span:nth-child(3){
          width: 24px;
          height: 24px;
          display: inline-block;
          text-align: center;
          cursor: pointer;
          border-radius: 0 12px 12px 0;
          &:hover{
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(247,249,248,1) 24%, rgba(58,109,75,1) 100%);
          }
        }
        span:nth-child(1){
          border-radius: 12px 0 0 12px;
          &:hover{
            background: rgb(58,109,75);
            background: linear-gradient(90deg, rgba(58,109,75,1) 0%, rgba(247,249,248,1) 76%, rgba(255,255,255,1) 100%);
          }
        }
        span:nth-child(2){
          width: 24px;
          display: inline-block;
          text-align: center;
        }
      }
    }
  }

  .main .form .form-info textarea {
    height: 60.4px;
  }

  .main .form .form-info .form-control.area::placeholder {
    padding-top: 10px;
  }

  .main .form .form-info .date {
    position: relative;
    cursor: pointer;
    input{
      text-indent: 20px;
      font-size: 14px;
      line-height: 38px;
      height: 38px;
      cursor: pointer;;
    }
  }

  .main .form .form-info .date img {
    position: absolute;
    top: 30px;
    left: 10px;
    margin-right: 10px;
    z-index: 2;
  }

  .main .form .form-info .date .form-control::placeholder {
    font-family: sf_ui_displayregular;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: #bbbbbb;
  }

  .main .form .form-info .time {
    margin-bottom: 16px;
  }

  .main .form .form-info .time .check {
    width: 100%;
    font-family: sf_ui_displayregular;
    font-size: 14px;
    color: var(--black);
    display: flex;
    line-height: 1.14;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }

  .main .form .form-info .time .check .check-time {
    width: 33.33%;
  }

  .main .form .form-info .time .check .check-time .to {
    width: 16px;
    height: 16px;
    border: solid 1px #3a6d4b;
    display: block;
    border-radius: 100%;
    position: relative;
    float: left;
    margin-right: 11px;
  }

  .main .form .form-info .time .check .check-time .nho {

    width: 12px;
    height: 12px;
    display: block;
    border-radius: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .main .form .form-info .time .check .check-time.selected .nho {
    background-color: #3a6d4b;
  }

  .main .form .form-info .area {
    margin-bottom: 16px;
  }

  .main .form .form-info .area .check {
    width: 100%;
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: var(--black);
    display: flex;
  }

  .main .form .form-info .area .check .check-area {
    width: 33.33%;
  }

  .main .form .form-info .area .check .check-area .to {
    width: 16px;
    height: 16px;
    border: solid 1px #3a6d4b;
    display: block;
    border-radius: 100%;
    position: relative;
    float: left;
    margin-right: 11px;
  }

  .main .form .form-info .area .check .check-area .nho {
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .main .form .form-info .area .check .check-area.selected .nho {
    background-color: #3a6d4b;
  }

  .main .form .form-info .send {
    margin-top: 20px;
    text-align: center;
  }

  .main .form .form-info .send input {
    font-size: 14px;
    padding: 10px 28px;
    border-radius: 3px;
    background-color: #ffa300;
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: var(--white);
    border: 1px solid #ffa300;
  }

  .main .form .form-info .send a:hover {
    cursor: pointer;
  }

  /* DON GIA VA DICH VU */
  .Meeting-room .main .don-gia {
    margin: 20px 0;
  }

  .Meeting-room .main .title {
    margin-bottom: 12px;
  }

  .Meeting-room .main .title h4 {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);

  }

  ul li {
    list-style: none;
  }

  .don-gia ul {
    margin-left: 18px;
    margin-bottom: 11px;
  }

  .don-gia ul li {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.29;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
    position: relative;
  }

  .don-gia ul li::before {
    content: '.';
    font-size: 66px;
    color: #3a6d4b;
    position: absolute;
    z-index: 2;
    left: -18px;
    top: -79px;
  }

  .don-gia ul {
    margin-top: 12px 0px;
  }

  .don-gia span {
    color: #ff0013;
    font-weight: bold;
  }

  .don-gia .text-don-gia {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #4c4c4c;
    position: relative;
  }

  .Meeting-room {
    margin-bottom: 53.5px;
  }

  .Meeting-room .main .dich-vu ul li {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
    position: relative;
  }

  .Meeting-room .main .dich-vu li span {
    color: #3a6d4b;
  }
}
@media(max-width:768px){
  .slide-to.slick-initialized.slick-slider .slick-slide img{
    height: 325px !important;
  }
  .slide-be.slick-initialized.slick-slider .slick-slide img{
    height: 80px;
  }
}
@media(max-width:576px){
  .slide-to.slick-initialized.slick-slider .slick-slide img{
    height: 270px !important;
  }
  .slide-be.slick-initialized.slick-slider .slick-slide img{
    height: 65px;
  }
}
@media(max-width:462px){
  .slide-to.slick-initialized.slick-slider .slick-slide img{
    height: 210px !important;
  }
}