<app-breadcrumb></app-breadcrumb>
<section class="khachsan">
  <div class="banner">
    <img src="{{hero_banner?.image}}" alt="">
  </div>
  <div class="container">
    <div class="hason">
      <h2>Hạ Sơn</h2>
      <div class="row">
        <div class="col-lg-6 col-md-6 hason-room" *ngFor="let booking of list_booking_HS">
          <div class="img" routerLink="/dat-phong/khach-san/{{booking?.slug}}">
            <div class="tag1" *ngIf="booking?.is_label === '1'" [style.background-color]="booking?.label_background_color"
                 [style.color]="(booking.label_color !== null ? booking?.label_color : '#fff')">{{booking?.label_name}}
              <span [style.border-color]="booking?.label_background_color"></span>
            </div>
            <img src="{{booking?.image}}" alt="">
          </div>
          <div class="thongtin">
            <h3 routerLink="/dat-phong/khach-san/{{booking?.slug}}">{{booking?.name}}</h3>
            <div>
              <p *ngFor="let amenity of booking?.hotelRoomAmenities">
                <span class="wifi">
                <img src="{{amenity.image}}">
              </span>
                <span class="number" *ngIf="amenity?.have_quantity">{{amenity?.number}}</span>
                <span title="{{amenity.name}}">{{amenity.name}}</span>
              </p>
              <!--<p><span class="giuong"></span><span>{{booking?.capacity}}</span>Giường</p>-->
            </div>
            <div>
              <p>Chỉ từ <span>{{booking?.retail_price}}</span></p>
              <p>/phòng/đêm</p>
              <p>
                <button routerLink="/dat-phong/khach-san/{{booking?.slug}}">chi tiết</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="trungson">
      <h2>trung sơn</h2>

      <div class="trungson-room"
           *ngFor="let booking of list_booking_TS.slice(0,1)">
        <div class="body" [style.backgroundImage]="'url('+booking?.image+')'">
          <div class="overlay-ts"></div>
          <div class="thongtin">
            <h3 routerLink="/dat-phong/khach-san/{{booking?.slug}}">{{booking?.name}}</h3>
            <p [innerHTML]="booking?.description"></p>
            <div class="uu-dai">
              <p *ngFor="let amenity of booking?.hotelRoomAmenities">
                <span class="wifi">
                <img src="{{amenity.image}}">
              </span>
                <span class="number" *ngIf="amenity?.have_quantity">{{amenity?.number}}</span>
                <span title="{{amenity.name}}">{{amenity.name}}</span>
              </p>
              <!--<p><span class="breakfast"></span>Miễn phí ăn sáng,trà và cafe trong phòng</p>-->
              <!--<p><span class="tam"></span>Tắm khô xông hơi trong phòng</p>-->
              <!--<p><span class="dientich"></span>Diện tích: 40m2</p>-->
            </div>
            <div class="gia">
              Chỉ từ <span>{{booking?.retail_price}}</span> <span>/phòng/đêm</span>
            </div>
            <button routerLink="/dat-phong/khach-san/{{booking?.slug}}">chi tiết</button>
          </div>
        </div>
      </div>
    </div>
    <div class="ngoason">
      <h2>ngọa sơn</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6 ngoason-room" *ngFor="let booking of list_booking_NS">
          <div class="img" routerLink="/dat-phong/khach-san/{{booking?.slug}}">
            <div class="tag1" *ngIf="booking?.is_label === '1'" [style.background-color]="booking?.label_background_color"
                 [style.color]="(booking.label_color === null ? booking?.label_color : '#fff')">{{booking?.label_name}}
              <span [style.border-color]="booking?.label_background_color"></span>
            </div>
            <img src="{{booking?.image}}" alt="">
          </div>
          <div class="thongtin">
            <h3 routerLink="/dat-phong/khach-san/{{booking?.slug}}">{{booking?.name}}</h3>
            <div>
              <p *ngFor="let amenity of booking?.hotelRoomAmenities" class="text-over">
                <span class="wifi">
                <img src="{{amenity.image}}" >
              </span>
                <span class="number" *ngIf="amenity?.have_quantity">{{amenity?.number}}</span>
                <span title="{{amenity.name}}">{{amenity.name}}</span>
              </p>
              <!--<p><span class="giuong"></span><span>{{booking?.capacity}}</span>Giường</p>-->
            </div>
            <div>
              <p>Chỉ từ <span>{{booking?.retail_price}}</span></p>
              <p>/phòng/đêm</p>
              <p>
                <button routerLink="/dat-phong/khach-san/{{booking?.slug}}">chi tiết</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
