.khachsan {

  .tag1 {
    position: absolute;
    background-color: #ff0013;
    top: 10px;
    left: 8px;
    width: auto;
    z-index: 1;
    height: 44px;
    padding: 14px 40px 14px 33px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: sf_pro_displaybold;
    line-height: 16px;
    text-align: center;
    color: var(--white);
    span{
      position: absolute;
      border-right: solid 10px transparent!important;
      border-top: solid 22px;
      border-bottom: solid 22px;
      left: 100%;
      height: 44px;
      width: 14px;
      top: 0px;
    }
    &:before {
      position: absolute;
      content: "";
      border-left: solid 2.5px transparent;
      border-bottom: solid 2.5px transparent;
      border-top: solid 2.5px #560006;
      border-right: solid 2.5px #560006;
      left: 0;
      height: 7px;
      width: 7px;
      bottom: -7px;
    }
  }

  .banner {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    margin-bottom: 50px;
  }

  .hason {
    h2 {
      font-family: sf_ui_displayregular;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.21;
      text-align: center;
      color: var(--black);
      text-transform: uppercase;
      margin: 50px auto;
    }

    .hason-room {
      height: 100%;
      margin-bottom: 20px;

      &:nth-last-child(2) {
        margin-bottom: 0px;
      }

      &:last-child {
        margin-bottom: 0px;
      }

      .img {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        height: 100%;
        max-height: 271px;
        overflow: hidden;
        //position: relative;

        img {
          width: 100%;
          height: 271px;
          border-radius: 3px 3px 0 0;
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &:hover {
            transform: rotate(5deg) scale(1.2);
          }
        }
      }

      .thongtin {

        h3 {
          font-family: sf_ui_displayregular;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.17;
          text-align: left;
          color: var(--black);
          cursor: pointer;

          &:hover {
            color: #3a6d4b;
          }
        }

        padding: 10px 10px 20px 10px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border: solid 1px rgba(0, 0, 0, 0.15);
        min-height: 145px;

        & > div {
          p {
            margin-bottom: 7px;
            margin-left: 9px;
            height: 16px;
            font-family: sf_ui_displayregular;
            font-size: 14px;
            line-height: 1.14;
            text-align: left;
            color: #4c4c4c;

            span {
              // margin-right: 5px;
             

              &.wifi {
                // margin-bottom: -3px;
                display: inline-block;
                width: 18.2px;
                height: 13.6px;
                margin-right: 8px;
                object-fit: contain;
                //background-image: url(../../../../assets/images/booking/wifi-xanh.svg);
                img{
                  margin-top: -3px;
                }
              }

              &.breakfast {
                display: inline-block;
                width: 16px;
                height: 10.7px;
                object-fit: contain;
                //background-image: url(../../../../assets/images/booking/free-xanh.svg);
              }

              &.giuong {
                margin-bottom: -5px;
                display: inline-block;
                width: 16.1px;
                height: 16.1px;
                object-fit: contain;
                //background-image: url(../../../../assets/images/booking/giuonga-xanh.svg);
              }
            }

            span.number {
              font-weight: bold;
              color: var(--black);
              padding-right: 3px;
            }
          }
        }

        div {
          display: inline-block;

          &:last-child {
            float: right;
            max-width: 171px;
            width: 100%;

            p {
              margin-bottom: 0px;
              font-family: sf_ui_displayregular;
              font-size: 12px;
              font-weight: normal;
              font-style: italic;
              font-stretch: normal;
              line-height: 1.17;
              letter-spacing: normal;
              text-align: right;
              color: #4c4c4c;

              button {
                margin-top: 7px;
                font-family: sf_ui_displayregular;
                font-size: 14px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.14;
                letter-spacing: normal;
                text-align: center;
                color: var(--white);
                max-width: 161px;
                height: 36px;
                text-transform: uppercase;
                width: 100%;
                border-radius: 3px;
                background-color: #3a6d4b;
                border: none;

                &:hover {
                  background-color: #22ae51;
                }
              }

              &:nth-child(1) {
                font-style: normal;
                color: var(--black);
                margin-bottom: 5px;

                span {
                  font-size: 18px;
                  font-weight: bold;
                  font-style: normal;
                  color: #ff0013;
                }
              }
            }
          }
        }
      }
    }
  }

  .trungson {
    .trungson-room {
      height: 100%;
      margin-bottom: 20px;
      position: relative;
      overflow: hidden;

      &:last-child {
        margin-bottom: 0px;
      }

      .overlay-ts {
        width: 100%;
        height: 600px;
        position: absolute;
        top: -75px;
        background: linear-gradient(90deg, transparent 0%, transparent 0%, #3a6d4b 87%);
      }
    }

    .body {
      padding: 65px 0;
      width: 100%;
      max-height: 430px;
      height: 100%;
      background-size: cover;

      .thongtin {
        max-width: 367px;
        width: 100%;
        margin-left: auto;
        position: relative;

        h3 {
          font-family: sf_ui_displayregular;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.17;
          text-align: left;
          color: var(--white);
          margin-bottom: 24px;
          cursor: pointer;

          &:hover {
            color: #ffa300;
          }
        }

        p {
          font-family: sf_ui_displayregular;
          font-size: 14px;
          line-height: 1.14;
          text-align: left;
          color: var(--white);
        }

        .uu-dai {
          margin: 16px 0 32px 0;

          p {
            margin-bottom: 8px;

            span {
              margin-right: 8px;
              margin-bottom: -2px;

              &.wifi {
                display: inline-block;
                width: 16.8px;
                height: 12.6px;
                object-fit: contain;
                //background-image: url(../../../../assets/images/booking/wifi.svg);
              }

              &.breakfast {
                margin-bottom: 0px;
                display: inline-block;
                width: 16px;
                height: 10.7px;
                object-fit: contain;
                //background-image: url(../../../../assets/images/booking/free.svg);
              }

              &.tam {
                display: inline-block;
                width: 16px;
                height: 16px;
                object-fit: contain;
                //background-image: url(../../../../assets/images/booking/phongtam.svg);
              }

              &.dientich {
                display: inline-block;
                width: 15.3px;
                height: 16px;
                object-fit: contain;
                //background-image: url(../../../../assets/images/booking/dientichphong.svg);
              }
            }
          }
        }

        .gia {
          margin-bottom: 24px;
          color: var(--white);

          span:nth-child(1) {
            font-size: 18px;
            font-weight: bold;
            color: #ff0013;
          }

          span:nth-child(2) {
            font-size: 12px;
            font-weight: normal;
            font-style: italic;
            color: var(--white);
          }
        }

        button {
          max-width: 161px;
          width: 100%;
          height: 36px;
          border-radius: 3px;
          border: solid 1px #3a6d4b;
          background-color: var(--white);
          text-transform: uppercase;
          border: none;
          font-family: sf_ui_displayregular;
          font-size: 14px;
          font-weight: bold;
          line-height: 1.14;
          text-align: center;
          color: #3a6d4b;
          cursor: pointer;

          &:hover {
            background-color: #22ae51;
          }
        }
      }
    }

    h2 {
      text-align: center;
      font-family: sf_ui_displayregular;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.21;
      text-align: center;
      color: var(--black);
      text-transform: uppercase;
      margin: 50px auto;
    }


  }

  .ngoason {
    margin-bottom: 50px;

    h2 {
      text-align: center;
      font-family: sf_ui_displayregular;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.21;
      text-align: center;
      color: var(--black);
      text-transform: uppercase;
      margin: 50px auto;
    }

    .ngoason-room {
      height: 100%;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0px;
      }

      &:nth-last-child(2) {
        margin-bottom: 0px;
      }

      &:nth-last-child(3) {
        margin-bottom: 0px;
      }

      .img {
        border-top-left-radius: 3px;
        height: 100%;
        max-height: 272px;
        border-top-right-radius: 3px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          max-height: 272px;
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &:hover {
            transform: rotate(5deg) scale(1.2);
          }
        }
      }

      .thongtin {
        padding: 10px 15px 14px 15px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border: solid 1px rgba(0, 0, 0, 0.15);
        min-height: 126px;
        border-top: 0;

        & > div {
          p.text-over {
            width: 175px;
            // white-space: nowrap;
            // overflow: hidden;
            text-overflow: ellipsis;
            &:last-child{
              margin-bottom: 0px;
            }
          }

          p {
            span {
              margin-right: 5px;

              &.wifi {
                margin-bottom: -3px;
                display: inline-block;
                width: 18.2px;
                height: 13.6px;
                object-fit: contain;
                //background-image: url(../../../../assets/images/booking/wifi-xanh.svg);
              }

              &.breakfast {
                display: inline-block;
                width: 16px;
                height: 10.7px;
                object-fit: contain;
                //background-image: url(../../../../assets/images/booking/free-xanh.svg);
              }

              &.giuong {
                margin-bottom: -5px;
                display: inline-block;
                width: 16.1px;
                height: 16.1px;
                object-fit: contain;
                //background-image: url(../../../../assets/images/booking/giuonga-xanh.svg);
              }
            }

            margin-bottom: 7px;
            //height: 16px;
            font-family: sf_ui_displayregular;
            font-size: 14px;
            line-height: 1.14;
            text-align: left;
            color: #4c4c4c;

            span.number {
              font-weight: bold;
              color: var(--black);
            }
          }
        }

        h3 {
          font-family: sf_ui_displayregular;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.17;
          text-align: left;
          color: var(--black);
          cursor: pointer;

          &:hover {
            color: #3a6d4b;
          }
        }

        div {
          &:last-child {
            margin-top: -5px;
            max-width: 140px;
            width: 100%;
          }

          display: inline-block;

          &:last-child {
            float: right;

            p {
              margin-bottom: 0px;
              font-family: sf_ui_displayregular;
              font-size: 12px;
              font-weight: normal;
              font-style: italic;
              font-stretch: normal;
              line-height: 1.17;
              letter-spacing: normal;
              text-align: right;
              color: #4c4c4c;

              button {
                margin-top: 7px;
                font-family: sf_ui_displayregular;
                font-size: 14px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.14;
                letter-spacing: normal;
                text-align: center;
                color: var(--white);
                max-width: 131px;
                height: 36px;
                text-transform: uppercase;
                width: 100%;
                border-radius: 3px;
                background-color: #3a6d4b;
                border: none;
                cursor: pointer;

                &:hover {
                  background-color: #22ae51;
                }
              }

              &:nth-child(1) {
                font-style: normal;
                color: var(--black);

                span {
                  font-size: 18px;
                  font-weight: bold;
                  font-style: normal;
                  color: #ff0013;
                }
              }
            }
          }
        }
      }
    }
  }

  /*responsive*/
  @media(max-width: 1200px) {
    .hason {
      .hason-room {
        .thongtin {
          div {
            width: 290px;

            p {
              height: auto;
              display: flex;

              span {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                &.wifi {
                  margin-top: 2px;
                }
              }
            }

            &:last-child {
              p {
                display: block;
              }

              max-width: 130px;
            }
          }
        }
      }
    }
    .ngoason {

      .ngoason-room {
        .thongtin {
          min-height: 169px;
         
          div {
            width: 150px;
            p.text-over {
              width: 150px !important;
             }
            p {
              height: auto;
              display: flex;

              span {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                &.wifi {
                  margin-top: 2px;
                }
              }
            }

            &:last-child {
              p {
                display: block;
              }

              max-width: 100px;
            }
          }
        }
      }
    }
  }
  @media(max-width: 992px) {
    .banner {
      img {
        height: 300px;
      }
    }
    .hason {
      .hason-room {
        .thongtin {
          div {
            width: 185px;

            p {
              height: auto;
              display: flex;
              margin-left: 0;

              span {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                &.wifi {
                  margin-top: 2px;
                }
              }
            }

            &:last-child {
              p {
                display: block;
              }

              max-width: 118px;
            }
          }
        }
      }
    }
  }
  @media(max-width: 767.9px) {
   
    .banner {
      img {
        height: 200px;
      }
    }
    .hason {
      .hason-room {
        &:nth-last-child(2) {
          margin-bottom: 20px;
        }

        .thongtin {
          div {
            width: 70%;

            p {
              height: auto;
              display: flex;

              span {

                background-repeat: no-repeat;

                &.wifi {
                  margin-top: 2px;
                  width: 16.2px;
                }
              }
            }

            &:last-child {
              p {
                display: block;
              }

              max-width: 131px;
            }
          }
        }
      }
    }
    .ngoason {

      .ngoason-room {
        &:nth-last-child(2) {
          margin-bottom: 20px;
        }

        &:nth-last-child(3) {
          margin-bottom: 20px;
        }

        .thongtin {
          min-height: 148px;
          div {
            width: 160px;

            p {
              height: auto;
              display: flex;

              span {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                &.wifi {
                  margin-top: 2px;
                }
              }
            }

            &:last-child {
              p {
                display: block;
              }

              max-width: 120px;
            }
          }
        }
      }
    }
  }
  @media(max-width: 576px) {
    .hason {
      .hason-room {
        .thongtin {
          div {
            width: 60%;

            p {
              height: auto;
              display: flex;

              span {
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;

                &.wifi {
                  margin-top: 2px;
                  width: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
  @media(max-width: 411px) {
    .hason {
      .hason-room {
        .thongtin {
          div {
            width: 50%;

            p {
              height: auto;
              display: flex;

              span {
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;

                &.wifi {
                  margin-top: 2px;
                  width: 30px;
                }
              }
            }

            &:last-child {
              p {
                display: block;
              }
              span{
                margin-right: 0px !important;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 360px) {
    .ngoason {

      .ngoason-room {
        .thongtin {
          div {
            width: 150px;

            p {
              height: auto;
              display: flex;

              span {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                &.wifi {
                  margin-top: 2px;
                }
              }
            }

            &:last-child {
              p {
                display: block;
              }

              max-width: 100px;
            }
          }
        }
      }
    }
  }
}
