body {
    font-family: sf_ui_displayregular;
}

#breadcrumbs {
    background-color: #3a6d4b;
}

#breadcrumbs .breadcrumb {
    background-color: #3a6d4b;
    padding: 7px 0px;
    margin: 0;
}

#breadcrumbs .breadcrumb a {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    color: #22ae51;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
}

#breadcrumbs .breadcrumb a:hover {
    cursor: pointer;
}

#breadcrumbs .breadcrumb .active {
    color: var(--white);
    font-family: sf_ui_displayregular;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    font-size: 14px;
}

#breadcrumbs .breadcrumb img {
    margin: 0 10px;
    color: #22ae51;
}


/* BLOG THUONG */

.blog-chi-tiet {
    margin-bottom: 40px;
    margin-top: 32px;
  .notice_on{
    position: relative;
    &:before{
      content: 'Mục này là bắt buộc!';
      position: absolute;
      color: red;
      top: 0;
      right: 0;
    }
  }
  .notice_on2{
    position: relative;
    &:before{
      content: 'Vui lòng nhập đúng định dạng!';
      position: absolute;
      color: red;
      top: 0;
      right: 0;
    }
  }

  .notification {
    width: 236px;
    line-height: 16px;
    padding: 10px 15px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #222;
    position: fixed;
    bottom: 10px;
    right: -250px;
    transition: 0.5s;
    z-index: 1111;
    &.show {
      right: 10px
    }
    img {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translate(0, -50%);
      width: 12px
    }
  }
}

.blog-chi-tiet .blog-thuong .content-blog h1 {
    font-family: sf_ui_displayregular;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
    margin-bottom: 21px;
}

.blog-chi-tiet .blog-thuong .content-blog .box-thong-tin {
    margin-bottom: 24px;
}

.blog-chi-tiet .blog-thuong .content-blog .box-thong-tin .box-date-writer {
    float: left;
}

.box-date-writer .date {
    float: left;
    background-image: url('/assets/images/ANH/TIN-TUC/ICON1.png');
    background-position: left center;
    background-size: 12.5px 13px;
    background-repeat: no-repeat;
    font-family: sf_ui_displayregular;
    font-size: 13px;
    font-weight: 500;
    color: #bbbbbb;
    padding-left: 20px;
}

.box-date-writer .writer {
    float: left;
    background-image: url('/assets/images/ANH/TIN-TUC/ICON2.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    font-size: 13px;
    font-weight: 500;
    color: #bbbbbb;
    margin-left: 10px;
    border-left: 2px solid #bbbbbb;
    padding-left: 30px;
}

.box-date-writer .view {
    float: left;
    background-image: url('/assets/images/ANH/TIN-TUC/ICON3.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    font-size: 13px;
    font-weight: 500;
    color: #bbbbbb;
    margin-left: 10px;
    border-left: 2px solid #bbbbbb;
    padding-left: 30px;
}

.blog-chi-tiet .blog-thuong .content-blog .box-thong-tin .box-rating {
    float: left;
    margin-left: 10px;
    font-size: 13px;
    text-align: left;
    color: #bbbbbb;
    margin-right: 10px;
}

.blog-chi-tiet .blog-thuong .content-blog .box-thong-tin .box-rating .rate {
    float: left;
}

.box-rating .star span {
    background-image: url('/assets/images/ANH/TIN-TUC/star.png');
    cursor: pointer;
    width: 15px;
    height: 14px;
    margin-right: 5px;
    float: left;
}

.blog-chi-tiet .blog-thuong .content-blog .box-thong-tin .box-rating .star {
    float: left;
}

.blog-chi-tiet .blog-thuong .content-blog .box-thong-tin .share a {
    padding: 4px 9px 4px 10px;
    height: 24px;
    background-color: #3a6d4b;
    font-family: sf_ui_displayregular;
    font-size: 14px;
    text-align: left;
    color: var(--white);
    text-decoration: none;
}

.blog-chi-tiet .blog-thuong .content-blog .box-thong-tin .share {
    float: left;
}

.blog-chi-tiet .blog-thuong .content-blog .box-thong-tin .share img {
    margin-right: 11px;
}

.blog-chi-tiet .blog-thuong .content-blog .short-description {
    margin-bottom: 16px;
}

.short-description span {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0px;
    text-align: left;
    color: var(--black);
}

.blog-chi-tiet .blog-thuong .content-blog .muc-luc {
    margin-bottom: 24px;
    border-radius: 3px;
    border: solid 1px #e9e9e9;
}

.muc-luc .title-muc-luc {
    background-color: #3a6d4b;
    padding: 8px 0;
}

.muc-luc .title-muc-luc img {
    margin-left: 16px;
    margin-right: 8px;
    width: 24.3px;
    height: 18.6px;
    object-fit: contain;
}

.title-muc-luc span {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 0.1px;
    text-align: left;
    color: var(--white);
}

.muc-luc .content-muc-luc {
    padding: 16px 10px 14px 16px;
    text-align: left;
}

.muc-luc .content-muc-luc ul {
    margin-bottom: 0px;
}

.muc-luc .content-muc-luc ul li {
    list-style: none;
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #707070;
    margin-bottom: 0px;
    >span {
        float: left;
        margin-right: 5px;
    }
    * {
        list-style: none;
        font-family: sf_ui_displayregular;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.64;
        letter-spacing: normal;
        color: #707070;
        margin-bottom: 0px;
    }
}

.blog-chi-tiet .blog-thuong .content-blog {
    margin-bottom: 26px;
}

.description p {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 0.1px;
    text-align: left;
    color: #4c4c4c;
}

.description .title {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.1px;
    text-align: left;
    color: #4c4c4c;
}

.description .note {
    font-family: sf_ui_displayregular;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: 0.1px;
    text-align: left;
    color: #4c4c4c;
}

.description .author {
    font-family: sf_ui_displayregular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.1px;
    text-align: right;
    color: #2e2e2e;
}

.description img {
    width: 100% !important;
    height: auto !important;
    margin-top: 12px;
    margin-bottom: 12px;
}

.blog-chi-tiet .blog-thuong .bai-viet-lq .tu-khoa {
    float: left;
    margin-bottom: 22px;
}

.tu-khoa span {
    float: left;
    font-family: sf_ui_displayregular;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.1px;
    text-align: left;
    color: #2e2e2e;
}

.tu-khoa .tag {
    float: left;
    margin-left: 17px;
}

.tu-khoa .tag a {
    padding: 5px 19px 3px 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #3a6d4b;
    text-decoration: none;
}

.blog-chi-tiet .blog-thuong .bai-viet-lq .bai-viet {
    margin-bottom: 24px;
    border-radius: 3px;
    border: solid 0.7px #e9e9e9;
    background-color: #f6f6f6;
}

.bai-viet .title-bai-viet {
    background-color: #3a6d4b;
    padding: 8px 0;
}

.bai-viet .title-bai-viet img {
    margin-left: 16px;
    margin-right: 8px;
    width: 21px;
    height: 21px;
    object-fit: contain;
}

.title-bai-viet span {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 0.1px;
    text-align: left;
    color: #fefefe;
}

.bai-viet .content-bai-viet {
    padding: 16px 10px 16px 15px;
    text-align: left;
}

.bai-viet .content-bai-viet ul {
    margin-bottom: 0px;
    list-style: none;
}

.bai-viet .content-bai-viet ul li {
    list-style: none;
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    margin-bottom: 0px;
    position: relative;
    margin-left: 13px;
}

.bai-viet .content-bai-viet ul li:before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #707070;
    border-radius: 100%;
    top: 7px;
    left: -13px;
}


/* BINH LUAN */

.binh-luan .count-bl {
    margin-bottom: 24px;
}

.binh-luan .title-bl {
    font-family: sf_ui_displayregular;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    margin-bottom: 6px;
}

.binh-luan .count-bl .count {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 0.1px;
    text-align: left;
    color: #2e2e2e;
    margin-bottom: 0px;
}

.binh-luan .bl-cua-ban .title-bl {
    font-family: sf_ui_displayregular;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    margin-bottom: 16px;
}

.binh-luan .bl-cua-ban .form-bl {
    border-radius: 3px;
    background-color: #f1f1f1;
}

.inner-form {
    padding: 16px 44px 26px 16px;
}

.binh-luan .bl-cua-ban .form-bl p {
    margin-bottom: 5px;
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 0.1px;
    text-align: left;
    color: #2e2e2e;
}

.binh-luan .bl-cua-ban .form-bl .item {
    margin-bottom: 16px;
}

.binh-luan .bl-cua-ban .form-bl input::placeholder {
    font-family: sf_ui_displayregular;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: left;
    color: #bbbbbb;
}

.binh-luan .bl-cua-ban .form-bl .comment {
    margin-bottom: 24px;
}

.binh-luan .bl-cua-ban .form-bl .comment textarea {
    height: 128px;
    border-radius: 3px;
    border: solid 0.3px #707070;
    background-color: var(--white);
    width: 100%;
    padding-left: 8px;
    padding-top: 8px;
}

.binh-luan .bl-cua-ban .form-bl .comment textarea::placeholder {
    font-family: sf_ui_displayregular;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: 0.1px;
    text-align: left;
    color: #707070;
}

.binh-luan .bl-cua-ban .form-bl .btn-form {
    text-align: center;
}

.binh-luan .bl-cua-ban .form-bl .btn-form button {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    height: 34px;
    border-radius: 3px;
    background-color: #ffa300;
    width: 129px;
    border: 1px solid #ffa300;
    &:hover{
        background-color: #ce8e1f;
    }
}


/* BAI VIET MOI NHAT */

.new-blog .title {
    margin-top: 38px;
    margin-bottom: 15px;
}

.new-blog .title span {
    font-family: sf_ui_displayregular;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
}

.new-blog .item-new {
    border-radius: 3px;
    border: solid 1px #bbbbbb;
    position: relative;
    height: auto;
    margin-bottom: 10px;
    /* width: 100%;  */
    background-color: var(--white);
    /* height: auto;  */
    margin-bottom: 10px;
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
}

.item-new .img-new {
    cursor: pointer;
    flex: 0 0 132px;
    margin-bottom: 0;
    overflow: hidden;
}

.item-new .img-new img {
    height: 100%;
    min-height: 107px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition: 333ms all ease;
    width: 100%;
}

.item-new .inner-new {
    padding: 6px;
}

.item-new .inner-new .title-inner {
    text-decoration: none;
    color: var(--black);
}

.item-new .inner-new .title-inner h4 {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
}

.item-new .inner-new .btn-new {
    margin-top: 10px;
    margin-bottom: 6px;
}

.item-new .inner-new .btn-new a {
    padding: 3px 16px;
    border-radius: 5px;
    border: solid 1px #3a6d4b;
    background-color: var(--white);
    font-family: sf_ui_displayregular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #3a6d4b;
    text-decoration: none;
}

.item-new .inner-new .btn-new:hover a {
    color: #fff;
    background-color: #3a6d4b;
}

.item-new .inner-new .date {
    margin-right: 8px;
}

.item-new .inner-new .date-view {
    margin-bottom: 0px;
    font-family: Roboto;
    font-size: 12px;
    text-align: left;
    color: #bbbbbb;
    position: relative;
}

.item-new .inner-new .view {
    margin-left: 8px;
}

.item-new .inner-new .dot {
    width: 4px;
    height: 4px;
    background-color: #bbbbbb;
    border-radius: 100%;
    border: 1px solid #bbbbbb;
    display: inline-block;
    position: absolute;
    top: 7px;
}

@media (max-width: 991px) {
    .blog-chi-tiet .blog-thuong .content-blog .box-thong-tin .share {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .blog-chi-tiet .blog-thuong .content-blog .box-thong-tin .share {
        margin-top: 10px;
    }
    .blog-chi-tiet .blog-thuong .content-blog .box-thong-tin .box-rating {
        margin-top: 10px;
    }
    .blog-chi-tiet .blog-thuong .content-blog .box-thong-tin .box-date-writer {
        margin-top: 10px;
    }
    @media (max-width: 1199px) {
        .blog-chi-tiet .blog-thuong .content-blog .box-thong-tin .share {}
    }
}

button#u_0_1 {
    display: none !important;
}

ngb-rating {
    outline: none;
}

.full {
    margin-right: 5px;
    &:before {
        content: url("../../../../assets/images/Star-rating/star-fill.png");
    }
}

.empty {
    margin-right: 5px;
    &:before {
        content: url("../../../../assets/images/Star-rating/star-empty.png");
    }
}

.bai-viet .content-bai-viet ul li:hover {
    color: #378c01fa;
    font-weight: bold;
}

.item-new .inner-new .title-inner h4:hover {
    color: #3a6d4b;
}
.blog-chi-tiet .khachhang-binhluan {
  h3 {
    font-family: sf_ui_displayregular;
    margin-top: 19px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
  }

  .khachhang-box {
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    display: flex;
    padding: 10px;
    padding-bottom: 0;
    justify-content: space-between;
    margin-bottom: 10px;

    .name {
      font-family: sf_ui_displayregular;
      font-size: 14px;
      font-weight: bold;
      color: #000000;
    }

    .cac-danhgia {
      display: flex;

      img {
        width: 14px;
        height: 14px;
      }

      .name-khachsan {
        font-family: sf_ui_displayregular;
        font-size: 14px;
        font-weight: 500;
        color: #0f62ac;
      }

      .comment-content {
        margin: 5px 0;
        font-family: sf_ui_displayregular;
        font-size: 14px;
        font-style: italic;
        color: #000000;
      }

      .key-word {
        font-family: sf_ui_displayregular;
        font-size: 14px;
        font-style: italic;
        color: #000000;

        span {
          color: #1278f0;
          float: none;
        }
      }

      p {
        font-family: sf_ui_displayregular;
        font-size: 14px;
        color: #000000;

        span {
          float: right;
          margin-left: 10px;
        }
      }

      > div:last-child {
        font-family: sf_ui_displayregular;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        color: #000000;
        text-align: center;
      }
    }
  }
}
.blog-chi-tiet .khachhang-binhluan {
  .khachhang-box {
    //display: flex;
    .cac-danhgia > div {
      &:first-child div {
        display: inline-block;
        margin-top: 4px;
      }

      > div:last-child {
        margin-left: 72px;
      }
    }
  }

  .xemthem {
    width: 100%;
    text-align: center;

    button {
      width: 145px;
      height: 36px;
      border-radius: 3px;
      background-color: #ffffff;
      margin-bottom: 19px;
      border: solid 0.5px #ff6900;
      font-size: 14px;
      color: #ff6900;

      &:hover {
        background-color: #ff6900;
        color: #ffffff;
      }
    }
  }
}
