<section class="blog-chi-tiet">
  <div class="container">
    <div class="row">
      <div class="col-lg-8" *ngFor="let item of tintuc">
        <div class="blog-thuong">
          <div class="content-blog">
            <h1 class="title-blog">{{item.name}}</h1>
            <div class="box-thong-tin">
              <div class="row">
                <div class="col-md-12">
                  <div class="box-date-writer">
                    <span class="date">{{item.create_date | date: 'dd/MM/yyyy'}}</span>
                    <span class="writer">{{item.author}}</span>
                    <span class="view">{{item.view}} Views</span>
                  </div>
                  <div class="box-rating">
                    <span class="rate">Đánh giá :</span>

                    <ngb-rating [(rate)]="rate" [max]="5" (click)="topRating()" *ngIf="rate">
                      <ng-template let-fill="fill" let-index="index">
                      <span class="star" [class.full]="fill === 100" [class.empty]="fill === 0">
                      </span>
                      </ng-template>
                    </ngb-rating>
                    <span>({{rate}}</span>
                    <span *ngIf="res_rate_urls?.length != 0">
                      /5 trong {{res_rate_urls?.length}} đánh giá)
                    </span>
                  </div>
                  <div class="fb-share-button" data-href="https://www.your-domain.com/your-page.html"
                       data-layout="button_count">

                  </div>
                </div>
              </div>
            </div>
            <div class="clearfixed" style="clear:both">
            </div>
            <div class="short-description">
                            <span>
                             {{item.short_description}}
                          </span>
            </div>
            <div class="muc-luc">
              <div class="title-muc-luc">
                <img src="/assets/images/ANH/TIN-TUC/ICON5.png" alt="">
                <span>MỤC LỤC</span>
              </div>
              <div class="content-muc-luc">
                <ul>
                  <li *ngFor="let items of h1;let i = index" [innerHTML]="items"></li>
                </ul>
              </div>
            </div>
            <div class="description" [innerHTML]="item.description"></div>
          </div>
          <!-- BAI VIET LIEN QUAN -->
          <div class="bai-viet-lq">
            <div class="tu-khoa">
              <span>TỪ KHÓA LIÊN QUAN :</span>
              <div class="tag" *ngFor="let i of item.resTags">
                <a href="">{{i.name}}</a>
              </div>

            </div>
            <div class="clearfixed" style="clear:both">

            </div>
            <div class="bai-viet">
              <div class="title-bai-viet">
                <img src="/assets/images/ANH/TIN-TUC/ICON6.png" alt="">
                <span>BÀI VIẾT LIÊN QUAN</span>
              </div>
              <div class="content-bai-viet" *ngIf="chuyenmuc">
                <ul>
                  <li *ngFor="let item of chuyenmuc[0].resBlogs.slice(0,4)"><a
                    (click)="getBlogcategoriesslug(item?.slug)" style="cursor: pointer;"> {{item.name}} </a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- BINH LUAN -->
          <div class="binh-luan" *ngIf="list_cmt">
            <div class="count-bl">
              <p class="title-bl">BÌNH LUẬN</p>
              <p class="count" *ngIf="list_cmt.length === 0">Hiện chưa có bình luận nào cho bài viết này.</p>
              <div class="count" *ngIf="list_cmt.length !== 0">
                <div class="khachhang-binhluan">
                  <h3>{{list_cmt.length}} Khách hàng đã viết bình luận cho Khách sạn này</h3>
                  <div class="khachhang-box" *ngFor="let comment of list_cmt">
                    <div class="name">
                      {{comment.name}}
                    </div>
                    <div class="cac-danhgia">
                      <div>
                        <p class="name-khachsan">Đánh giá {{tintuc[0].name}}</p>
                        <p class="comment-content">
                          "{{comment.title_comment}}"
                        </p>

                      </div>

                    </div>
                    <div></div>
                  </div>
                  <div class="xemthem">
                    <button>Xem thêm</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="bl-cua-ban">
              <p class="title-bl">BÌNH LUẬN CỦA BẠN</p>
              <div class="form-bl">
                <div class="inner-form">
                  <div class="name item">
                    <p [className]="validate_rating_notice.name + ''">Họ và tên:<span style="color:red">*</span></p>
                    <input type="text" class="form-control" placeholder="Nhập họ tên" [(ngModel)]="full_name_rate">
                  </div>
                  <div class="emailOrPhone item">
                    <p [className]="validate_rating_notice.emailorphone + ''">Email hoặc Số điện thoại:<span style="color:red">*</span></p>
                    <input type="text" class="form-control" placeholder="Nhập họ email hoặc số điện thoại"
                           [(ngModel)]="email_phone_rate">
                  </div>
                  <div class="comment item">
                    <p>Bình Luận : </p>
                    <textarea name="" placeholder="Viết bình luận" [(ngModel)]="note_rate"></textarea>
                  </div>
                  <div class="btn-form">
                    <button (click)="send_request_rate()">GỬI BÌNH LUẬN</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- BAI VIET MOI NHAT -->
      <div class="col-lg-4">
        <div class="new-blog" *ngIf="tinkhac">
          <div class="title">
            <span>BÀI VIẾT MỚI NHẤT</span>
          </div>
          <div class="item-new" (click)="getBlogcategoriesslug(item?.slug)"
               *ngFor="let item of tinkhac[0]?.resBlogs.slice(0,4)">
            <div class="img-new">
              <a href="javascript::void(0)">
                <img src="{{item.image}}" alt="">
              </a>
            </div>
            <div class="inner-new">
              <a class="title-inner" href="javascript::void(0)">
                <h4>{{item.name}}
                </h4>
              </a>
              <div class="btn-new" *ngFor="let i of noibat">
                <a href="javascript::void(0)">{{i.name}}</a>
              </div>
              <div class="date-view">
                <span class="date">{{item.create_date | date: 'dd/MM/yyyy'}}</span><span class="dot"></span><span
                class="view">{{item.view}}
                lượt xem</span>
              </div>

            </div>
          </div>

        </div>
        <div class="new-blog" *ngIf="chuyenmuc">
          <div class="title">
            <span>CÙNG CHUYÊN MỤC</span>
          </div>
          <div class="item-new" *ngFor="let item of chuyenmuc[0].resBlogs.slice(0,4)">
            <div class="img-new" (click)="getBlogcategoriesslug(item?.slug)">
              <a href="javascript::void(0)">
                <img src="{{item.image}}" alt="">
              </a>
            </div>
            <div class="inner-new">
              <a class="title-inner" href="javascript::void(0)">
                <h4>{{item.name}}
                </h4>
              </a>
              <div class="btn-new" *ngFor="let i of noibat">
                <a href="javascript::void(0)">{{i.name}}</a>
              </div>
              <div class="date-view">
                <span class="date">{{item.create_date | date: 'dd/MM/yyyy'}}</span><span class="dot"></span><span
                class="view">{{item.view}}
                lượt xem</span>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
