<app-breadcrumb></app-breadcrumb>
<section class="banner-aboutus" *ngFor="let item of banner_about.slice(0,1)">
    <img src="{{item.image}}" alt="">
    <!-- <div class="container"> -->
    <!-- <div class="row"> -->
    <div class="content">

        <h3>{{item?.name}}</h3>
        <span [innerHTML]="item?.description"></span>
    </div>

    <!-- </div> -->
    <!-- </div> -->
</section>
<section class="section-one">
    <div class="container">
        <div class="row" *ngFor="let items of aboutUs_1">
            <div class="col-lg-5">
                <h3>KHU RESORT NGHỈ DƯỠNG LÝ TƯỞNG</h3>
                <h1> {{items.name}} </h1>
                <p [innerHTML]=" items.description">
            </div>
            <div class="col-lg-7">
                <div class="box-image" *ngFor="let item of items.resGalleries">
                    <div>
                        <img class="main" src="{{items.image}}">
                    </div>
                    <div class="item" *ngFor="let i of item.resMedia.slice(0,4)">
                        <img src="{{i.image}}" alt="">
                        <h3>{{i.name}}</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="section-two ha-son" *ngFor="let item of aboutUs_2;let i = index">
    <div class="max-width-1440px desktop">
        <div [className]=" (i%2 !== 0) ? 'row flex-row-reverse' : 'row' ">
            <div class="col-lg-6">
                <div class="box-image"><img src="{{item.image}}"></div>
            </div>
            <div class="col-lg-6 content">
                <h3> {{item.name}} </h3>
                <p [innerHTML]="item.description">
            </div>
        </div>
    </div>
</section>
<section class="contact-aboutus" *ngFor="let item of banner_contact">
    <img src="{{item.image}}" alt="">
    <div class="form" [formGroup]="ContactForm">
        <div>
            <h3>LIÊN HỆ</h3>
            <p>Điền vào form chúng tôi sẽ liên hệ với bạn</p>
            <div class="form-group">
                <label for="">Họ và tên: <span>*</span></label>
                <input type="text" name="fullname" id="fullname" placeholder="Nhập họ tên" formControlName="name"
                    required>
                <div *ngIf="ContactForm.get('name').invalid && (ContactForm.get('name').dirty || ContactForm.get('name').touched)"
                    class="baoloi">
                    <div *ngIf="ContactForm.get('name').errors.required">
                        Vui lòng nhập họ tên...
                    </div>
                    <div *ngIf="ContactForm.get('name').errors.minlength || ContactForm.get('name').errors.maxlength || ContactForm.get('name').errors.pattern">
                           Họ tên không chứa số và các ký tự đặc biệt
                          </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Email: <span>*</span></label>
                <input type="text" name="email" id="email" placeholder="Nhập email" formControlName="email">
                <div *ngIf="ContactForm.get('email').invalid && (ContactForm.get('email').dirty || ContactForm.get('email').touched)"
                    class="baoloi">

                    <div *ngIf="ContactForm.get('email').errors.required">
                        Vui lòng nhập email...
                    </div>
                    <div *ngIf="ContactForm.get('email').errors.email">
                        Vui lòng nhập đúng email...
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Nội dung:</label>
                <textarea name="description" id="description" cols="30" rows="10" placeholder="Viết nội dung"
                    formControlName="massage"></textarea>

            </div>
            <div class="form-group">
                <button (click)="postContact()" [disabled]="ContactForm.invalid">GỬI LIÊN HỆ</button>
            </div>
        </div>
    </div>

</section>
