.banner-aboutus{
  // padding: 113px 0px;
  // background-image: url("/assets/images/home/banner-aboutus.png");
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
  position: relative;
  img{
    width: 100%;
  }
  .content {
    color: white;
    text-align: center;
    margin: auto;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  
    h3 {
      margin-bottom: 20px;
      font-size: 24px;
    }
    p {
      margin-bottom: 50px;
    }
  }
}

.section-one {
  padding: 60px 0px 144px;
}
.section-one h3 {
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 26px;
  color: #19854f;
}
.section-one .box-image h3{
  color: #2d4646;
}
.section-one h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  padding-bottom: 15px;
  padding-right: 100px;
  position: relative;
}
.section-one h1:after {
  width: 82px;
  height: 3px;
  background-color: #19854f;
  position: absolute;
  bottom: 0px;
  content: "";
  left: 0px;
}
.section-one p {
  font-weight: 300;
  line-height: 1.44;
  color: #707070;
  font-size: 14px;
  margin-top: 15px;
}
.section-one .box-image {
  width: 406px;
  height: 406px;
  border-radius: 100%;
  border: 2px dashed #19854f;
  padding: 15px;
  position: relative;
  div:first-child{
    width: 100%;
    height: 100%;
  }
}
.section-one .box-image img.main {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.section-one .box-image .item {
  position: absolute;
  width: 97%;
}
.section-one .box-image .item h3 {
  padding-left: 132px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  width: 100%;
  margin: 0px;
  font-size: 17px;
}
.section-one .box-image .item img {
  width: 114px;
  height: 114px;
  border-radius: 100%;
  margin-right: 18px;
  border: 2px solid white;
  float: left;
  transform: rotateY(0deg);
}
.section-one .box-image .item:nth-of-type(2) {
  top: -34px;
  left: 60%;
}
.section-one .box-image .item:nth-of-type(3) {
  top: 76px;
  left: 84%;
  width: calc(157% - 92%);
}
.section-one .box-image .item:nth-of-type(4) {
  bottom: 76px;
  left: 84%;
  width: calc(157% - 92%);
}
.section-one .box-image .item:nth-of-type(5) {
  bottom: -34px;
  left: 60%;
}
.section-one .box-image .item:hover h3 {
  color: #3a6d4b;
  cursor: pointer;
}
.section-one .box-image .item:hover img {
  animation: rotate 2s infinite;
  -moz-animation: rotate 2s infinite;
  -webkit-animation: rotate 2s infinite;
  -o-animation: rotate 2s infinite;
}
.max-width-1440px {
  width: 100%;
  // max-width: 1440px;
  margin: auto;
  position: relative;
  padding: 0px;
  overflow: hidden;
}
.section-two {
  background-color: #f5f5f5;
  padding-bottom: 0px;
}
.section-two .content {
  margin-left: auto;
  text-align: center;
  padding-top: 80px!important;
}
.section-two .content h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 40px;
}
.section-two .content p {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.1px;
  text-align: center;
  color: #4c4c4c;
  padding: 0px 50px;
}
.max-width-1440px > .row .col-sm-6 {
  padding-right: 0px;
}
.max-width-1440px > .row .col-sm-6.box-image1 {
  padding-left: 0px;
  padding-right: 15px;
}
.max-width-1440px .container {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}
.section-two .box-image {
  padding-bottom: calc(100% * 498 / 708);
  position: relative;
  background-image: url("/assets/images/home/bg.svg");
}
.section-two .box-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}
.section-three .box-image1 {
  margin-left: auto;
}
.section-three .content {
  margin-left: 0px;
}

.section-three {
  position: relative;
  background-color: white;
}
.section-three .box {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  background-color: white;
}
.section-two.section-four {
  padding-bottom: 0px;
  position: relative;
}
.section-four .max-width-1440px {
  bottom: auto;
}
.max-width-1440px > .row .col-lg-6 {
  padding: 0px;
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
.contact-aboutus {
  // padding: 106px 0px;
  // background-image: url("/assets/images/home/banner-lien-he.png");
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
  img{
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
  position: relative;
  .form {
    position: absolute;
    right: 218px;
    top:107px;
    padding: 30px 24px;
    // form {
      min-width: 416px;
      // padding: 30px 24px;
      // border-radius: 3px;
      background-color: #f8f8f8;
      h3 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 10px;
        color: #3a6d4b;
        text-align: center;
      }
      p {
        color: #707070;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 38px;
        text-align: center;
      }
      .form-group {
        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
          line-height: 16px;
          color: #2e2e2e;
          span {
            color: #e10b0b;
          }
        }
        .baoloi{
          color: #e10b0b;
          font-size: 12px;
        }
        input,
        textarea {
          height: 35px;
          opacity: 0.82;
          border-radius: 3px;
          border: solid 0.5px #707070;
          background-color: var(--white);
          width: 100%;

          padding: 0px 8px;
          &::placeholder {
            color: #bbbbbb;
            font-style: italic;
          }
        }
        input {
          height: 35px;
        }
        textarea {
          height: 108px;
          padding: 8px;
          resize: none;
        }
        button {
          margin: auto;
          display: block;
          width: 170.2px;
          height: 34px;
          border-radius: 3px;
          background-color: #ffa300;
          color: white;
          text-transform: uppercase;
          border: none;
          &:hover{
            box-shadow: 0px 0px 2px #ffa300;
            background-color: #f39e0a;
          }
        }
        margin-bottom: 16px;
        &:nth-last-child(2) {
          margin-bottom: 24px;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    // }
  }
}

@media (max-width: 1199px) {
  .section-one h1 {
    font-size: 25px;
    line-height: 35px;
    padding-right: 0px;
  }
  .section-one .box-image {
    width: 360px;
    height: 360px;
  }
  .section-one .box-image img.main {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section-one .box-image .item img {
    width: 90px;
    height: 90px;
  }
  .section-one .box-image .item h3 {
    padding-left: 105px;
  }
  .section-two .content {
    padding-top: 25px;
    overflow: auto;
  }
  
}

@media (max-width: 1023px) {
  .section-one .row > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .section-one .row > div:nth-child(1) {
    margin-bottom: 15px;
  }
  .section-one .box-image {
    margin-left: calc((100% - 360px * 157 / 100) / 2);
  }
}
@media (max-width: 991px) {
  // .desktop {
  //   display: none;
  // }
  .mobile {
    display: block;
  }
  .max-width-1440px .container,
  .section-three .box {
    position: relative;
    left: 0px;
    transform: translate(0, 0);
  }
  .max-width-1440px {
    padding: 0px 15px;
  }
 
  .section-two .content {
    padding: 30px 15px;
  }
  .section-three .box {
    height: auto;
  }
  .section-two .content h3 {
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .contact-aboutus .form{
    margin: auto;
    width: 100%;
    right: auto;
    min-width: 100%;
    form{min-width: 100%;}
  }
  .max-width-1440px .container {
    width: auto;
    padding: 0px;
  }

  .section-two .content p {
    padding: 0px;
  }
 
  .section-one .box-image {
    width: 100%;
    padding: 0px;
    max-width: 360px;
    margin: auto;
    border: none;
  }
  .section-one .box-image > div:nth-child(1) {
    width: 100%;
    padding: 0px;
    padding-bottom: 100%;
    position: relative;
    height: 0px;
    margin: auto;
    border: 2px dashed #22ae51;
    border-radius: 100%;
  }
  .section-one .box-image img.main {
    position: absolute;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section-one .box-image .item {
    position: relative;
    width: 100% !important;
    height: 90px;
    top: auto !important;
    left: 0px !important;
    bottom: auto !important;
  }
}
