@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../src/styles.scss";
app-header{position: fixed;top: 0px;left: 50%;transform: translate(-50%,0);width: 100%;box-shadow: 0px 0px 5px #222;z-index: 999;}
router-outlet{margin-top: 100px;display: block;}
