<app-breadcrumb></app-breadcrumb>
<section class="blog-noi-bat">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="row" *ngFor="let i of tintuc">
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-nb">
                            <div class="title">
                                <span>{{i.name}}</span>
                            </div>
                            <div class="item-nb" *ngFor="let blog of i.resBlogs.slice(0,1)">
                                <div *ngIf="blog.is_highlight">
                                    <div class="img-nb">
                                        <a routerLink="/tin-tuc/{{i.slug}}/{{blog?.slug}}">
                                            <img src="{{blog?.image}}" alt="">
                                        </a>
                                    </div>
                                    <div class="inner-nb">
                                        <a class="title-inner" routerLink="/tin-tuc/{{i.slug}}/{{blog?.slug}}">
                                            <h4>{{blog?.name}}
                                            </h4>
                                        </a>
                                        <div class="btn-nb">
                                            <a routerLink="/tin-tuc/{{i.slug}}">{{i.name}}</a>
                                        </div>
                                        <div class="date-nb">
                                            <span class="date">{{blog?.create_date | date: 'dd/MM/yyyy'}}</span><span class="dot"></span><span class="view">{{blog?.view}}
                                              lượt xem</span>
                                        </div>
                                        <div class="description">
                                            <span>
                                      {{blog?.short_description}}
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-nho">
                            <div class="xem-toan-bo">
                                <a routerLink="/tin-tuc/{{i.slug}}">Xem toàn bộ</a>
                            </div>
                            <div class="item-nho" *ngFor="let blog of i.resBlogs.slice(1,5)">
                                <div class="img-nho" *ngIf="blog.is_highlight">
                                    <a routerLink="/tin-tuc/{{i.slug}}/{{blog?.slug}}">
                                        <img src="{{blog?.image}}" alt="">
                                    </a>
                                </div>
                                <div class="inner-nho">
                                    <a class="title-inner" routerLink="/tin-tuc/{{i.slug}}/{{blog?.slug}}">
                                        <h4>{{blog?.name}}
                                        </h4>
                                    </a>
                                    <div class="btn-nho">
                                        <a routerLink="/tin-tuc/{{i.slug}}">{{i.name}}</a>
                                    </div>
                                    <div class="date-view">
                                        <span class="date">{{blog?.create_date | date: 'dd/MM/yyyy'}}</span><span class="dot"></span><span class="view">{{blog?.view}}
                                          lượt xem</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="blog-nb padding_top" *ngIf="sukien">
                            <div class="title">
                                <span>SỰ KIỆN</span>
                            </div>
                            <div class="item-nb" *ngFor="let blog of sukien[0].resBlogs.slice(0,1)">
                                <div class="img-nb" *ngIf="blog.is_highlight">
                                    <a routerLink="/tin-tuc/{{blog?.slug}}">
                                        <img src="{{blog?.image}}" alt="">
                                    </a>
                                </div>
                                <div class="inner-nb">
                                    <a class="title-inner" href="">
                                        <h4>{{blog?.name}}
                                        </h4>
                                    </a>
                                    <div class="btn-nb" *ngFor="let i of blog.resBlogCategories">
                                        <a routerLink="/tin-tuc/{{blog?.slug}}">{{i.name}}</a>
                                    </div>
                                    <div class="date-nb">
                                        <span class="date">{{blog?.create_date | date: 'dd/MM/yyyy'}}</span><span class="dot"></span><span class="view">{{blog?.view}}
                                          lượt xem</span>
                                    </div>
                                    <div class="description">
                                        <span>
                                            {{blog?.short_description}}
                                      </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-nho padding_top" *ngIf="sukien">
                            <div class="xem-toan-bo">
                                <a routerLink="/tin-tuc/su-kien">Xem toàn bộ</a>
                            </div>
                            <div class="item-nho" *ngFor="let blog of sukien[0].resBlogs.slice(1,5)">
                                <div class="img-nho" *ngIf="blog.is_slide">
                                    <a routerLink="/tin-tuc/{{blog?.slug}}">
                                        <img src="{{blog.image}}" alt="">
                                    </a>
                                </div>
                                <div class="inner-nho">
                                    <a class="title-inner" routerLink="/tin-tuc/{{blog?.slug}}">
                                        <h4>{{blog?.name}}
                                        </h4>
                                    </a>
                                    <div class="btn-nho" *ngFor="let i of blog.resTags">
                                        <a routerLink="/tin-tuc/{{blog?.slug}}">{{i.name}}</a>
                                    </div>
                                    <div class="date-view">
                                        <span class="date">{{blog?.create_date | date: 'dd/MM/yyyy'}}</span><span class="dot"></span><span class="view">{{blog?.view}}
                                          lượt xem</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div> -->
                </div>

            </div>
            <!-- <div class="col-lg-4 ">

          </div> -->
            <!-- BAI VIET MOI NHAT -->
            <div class="col-lg-4 col-12" *ngIf="tintuc">
                <div class="new-blog">
                    <div class="title">
                        <span>BÀI VIẾT MỚI NHẤT</span>
                    </div>
                    <div *ngFor="let i of tintuc">
                        <div class="item-new" *ngFor="let item of i?.resBlogs.slice(0,1)">

                            <div class="img-new">
                                <a routerLink="/tin-tuc/{{i.slug}}/{{item?.slug}}">
                                    <img src="{{item.image}}" alt="">
                                </a>
                            </div>
                            <div class="inner-new">
                                <a class="title-inner" routerLink="/tin-tuc/{{i.slug}}/{{item?.slug}}">
                                    <h4>{{item?.name}}
                                    </h4>
                                </a>
                                <div class="btn-new">
                                    <a routerLink="/tin-tuc/{{i.slug}}/{{item?.slug}}">{{i.name}}</a>
                                </div>
                                <div class="date-view">
                                    <span class="date">{{item?.create_date | date: 'dd/MM/yyyy'}}</span><span class="dot"></span><span class="view">{{item?.view}}
                                                      lượt xem</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
