#breadcrumbs {
    background-color: #3a6d4b;
}

#breadcrumbs .breadcrumb {
    background-color: #3a6d4b;
    padding: 7px 0px;
    margin: 0;
}

#breadcrumbs .breadcrumb a {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    color: #22ae51;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
}

#breadcrumbs .breadcrumb a:hover {
    cursor: pointer;
}

#breadcrumbs .breadcrumb .active {
    color: var(--white);
    font-family: sf_ui_displayregular;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    font-size: 14px;
}

#breadcrumbs .breadcrumb img {
    margin: 0 10px;
    color: #22ae51;
}


/* BLOG NOI BAT */

.blog-noi-bat {
    margin-top: 32px;
}

.blog-nb .item-nb {
    position: relative;
    height: auto;
    background-color: var(--white);
    margin-bottom: 40px;
}

.item-nb .img-nb {
    cursor: pointer;
    flex: 0 0 368px;
    margin-bottom: 12px;
    overflow: hidden;
}

.item-nb .img-nb img {
    min-height: 207px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 100%;
}

.item-nb .inner-nb .title-inner {
    text-decoration: none;
    color: var(--black);
}

.item-nb .inner-nb .title-inner h4 {
    font-family: sf_ui_displayregular;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
    margin-bottom: 21px;
    &:hover{
        color: #3a6d4b;
    }
}

.item-nb .inner-nb .btn-nb {
    margin-bottom: 7px;
}

.padding_top {
    padding-top: 43px;
}

.item-nb .inner-nb .btn-nb a {
    padding: 3px 16px;
    border-radius: 3px;
    border: solid 1px #3a6d4b;
    background-color: var(--white);
    font-family: sf_ui_displayregular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #3a6d4b;
    text-decoration: none;
}

.item-nb .inner-nb .btn-nb:hover a {
    color: #fff;
    background-color: #3a6d4b;
}

.item-nb .inner-nb .date {
    margin-right: 8px;
}

.item-nb .inner-nb .date-nb {
    font-family: SFProDisplay;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.77;
    letter-spacing: normal;
    text-align: left;
    color: #bbbbbb;
    position: relative;
    margin-bottom: 12px;
}

.item-nb .inner-nb .view {
    margin-left: 8px;
}

.item-nb .inner-nb .dot {
    width: 4px;
    height: 4px;
    background-color: #bbbbbb;
    border-radius: 100%;
    border: 1px solid #bbbbbb;
    display: inline-block;
    position: absolute;
    top: 7px;
}

.item-nb .inner-nb .description span {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.blog-noi-bat .sukien {
    margin-bottom: 17px;
}


/* BLOG NHO */

.blog-noi-bat .blog-nho .xem-toan-bo {
    text-align: right;
    margin-bottom: 24px;
}

.blog-noi-bat .blog-nho .xem-toan-bo.second {
    margin-bottom: 17px;
}

.blog-noi-bat .blog-nho .xem-toan-bo a {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #3a6d4b;
    text-decoration: none;
}

.blog-noi-bat .blog-nho .item-nho {
    position: relative;
    height: auto;
    background-color: var(--white);
    margin-bottom: 12px;
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
}

.item-nho .img-nho {
    cursor: pointer;
    flex: 0 0 160px;
    margin-bottom: 0;
    overflow: hidden;
    height: 100px;
}

.item-nho .img-nho img {
    min-height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 100%;
}

.item-nho .inner-nho {
    margin-left: 10px;
}

.item-nho .inner-nho .title-inner {
    text-decoration: none;
    color: var(--black);
}

.item-nho .inner-nho .title-inner h4 {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
    margin-bottom: 20px;
    &:hover{
        color: #3a6d4b;
    }
}

.item-nho .inner-nho .btn-nho {
    margin-bottom: 10px;
}

.item-nho .inner-nho .btn-nho a {
    padding: 3px 15px;
    border-radius: 3px;
    border: solid 1px #3a6d4b;
    background-color: var(--white);
    font-family: sf_ui_displayregular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #3a6d4b;
    text-decoration: none;
}

.item-nho .inner-nho .btn-nho:hover a {
    color: #fff;
    background-color: #22ae51;
}

.item-nho .inner-nho .date {
    margin-right: 5px;
}

.item-nho .inner-nho .date-view {
    font-family: sf_ui_displayregular;
    font-size: 12px;
    text-align: left;
    color: #bbbbbb;
    position: relative;
}

.item-nho .inner-nho .view {
    margin-left: 5px;
}

.item-nho .inner-nho .dot {
    width: 4px;
    height: 4px;
    background-color: #bbbbbb;
    border-radius: 100%;
    border: 1px solid #bbbbbb;
    display: inline-block;
    position: absolute;
    top: 7px;
}


/* BAI VIET MOI NHAT */

.blog-noi-bat .title {
    margin-bottom: 24px;
}

.blog-noi-bat .sukien {
    margin-bottom: 17px;
}

.blog-noi-bat .title span {
    font-family: sf_ui_displayregular;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
}

.new-blog .item-new {
    position: relative;
    height: auto;
    background-color: var(--white);
    margin-bottom: 17px;
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
}

.item-new .img-new {
    cursor: pointer;
    flex: 0 0 160px;
    margin-bottom: 0;
    overflow: hidden;
}

.item-new .img-new img {
    min-height: 140px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition: 333ms all ease;
    width: 100%;
    height: 100%;
}

.item-new .inner-new {
    margin-left: 10px;
}

.item-new .inner-new .title-inner {
    text-decoration: none;
    color: var(--black);
}

.item-new .inner-new .title-inner h4 {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
    margin-bottom: 19px;
    &:hover{
        color:#3a6d4b;
    }
}

.item-new .inner-new .btn-new {
    margin-bottom: 12px;
}

.item-new .inner-new .btn-new a {
    padding: 3px 16px;
    border-radius: 5px;
    border: solid 1px #3a6d4b;
    background-color: var(--white);
    font-family: sf_ui_displayregular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #3a6d4b;
    text-decoration: none;
}

.item-new .inner-new .btn-new:hover a {
    color: #fff;
    background-color: #22ae51;
}

.item-new .inner-new .date {
    margin-right: 5px;
}

.item-new .inner-new .date-view {
    font-family: sf_ui_displayregular;
    font-size: 12px;
    text-align: left;
    color: #bbbbbb;
    position: relative;
}

.item-new .inner-new .view {
    margin-left: 5px;
}

.item-new .inner-new .dot {
    width: 4px;
    height: 4px;
    background-color: #bbbbbb;
    border-radius: 100%;
    border: 1px solid #bbbbbb;
    display: inline-block;
    position: absolute;
    top: 7px;
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .item-new .inner-new .title-inner h4 {
        font-size: 12px;
        margin-bottom: 13px;
    }
    .item-nb .inner-nb .title-inner h4 {
        font-size: 12px;
        margin-bottom: 13px;
        margin-top: 5px;
    }
    .blog-nb .item-nb {
        display: block;
    }
    .blog-nb .item-nb .inner-nb {
        margin-left: 0px;
    }
    .blog-nb .item-nb .inner-nb .description {
        display: none;
    }
}