<footer>
  <div class="register">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 content">
          <img src="/assets/images/home/email.png">
          <div>
            <h3>ĐĂNG KÝ NHẬN TIN KHUYẾN MÃI VÀ CÁC ƯU ĐÃI</h3>
            <p>Chúng tôi sẽ gửi thông báo cho bạn về chương trình khuyến mãi và ưu đãi hấp dẫn của khu du lịch Thiên Sơn
              Suối Ngà</p>
          </div>
        </div>
        <div class="col-lg-6 form">
          <div class="form-contact" [formGroup]="ContactForm">
            <input type="text" name="email" (keyup.enter)="postContact()" placeholder="Nhập email của bạn"
                   formControlName="email">
            <button class="form-control" (click)="postContact()" value="GỬI LIÊN HỆ" [disabled]="ContactForm.invalid">
              Đăng Ký <img
              src="/assets/images/home/icon.png"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5 info">
          <h3>THIÊN SƠN SUỐI NGÀ</h3>
          <p class="address">{{Partners_footer?.street}}</p>
          <p class="email"><a href="mailto:{{Partners_footer?.email}}">{{Partners_footer?.email}}</a></p>
          <p class="phone"><a href="tel:{{Partners_footer?.phone}}">{{Partners_footer?.phone}}</a></p>
          <div class="line"></div>
          <a href="{{Partners_footer?.youtube}}" target="_new" class="youtube social"></a>
          <a href="{{Partners_footer?.facebook}}" target="_new" class="facebook social"></a>
        </div>
        <div class="col-md-2 col-6 menu">
          <h3>DỊCH VỤ</h3>
          <ul>
            <li *ngFor="let menu of services">
              <a [routerLink]="menu.routerLink" [innerHTML]="menu.text"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-2  col-6 menu">
          <h3>GIỚI THIỆU</h3>
          <ul>
            <li *ngFor="let menu of introduces">
              <a [routerLink]="menu.routerLink" [innerHTML]="menu.text"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 logo">
          <a href=""><img src="/assets/images/logo/dathongbao.png"></a>
          <a href=""><img src="/assets/images/logo/dadangky.png"></a>
          <a
            href="https://sodulich.hanoi.gov.vn/khu-diem-den-du-lich/khu-du-lich-sinh-thai-thien-son-suoi-nga.html"><img
            src="/assets/images/logo/dachungnhan.png" target="_new"></a>
        </div>
      </div>
    </div>
  </div>
  <p>Design by <a href="https://azsolutions.vn" target="_new">Azsolutions</a> 2019</p>
</footer>
<div class="notification" [class.show]="showNotification === true">{{notification}} <img
  src="/assets/images/home/icon-close.png" (click)="showNotification=false"></div>
