footer {
  > p {
    background-color: black;
    color: #22ae51;
    line-height: 27px;
    text-align: center;
    margin: 0px;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .register {
    background-color: #f1f1f1;
    padding: 20px 0px;

    .content {
      img {
        height: 60px;
        margin-right: 10px;
        display: block;
        float: left;
      }

      h3 {
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        margin: 0px;
        line-height: 16px;
        color: #4c4c4c;
      }
    }

    input {
      width: calc(100% - 196px);
      float: left;
      padding: 0px 20px;
      line-height: 36px;
      background-color: white;
      border: none;
      text-indent: 23px;
      background-image: url("/assets/images/home/icon-email-footer3.svg");
      background-position: center left 20px;
      background-repeat: no-repeat;
      border-radius: 3px 0px 0px 3px;

      &:focus {
        border: 1px solid #3a6d4b;
        border-right-width: 0px;
        line-height: 34px;
      }

      &::placeholder {
        font-size: 12px;
        color: #bbbbbb;
        font-style: italic;
      }
    }

    .form {
      padding: 10px 15px;
    }

    button {
      &:hover,
      &:focus {
        background-color: #22ae51;
      }

      color: white;

      img {
        margin-left: 10px;
      }

      width: 196px;
      line-height: 36px;
      border: none;
      border-radius: 0px 3px 3px 0px;
      background-color: #3a6d4b;
      padding: 0px;
    }
  }
}

.menu-footer {
  .info {
    h3 {
      font-size: 24px;
      font-weight: bold;
      line-height: 29px;
      margin-bottom: 19px;
      letter-spacing: normal;
    }

    p {
      margin-bottom: 10px;
      padding-left: 25px;
      line-height: 16px;
      background-position: center left;
      background-size: 14px;
      background-repeat: no-repeat;

      &.address {
        background-image: url("/assets/images/home/icon-address.svg");
      }

      &.email {
        background-image: url("/assets/images/home/icon-email-footer2.svg");
      }

      &.phone {
        background-image: url("/assets/images/home/icon-phone-footer.svg");
      }
    }

    .line {
      width: 200px;
      height: 1px;
      background-color: white;
      margin: 15px 0px 20px;
    }

    a.social {
      display: block;
      width: 21px;
      height: 21px;
      margin-right: 20px;
      float: left;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      &.youtube {
        background-image: url("/assets/images/home/icon-youtube.svg");
      }

      &.facebook {
        background-image: url("/assets/images/home/icon-youtube.svg");
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .menu {
    h3 {
      font-size: 16px;
      font-weight: bold;
      position: relative;
      padding-bottom: 11px;
      line-height: 19px;
      margin-bottom: 20px;

      &:after {
        content: "";
        width: 96px;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
    }

    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;

      li {
        padding-left: 15px;
        position: relative;
        margin-bottom: 9px;

        a:hover {
          color: #ffa300;
        }

        &:before {
          content: "";
          width: 6px;
          height: 6px;
          background-color: #ffa300;
          position: absolute;
          top: 7px;
          left: 0px;
          line-height: 16px;
          border-radius: 100%;
        }

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  padding: 40px 0px 23px;
  background-color: #3a6d4b;
  color: white;

  a {
    color: white;
    text-decoration: none;
  }

  .logo {
    a {
      margin-left: auto;
      float: right;
      clear: both;
      margin-bottom: 23px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  img {
    width: 115px;
    display: block;
  }
}

@media (max-width: 991px) {
  .register {
    .content {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 767px) {
  footer .register button {
    width: 120px;
  }
  footer .register input {
    width: calc(100% - 120px);
  }
  .menu-footer {
    .info {
      margin-bottom: 20px;
    }

    .logo {
      margin-top: 20px;

      a {
        margin: auto 5px;
        float: left;
        clear: none;

        img {
          width: 100%;
        }

        display: block;
        width: calc((100% - 20px) / 3);

        &:first-child {
          margin-left: 0px;
        }

        &:last-child {
          margin-right: 0px;
          margin-bottom: 0px;
        }
      }
    }
  }
}

.up-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
}

.notification {
  width: 236px;
  line-height: 16px;
  padding: 10px 15px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #222;
  position: fixed;
  bottom: 10px;
  right: -250px;
  transition: 0.5s;

  &.show {
    right: 10px
  }

  img {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    width: 12px
  }
}
