.wrap-search {
  .tb {
    font-family: sf_ui_displayregular;
    font-size: 14px;
    text-align: left;
    color: #4c4c4c;
    margin: 22px 0 25px 0;
  }

  .row {
    .khoi {
      border-radius: 3px;
      border: solid 1px rgba(0, 0, 0, 0.12);
      background-color: var(--white);
      margin-bottom: 24px;

      .trai {
        width: 100%;
        height: 100%;
        position: relative;
      }
    }

    .trai {
      .anh {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        padding-bottom: calc(100% * 272 / 564);
        overflow: hidden;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;

          &:hover {
            transform: scale(1.1, 1.1);
            transition: 0.6s;
          }
        }
      }

      .tag1 {
        position: absolute;
        background-color: #ff0013;
        top: 10px;
        left: -7px;
        width: auto;
        height: 44px;
        padding: 14px 40px 14px 33px;
        text-transform: uppercase;
        font-size: 14px;
        font-family: sf_pro_displaybold;
        line-height: 16px;
        text-align: center;
        color: var(--white);
        span{
          position: absolute;
          border-right: solid 10px transparent!important;
          border-top: solid 22px;
          border-bottom: solid 22px;
          left: 100%;
          height: 44px;
          width: 14px;
          top: 0px;
        }
        &:before {
          position: absolute;
          content: "";
          border-left: solid 2.5px transparent;
          border-bottom: solid 2.5px transparent;
          border-top: solid 2.5px #560006;
          border-right: solid 2.5px #560006;
          left: 0;
          height: 7px;
          width: 7px;
          bottom: -7px;
        }
      }
    }

    .khoi .phai {
      width: 100%;
      padding: 24px 39px 24px 9px;
      min-height: 230px;

      h2 {
        cursor: pointer;
        font-family: sf_pro_displaybold;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        color: var(--black);
        text-transform: uppercase;
        margin-bottom: 24px;
      }

      p {
        margin: 0;
        font-family: sf_ui_displayregular;
        font-size: 14px;
        text-align: left;
        color: var(--black);

        img {
          margin-right: 12px;
          width: 15px;
          height: 15px;
        }
      }
      p.stock{
        img{
          width: 12px;
          height: 15px;
          margin-right: 15px;
        }
      }

      .gia {
        margin-top: 21px;
        line-height: 30px;

        button {
          float: right;
          height: 36px;
          padding: 0 32px;
          border-radius: 3px;
          border: none;
          background-color: #3a6d4b;
          font-size: 14px;
          font-family: sf_pro_displaybold;
          text-align: left;
          color: var(--white);
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }

    .item {
      position: relative;
      width: 100%;
      margin-bottom: 24px;
      padding: 0;

      img {
        width: 100%;
      }
    }

    .text {
      width: 100%;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);

      p {
        margin-bottom: 13px;
        font-family: sf_pro_displaybold;
        font-size: 16px;
        text-align: center;
        color: var(--white);
        text-transform: uppercase;
      }
    }

    .item {
      a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        padding-bottom: calc(100% * 230 / 366);

        img {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }

      .nenden {
        opacity: 0.5;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
        height: 194px;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }

    .text button {
      height: 36px;
      border-radius: 3px;
      border: none;
      background-color: #3a6d4b;
      width: 145px;
      font-family: sf_pro_displaybold;
      font-size: 14px;
      text-align: center;
      color: var(--white);
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  .end {
    margin-top: 35px;
    display: block;
    width: 100%;
    text-align: center;
    font-family: sf_ui_displayregular;
    font-size: 14px;
    color: #4c4c4c;
  }
}

@media (max-width: 768px) {
  .row .item {
    padding: 0 15px;
  }
}

@media (max-width: 576px) {
  .row .khoi .phai {
    padding: 10px 25px 10px 25px;

    p {
      font-size: 12px;
    }

    h2 {
      margin-bottom: 15px;
    }

    .gia {
      margin-top: 15px;
    }
  }
}
