<app-breadcrumb></app-breadcrumb>
<div class="wrap-search">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="tb">Kết quả tìm kiếm: <span style="font-family:sf_ui_displayregular ; font-size: 18px ; font-weight: bold;">Khách Sạn</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <div class="khoi" *ngFor="let item of list_show">
          <div class="row">
            <div class="col-lg-5 col-md-5">
              <div class="trai">
                <a routerLink="/dat-phong/khach-san/{{item.slug}}" class="anh">
                  <img src="{{item?.image}}" alt="">
                </a>


                <div class="tag1" *ngIf="item?.is_label === '1'" [style.background-color]="item?.label_background_color"
                     [style.color]="(item.label_color === null ? item?.label_color : '#fff')">{{item?.label_name}}
                  <span [style.border-color]="item?.label_background_color"></span>
                </div>
              </div>
            </div>
            <div class="phai col-lg-7 col-md-7">
              <h2 routerLink="/dat-phong/khach-san/{{item.slug}}">{{item?.name}}</h2>

              <p *ngFor="let amenity of item?.hotelRoomAmenities">
                <img src="{{amenity?.image}}" alt="">
                <span style="font-family:sf_pro_displaybold" *ngIf="amenity?.have_quantity">{{amenity?.number}}</span>
                {{amenity.name}}
              </p>
              <!--<p><img src="./assets/images/search/food.png" alt="">Miễn phí ăn sáng, trà, cafe</p>-->
              <!--<p><img src="./assets/images/search/bed.png" alt=""><span style="font-family:sf_pro_displaybold">02</span> Giường</p>-->
              <p class="stock">
                <img src="./assets/images/search/location.png" alt="">{{item.stockWarehouse?.name}}</p>

              <p class="gia" *ngIf="item.price">Chỉ từ: <span style="font-size: 24px;
                  font-weight: bold;
                color: #ff0013;">{{item?.price | number}}đ</span>/phòng/đêm
                <button routerLink="/dat-phong/khach-san/{{item.slug}}">CHI TIẾT</button>
              </p>
              <p class="gia" *ngIf="!item.price">Đang cập nhật
                <button routerLink="/dat-phong/khach-san/{{item.slug}}">CHI TIẾT</button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="item col-lg-12 col-md-6" *ngIf="phong_hop.length > 0">
            <a href="">

              <img src="./assets/images/search/phai2.png" alt="">
              <div class="nenden"></div>
            </a>

            <div class="text">
              <p>ĐẶT THÊM PHÒNG HỌP</p>
              <button routerLink="/dat-phong/phong-hop/{{phong_hop[0].slug}}">ĐẶT NGAY</button>
            </div>
          </div>
          <div class="item col-lg-12 col-md-6" *ngIf="nha_san.length > 0">
            <a href="">

              <img src="./assets/images/search/phai1.png" alt="">
              <div class="nenden"></div>
            </a>

            <div class="text">
              <p>ĐẶT THÊM SÀN NGHỈ</p>
              <button routerLink="/dat-phong/nha-san/{{nha_san[0].slug}}">ĐẶT NGAY</button>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="row">
      <p class="end">Không còn kết quả nào khác</p>
    </div>
  </div>
</div>
