.thanhtoan {
  margin-bottom: 80px;
  font-size: 14px !important;
  font-family: sf_ui_displayregular;

  .notice_on {
    position: relative;

    &:before {
      content: 'Mục này là bắt buộc!';
      position: absolute;
      color: red;
      top: 0;
      right: 0;
    }
  }

  .notice_on2 {
    position: relative;

    &:before {
      content: 'Vui lòng nhập đúng định dạng!';
      position: absolute;
      color: red;
      top: 0;
      right: 0;
    }
  }

  .item-bar {
    position: relative;
    color: #666666;
    margin: 40px 0 22px 0;
  }

  .item-bar {
    .rectangle-0 {
      height: 1.5px;
      border: 0.5px solid #3a6d4b;
      position: absolute;
      top: 24px;
      left: 24px;
      right: 24px;
      z-index: -1;
    }

    .item {
      > div {
        height: 48px;
        border-radius: 100%;
        margin-bottom: 20px;
      }
    }

    .item-finish {
      background-image: url("../../../../assets/images/booking/chonphongg.svg") !important;
      background-repeat: no-repeat;
      background-position-x: 50%;
    }

    .item-active {
      background-image: url("../../../../assets/images/booking/thanhtoan.svg") !important;
      background-repeat: no-repeat;
      background-position-x: 50%;
    }

    .not-active {
      background-image: url("../../../../assets/images/booking/xacnhan.svg");
      background-position-x: 50%;
      background-repeat: no-repeat;
    }
  }

  .group-input {
    p {
      margin-bottom: 0;
    }

    padding: 0 6px;

    span {
      color: #ff0013;
    }
  }

  .left {
    .thong-tin-dat-phong {
      .flex-amenity{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      p {
        //text-transform: uppercase;
        color: hsl(0, 0%, 30%);

        > b {
          color: black;
        }
      }

      .row {
        p {
          margin-bottom: 0px;
        }
      }
    }

    h5 {
      text-transform: uppercase;
      font-size: 18px;
      font-family: sf_pro_displaybold;
      color: hsl(0, 0%, 30%);
    }

    input[type=text] {
      padding: 5px 10px;
      width: 100%;
      margin-bottom: 10px;

      &::placeholder {
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
        color: #bbbbbb;
      }
    }
  }

  .thong-tin-dat-phong {
    p {
      img {
        margin-right: 8px;
        margin-top: -3px;
      }
    }

    .ngay-tra {
      > b {
        padding-left: 12px;
      }
    }
  }

  h4 {
    padding: 20px 0 12px 0;
    font-size: 24px;
    font-family: sf_pro_displaybold;
  }

  input[type=text] {
    border: solid 0.5px #bbbbbb;
    border-radius: 3px;
  }

  .bottom {
    input[type=checkbox] {
      display: inline-block;
      position: relative;
      margin-right: 5px;
    }

    .submit {
      width: 172px;
      height: 36px;
      border-radius: 3px;
      border: none;
      color: white;
      background-color: #3a6d4b;
      font-weight: bold;
      margin: 40px 0 10px 0;

      &:hover {
        background-color: #22ae51;
      }
    }
  }

  .bank {
    .picture {
      flex: 1 1 22%;
      padding: 5px;
      width: 165px;
      height: 75px;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
        padding: 1px;
        height: 100%;
        object-fit: cover;

        &:hover {
          border: 0.5px solid #22ae51;
        }
      }
    }

    border-radius: 3px;
    background-color: #f1f1f1;
    padding: 15px 30px 15px 12px;
    margin-bottom: 20px;
  }

  .group-img {
    margin: 0 -5px 5px -5px;
  }

  .chi-tiet {
    background-color: white;
    color: #4c4c4c;
    padding: 15px 13px 20px 13px;

    > p {
      &:first-child {
        font-size: 16px;
        color: var(--black);
        font-weight: bold;
      }

      + {
        p {
          margin-bottom: 5px;
        }
      }
    }
  }

  .group-radio {
    label {
      padding: 0 8px;
      cursor: pointer;
    }
  }

  input[type=checkbox] {
    margin-bottom: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    color: #666;
    top: 10px;
    height: 16px;
    width: 16px;
    border: 0.5px solid #3a6d4b;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 7px;
    outline: none;

    &:checked {
      &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #3a6d4b;
        border-radius: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .right {
    .title {
      padding: 12.5px 0;
      font-weight: bold;
      line-height: 1.14;
      text-align: center;
      color: white;
      background-color: #3a6d4b;
      margin-bottom: 0;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    .information {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border: solid 1px rgba(0, 0, 0, 0.12);
      padding: 25px 17px 30px 23px;
    }

    input[type=text] {
      width: 140px;
      height: 38px;
      text-align: center;

      &::placeholder {
        text-align: center;
        color: #4c4c4c;
      }
    }

    .rectangle {
      width: 100%;
      height: 2px;
      border: solid 0.5px #707070;
      margin: 10px 0 20px 0;
    }

    .sum {
      font-weight: bold;
      font-size: 18px;

      .price {
        color: #ff0013;
      }
    }

    .code {
      font-size: 16px;
      font-weight: 500;

      p {
        margin-bottom: 0;
        padding: 6px 0;
      }

      span {
        color: #4c4c4c;
        font-weight: normal;
      }
    }

    .table {
      td {
        &:last-child {
          text-align: right;
          font-weight: bold;
        }
      }
    }
  }

  .table {
    td {
      padding: 8px 0 !important;
    }
  }
}
