<app-breadcrumb [arraySlugAdd]="arraySlug"></app-breadcrumb>
<div class="thanhtoan">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="item-bar">
            <div class="d-flex justify-content-between">
              <div class="item">
                <div class="item-finish"></div>
                <p>CHỌN PHÒNG</p>
              </div>
              <div class="item">
                <div class="item-active"></div>
                <p>THANH TOÁN</p>
              </div>
              <div class="item">
                <div class="not-active"></div>
                <p>XÁC NHẬN</p>
              </div>
            </div>
            <div class="rectangle-0"></div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-12 left">

          <div class="thong-tin-dat-phong">
            <h4>THÔNG TIN ĐẶT PHÒNG</h4>
            <h5>{{room_detail?.name}}</h5>
            <p [innerHTML]="room_detail?.description"></p>
            <div class="row">
              <div class="col-md-5 col-6 flex-amenity">
                <p *ngFor="let amenity of room_detail?.hotelRoomAmenities; let i = index">
                  <span *ngIf="(i % 2) === 0">
                    <img src="{{amenity?.image}}" alt="">
                    <b *ngIf="amenity?.have_quantity"> {{amenity?.number}} </b>
                    {{amenity?.name}}
                  </span>
                </p>
                <p>Ngày nhận: <b>{{this.data_user.start_date | date : 'dd/MM/yyyy'}}</b></p>
                <p class="ngay-tra">Ngày trả: <b>{{this.data_user.end_date | date : 'dd/MM/yyyy'}}</b></p>
              </div>
              <div class="col-md-7 col-6 flex-amenity">
                <p *ngFor="let amenity of room_detail?.hotelRoomAmenities; let i = index">
                  <span *ngIf="(i % 2) !== 0">
                    <img src="{{amenity?.image}}" alt="">
                    <b *ngIf="amenity?.have_quantity"> {{amenity?.number}} </b>
                    {{amenity?.name}}
                  </span>
                </p>
                <div>
                  <p>Check in: <b>{{this.room_detail?.check_in | date : 'hh'}}h</b></p>
                  <p>Check out: <b>{{this.room_detail?.check_out | date : 'hh'}}h</b></p>
                </div>
              </div>
            </div>
          </div>
          <div class="thong-tin-khach-hang">
            <h4>THÔNG TIN KHÁCH HÀNG</h4>
            <div class="row">
              <div class="col-sm-6">
                <div class="group-input">
                  <p [className]="validate_notice.name">Họ và tên : <span>*</span></p>
                  <input type="text" placeholder="Nhập họ và tên bạn" [(ngModel)]="full_name">
                  <p [className]="validate_notice.phone">Số điện thoại: <span>*</span></p>
                  <input type="text" placeholder="Nhập số điện thoại bạn" [(ngModel)]="phone">
                  <p [className]="validate_notice.email">Email: </p>
                  <input type="text" placeholder="Nhập email của bạn" [(ngModel)]="email">
                  <p [className]="validate_notice.address">Địa chỉ: </p>
                  <input type="text" placeholder="Nhập địa chỉ" [(ngModel)]="address">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 right">
          <p class="title">THÔNG TIN THANH TOÁN</p>
          <div class="information">
            <table class="table table-borderless">
              <tr>
                <td>Loại phòng :</td>
                <td>{{room_detail?.name}}</td>
              </tr>
              <tr>
                <td>Giá phòng :</td>
                <td>{{(room_detail?.promotion_price !== 0 ? room_detail?.promotion_price : room_detail.price) | number}}đ/1 ngày đêm</td>
              </tr>
              <tr>
                <td>Số lượng:</td>
                <td>{{data_user.number}}</td>
              </tr>
              <tr>
                <td>Ngày nhận :</td>
                <td>{{data_user.start_date | date : 'dd/MM/yyyy'}}</td>
              </tr>
              <tr>
                <td>Ngày trả :</td>
                <td>{{data_user.end_date | date : 'dd/MM/yyyy'}}</td>
              </tr>
              <tr>
                <td>Giảm giá :</td>
                <td>0</td>
              </tr>
            </table>
            <div class="rectangle"></div>
            <div class="d-flex justify-content-between sum" *ngIf="room_detail?.total_price">
              <p>Tổng:</p>
              <p class="price">{{room_detail?.total_price | number}}đ</p>
            </div>

            <div class="d-flex justify-content-between code">
              <p>Mã giảm giá <span>(nếu có)</span></p>
              <input type="text" name="" id="" placeholder="">
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-12 bottom">
          <div class="hinh-thuc-thanh-toan">
            <h4>HÌNH THỨC THANH TOÁN</h4>
            <div class="group-radio">
              <p><input type="checkbox" id="chuyen_khoan" (click)="toggleBank(true)" [(ngModel)]="payBank">
                <label for="chuyen_khoan">Chuyển khoản qua ngân hàng</label></p>
              <div class="bank" [style.display]="payBank ? 'block' : 'none'">
                <p>NGÂN HÀNG LIÊN KẾT</p>
                <div class="d-flex flex-wrap group-img">
                  <div class="picture" *ngFor="let bank of list_bank;" (click)="set_bank(bank)">
                    <a> <img src="{{bank?.image}}" alt=""></a>
                  </div>
                </div>
                <div class="chi-tiet" *ngIf="selected_bank">
                  <p>{{selected_bank?.resBank.name}}</p>
                  <!--<p>BIDV - Chi nhánh Hà Tây </p>-->
                  <p> Số TK: {{selected_bank.acc_number}} </p>
                  <p> Chủ TK: {{selected_bank?.resPartner.display_name}} </p>
                </div>
              </div>
              <p><input type="checkbox" id="onePay" (click)="toggleBank(false)" [(ngModel)]="payOne">
                <label for="onePay">Thanh toán bằng ONE PAY</label></p>
            </div>
          </div>
          <div style="text-align: center">
            <button class="submit" (click)="request_booking()">XÁC NHẬN</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
