@font-face {
  font-family: 'SFProDisplay';
  src: url('../../../../assets/fonts/sf-ui-display-regular.woff2') format('woff2'),
  url('../../../../assets/fonts/sf-ui-display-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'SFProDisplayM';
  src: url('../../../../assets/fonts/sf-pro-display-medium.woff2') format('woff2'),
  url('../../../../assets/fonts/sf-pro-display-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'SFProDisplaySB';
  src: url('../../../../assets/fonts/sf-pro-display-semibold.woff2') format('woff2'),
  url('../../../../assets/fonts/sf-pro-display-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'SFProDisplayB';
  src: url('../../../../assets/fonts/sf-pro-display-bold.woff2') format('woff2'),
  url('../../../../assets/fonts/sf-pro-display-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'SFProDisplayI';
  src: url('../../../../assets/fonts/sf-pro-display-lightitalic.woff2') format('woff2'),
  url('../../../../assets/fonts/sf-pro-display-lightitalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.content {
  .slick-slide {
    margin: 0px 12px;
  }

  // .slide_anh .slide.slick-slide .bocanh{
  //   padding-bottom: calc(100% * 270 / 270);
  //   width: 100%;
  //   overflow: hidden;
  //   position: relative;
  //   display: block;
  // }
  // .slide_anh .slide.slick-slide .bocanh img{
  //   height: 100%;
  //   width: 100%;
  //   position: absolute;
  //   object-position: center;
  //   object-fit: cover;
  //   border-radius: 3px;
  // }
  // .slide_anh .slick-dots li button:before{
  //   color: #3a6d4b !important;
  //   font-size: 8px !important;
  // }
  .special-food {
    padding: 0px 0px 32px 0px;
    background-color: white;
  }

  .special-food .col-12 {
    padding-bottom: 13px;
  }

  ::ng-deep .slick-prev {
    background-image: url('../../../../assets/images/cuisine/logo/570.png') !important;
    background-repeat: no-repeat !important;
    background-size: 36px 36px !important;
    width: 36px !important;
    height: 36px !important;
    z-index: 9;
    top: 50% !important;
    left: -54px !important;
  }

  ::ng-deep .slick-next {
    background-image: url('../../../../assets/images/cuisine/logo/571.png') !important;
    background-repeat: no-repeat !important;
    background-size: 36px 36px !important;
    width: 36px !important;
    height: 36px !important;
    z-index: 9;
    top: 50% !important;
    right: -54px !important;
  }

  ::ng-deep .slick-next:before, ::ng-deep .slick-prev:before {
    display: none;
  }

  ::ng-deep .slick-dots {
    bottom: -50px !important;
  }

  ::ng-deep .slick-dots li button:before {
    color: #bbbbbb;
    font-size: 8px;
    opacity: 1;
  }

  ::ng-deep .slick-dots .slick-active button:before {
    color: #3a6d4b !important;
  }

  .special-food .row {
    margin: 0px -12px;
  }

  ::ng-deep .box-special-slide {
    padding: 0;
  }

  ::ng-deep .image-slide {
    padding-bottom: 100%;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
  }

  ::ng-deep .image-slide img {
    position: absolute;
    top: 0px;
    left: 0px !important;
    height: 100%;
    left: 100%;
    object-position: center;
    object-fit: cover;
    transition: 0.3s ease-in-out;

    &:hover {
      transform: rotate(5deg) scale(1.2);
    }
  }

  ::ng-deep .overlay-slide {
    height: 78px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8071603641456583) 74%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 12px 12px 6px 12px;
  }

  ::ng-deep .overlay-slide .name-slide {
    height: 38.5px;
    overflow: hidden;
  }

  ::ng-deep .overlay-slide .name-slide h3 {
    font-family: SFProDisplayM;
    font-size: 16px;
    color: #1a1a1a;
    line-height: 19px;
    margin-bottom: 2px;
  }

  ::ng-deep .overlay-slide p {
    font-family: SFProDisplayB;
    font-size: 16px;
    color: #e10b0b;
    line-height: 19px;
    margin: 0px;
  }

  .tieude {
    font-family: SFProDisplayB;
    font-size: 24px;
    text-align: center;
    color: #1a1a1a;
    margin: 40px 0px;
  }

  /* ẩm thực */
  .cuisine {
    background-color: #f8f8f8;
    padding: 40px 0px 0px 0px;
  }

  .cuisine .item {
    margin-bottom: 30px;
  }

  .cuisine .box-img {
    padding-bottom: calc(100% * 295 / 564);
    position: relative;
    border-radius: 3px;
    overflow: hidden;
  }

  .cuisine .box-img:hover a {
    display: block;
  }

  .cuisine .box-img img {
    position: absolute;
    top: 0px;
    left: 0px;
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: rotate(5deg) scale(1.2);
    }

  }

  .cuisine .box-img .overlay {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-image: linear-gradient(to top, #1a1a1a, rgba(30, 29, 29, 0.44) 63%, rgba(102, 102, 102, 0));
    width: 100%;
    padding: 16px 13px 6px 13px;
    cursor: pointer;
  }

  .cuisine .overlay h3 {
    color: white;
    font-family: SFProDisplayB;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .cuisine .overlay a {
    background-image: url('../../../../assets/images/cuisine/logo/ra2.png');
    background-position: left 50px center;
    background-repeat: no-repeat;
    background-size: 13.3px 10.3px;
    font-family: SFProDisplayM;
    font-size: 14px;
    color: white;
    line-height: 16px;
    padding-right: 23px;
    margin-bottom: 10px;
    display: none;
  }

  /* nhà hàng và đồ uống */
  .box-restaurant {
    cursor: pointer;
  }

  .restaurant-drink {
    background-color: white;
  }

  .container1440 {
    max-width: 1440px;
    margin: 40px auto;
  }

  .list-restaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .list-restaurant .box-restaurant {
    width: calc(100% / 3);
  }

  .list-restaurant .box-restaurant .image {
    padding-bottom: calc(100% * 360 / 480);
    position: relative;
  }

  .list-restaurant .box-effect {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    //text-align: center;
    cursor: pointer;
  }

  .hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
  }


  .hovereffect img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    cursor: pointer;
  }

  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
  }

  .hovereffect .name {
    padding-left: calc((100% - 300px) / 2);
  }

  .hovereffect h3 {
    text-transform: uppercase;
    text-align: left;
    padding-left: 31px;
    /* position: relative; */
    font-size: 24px;
    font-family: SFProDisplayM;
    line-height: 28px;
    background-color: transparent;
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    background-image: url('../../../../assets/images/cuisine/logo/bx-home-circle.png');
    background-size: 20px 20px;
    background-position: left center;
    background-repeat: no-repeat;
    margin-bottom: 16px !important;
  }

  .hovereffect .text {
    padding-left: calc((100% - 244px) / 2);
  }

  .hovereffect p {
    color: #FFF;
    font-family: SFProDisplay;
    font-size: 14px;
    line-height: 30px;
    opacity: 0;
    filter: alpha(opacity=0);
    text-align: left;
    padding-left: 22px;
    margin: 0px;
  }

  .hovereffect .address {
    background-image: url('../../../../assets/images/cuisine/logo/bx-map.png');
    background-size: 12px 15px;
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  .hovereffect .food {
    background-image: url('../../../../assets/images/cuisine/logo/ic_restaurant_menu_24px.png');
    background-size: 12px 12px;
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  .hovereffect .time {
    background-image: url('../../../../assets/images/cuisine/logo/bx-time-five.png');
    background-size: 12px 12px;
    background-position: left center;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  .hovereffect:hover p, .hovereffect:hover h3 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    padding-top: calc((100% - 240px) / 2);
  }

  /* đồ uống */
  .drink {
    padding-bottom: 10px;
  }

  .drink .item {
    padding-bottom: 30px;
  }

  .drink .image {
    padding-bottom: calc(100% * 224 / 368);
    position: relative;
    border-radius: 3px;
    overflow: hidden;
  }

  .drink .image figure {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
  }

  .drink .image figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .drink figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }

  .drink figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
  }

  @-webkit-keyframes shine {
    100% {
      left: 125%;
    }
  }
  @keyframes shine {
    100% {
      left: 125%;
    }
  }

  .drink .info {
    padding-top: 10px;
  }

  .drink .info h3 {
    color: black;
    font-size: 16px;
    font-family: SFProDisplayM;
    line-height: 19px;
    margin: 0px;
  }

  .drink .info p {
    color: #e10b0b;
    font-size: 16px;
    font-family: SFProDisplayB;
    line-height: 19px;
    margin: 0px;
  }

  /* responsive */
  @media screen and (max-width: 1023px) {
    /* đặc sản */
    ::ng-deep .slick-prev {
      left: -33px !important;
    }
    ::ng-deep .slick-next {
      right: -33px !important;
    }
    .hovereffect:hover .overlay {
      padding-top: calc((100% - 212px) / 2);
    }
    .hovereffect h3 {
      font-size: 20px;
    }

  }
  @media screen and (max-width: 767px) {
    /* đặc sản */
    ::ng-deep .slick-prev {
      left: -6px !important;
    }
    ::ng-deep .slick-next {
      right: -6px !important;
    }
    /* nhà hàng */
    .list-restaurant {
      flex-direction: column;
    }
    .list-restaurant .box-restaurant {
      width: 100%;
      margin-bottom: 10px;
    }
    .list-restaurant .box-restaurant:last-child {
      margin: 0px;
    }
    .hovereffect p, .hovereffect h3 {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: translate3d(0, 0, 0) !important;
      transform: translate3d(0, 0, 0) !important;
    }
    .hovereffect .overlay {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      padding-top: calc((100% - 212px) / 2);
    }
    .hovereffect img {
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
      filter: brightness(0.6);
      -webkit-filter: brightness(0.6);
    }
  }
}
@media(max-width:375px){
  .content .tieude{
    margin-top: 70px;
  }
}