<app-breadcrumb></app-breadcrumb>
<section class="content">
  <div class="special-food">
    <div class="container">
      <div class="row">
        <h2 class="col-lg-12 text-center tieude">
          ĐẶC SẢN
        </h2>
        <div class="col-lg-12">
          <ngx-slick-carousel class="carousel slide_anh" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
              <div class="box-special-slide">
                <div class="image-slide">
                  <img src="{{ slide.img }}" alt="" width="100%">
                  <div class="overlay-slide">
                    <div class="name-slide">
                      <h3>{{slide.name}}</h3>
                    </div>
                    <p>{{slide.price | currency:'VND':''}}/{{slide.uom}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
  <div class="cuisine">
    <div class="container">
      <div class="row" >
        <h2 class="col-12 text-center tieude">ẨM THỰC</h2>
        <div class="col-md-6 item" *ngFor="let x of cuisine">
          <div class="box-img">
            <img src="{{x.ANH}}" routerLink="/am-thuc/{{x.slug}}">
            <div class="overlay">
              <h3>{{x.name}}</h3>
              <a routerLink="/am-thuc/{{x.slug}}">Chi tiết</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="restaurant-drink">
    <div class="container1440 restaurant">
      <h2 class="text-center tieude">NHÀ HÀNG NỔI BẬT</h2>
      <div class="list-restaurant">
        <div class="box-restaurant" *ngFor="let x of restaurant2">
          <div class="image">
            <div class="box-effect">
              <div class="hovereffect">
                <img class="img-responsive" src="{{x.ANH}}" alt="">
                <div class="overlay">
                  <div class="name">
                    <h3>{{x.NAME}}</h3>
                  </div>
                  <div class="text" [innerHTML]="x.description_website">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="drink">
      <div class="container">
        <div class="row">
          <h2 class="col-12 text-center tieude">
            ĐỒ UỐNG
          </h2>
          <div class="col-lg-4 col-md-6 item" *ngFor="let x of beverage2">
            <div class="image">
              <figure>
                <img src="{{x.img}}" alt="">
              </figure>
            </div>
            <div class="info">
              <h3>{{x.name}}</h3>
              <p>{{x.price | number}}/{{x.uom}}</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
