body {
    font-family: SFProDisplay !important;
}

#breadcrumbs {
    background-color: #3a6d4b;
}

#breadcrumbs .breadcrumb {
    background-color: #3a6d4b;
    padding: 7px 0px;
    margin: 0;
}

#breadcrumbs .breadcrumb a {
    font-family: SFProDisplay;
    font-size: 14px;
    color: #22ae51;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
}

#breadcrumbs .breadcrumb a:hover {
    cursor: pointer;
}

#breadcrumbs .breadcrumb .active {
    color: var(--white);
    font-family: SFProDisplay;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    font-size: 14px;
}

#breadcrumbs .breadcrumb img {
    margin: 0 10px;
    color: #22ae51;
}


/* BLOG NOI BAT */

.blog-noi-bat {
    margin-top: 32px;
    margin-bottom: 30px;
}

.blog-noi-bat .blog-nb {
    margin-bottom: 24px;
}

.blog-nb .item-nb {
    position: relative;
    height: auto;
    background-color: var(--white);
    margin-bottom: 16px;
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
}

.item-nb .img-nb {
    cursor: pointer;
    flex: 0 0 291px;
    margin-bottom: 0;
    overflow: hidden;
}

.item-nb .img-nb img {
    min-height: 186px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 100%;
}

.item-nb .inner-nb {
    margin-left: 12px;
}

.item-nb .inner-nb .title-inner {
    text-decoration: none;
    color: var(--black);
}

.item-nb .inner-nb .title-inner h4 {
    font-family: SFProDisplay;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #2a2a2a;
    margin-bottom: 25px;
    &:hover{
        color:#3a6d4b;
    }
}

.item-nb .inner-nb .btn-nb {
    margin-bottom: 10px;
}

.item-nb .inner-nb .btn-nb a {
    padding: 3px 16px;
    border-radius: 3px;
    border: solid 1px #3a6d4b;
    background-color: var(--white);
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #3a6d4b;
    text-decoration: none;
}

.item-nb .inner-nb .btn-nb:hover a {
    color: #fff;
    background-color: #3a6d4b;
}

.item-nb .inner-nb .date {
    margin-right: 8px;
}

.item-nb .inner-nb .date-nb {
    font-family: SFProDisplay;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.77;
    letter-spacing: normal;
    text-align: left;
    color: #bbbbbb;
    position: relative;
    margin-bottom: 12px;
}

.item-nb .inner-nb .view {
    margin-left: 8px;
}

.item-nb .inner-nb .dot {
    width: 4px;
    height: 4px;
    background-color: #bbbbbb;
    border-radius: 100%;
    border: 1px solid #bbbbbb;
    display: inline-block;
    position: absolute;
    top: 7px;
}

.item-nb .inner-nb .description span {
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #525252;
}


/* PAGINATION */

.blog-noi-bat .pagination-hotel {
    text-align: center;
    margin-bottom: 10px;
}

.blog-noi-bat .pagination span {
    margin-right: 16px;
}

.blog-noi-bat .pagination .left-arrow {
    width: 36px;
    height: 24px;
    border-radius: 3px;
    border: solid 1px #3a6d4b;
    background-color: var(--white);
    background-image: url(/assets/images//ANH/TIN-TUC/arrow-LEFT.png);
    background-repeat: no-repeat;
    background-position: center;
}

.li.pagination-previous a::before {
    width: 36px;
    height: 24px;
    border-radius: 3px;
    border: solid 1px #3a6d4b;
    background-color: var(--white);
    background-image: url(/assets/images//ANH/TIN-TUC/arrow-LEFT.png);
    background-repeat: no-repeat;
    background-position: center;
}

.blog-noi-bat .pagination .right-arrow {
    width: 36px;
    height: 24px;
    border-radius: 3px;
    border: solid 1px #3a6d4b;
    background-color: var(--white);
    background-image: url(/assets/images//ANH/TIN-TUC/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
}

.blog-noi-bat .pagination .so {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: solid 1px #bbbbbb;
    background-color: var(--white);
    border-radius: 100%;
    font-family: SFProDisplay;
    font-size: 14px;
    letter-spacing: normal;
    color: #3a6d4b;
}

.blog-noi-bat .pagination .active {
    background-color: #3a6d4b;
    color: #fff;
    font-weight: bold;
}


/* BAI VIET MOI NHAT */

.blog-noi-bat .title {
    margin-bottom: 24px;
}

.blog-noi-bat .title span {
    font-family: SFProDisplay;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
}

.new-blog .item-new {
    position: relative;
    height: auto;
    background-color: var(--white);
    margin-bottom: 17px;
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
}

.item-new .img-new {
    cursor: pointer;
    flex: 0 0 160px;
    margin-bottom: 0;
    overflow: hidden;
}

.item-new .img-new img {
    min-height: 140px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition: 333ms all ease;
    width: 100%;
    height: 100%;
}

.item-new .inner-new {
    padding: 6px;
}

.item-new .inner-new .title-inner {
    text-decoration: none;
    color: var(--black);
}

.item-new .inner-new .title-inner h4 {
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
    margin-bottom: 19px;
    &:hover{
        color:#3a6d4b;
    }
}

.item-new .inner-new .btn-new {
    margin-bottom: 12px;
}

.item-new .inner-new .btn-new a {
    padding: 3px 16px;
    border-radius: 5px;
    border: solid 1px #3a6d4b;
    background-color: var(--white);
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #3a6d4b;
    text-decoration: none;
}

.item-new .inner-new .btn-new:hover a {
    color: #fff;
    background-color: #22ae51;
}

.item-new .inner-new .date {
    margin-right: 5px;
}

.item-new .inner-new .date-view {
    font-family: SFProDisplay;
    font-size: 12px;
    text-align: left;
    color: #bbbbbb;
    position: relative;
}

.item-new .inner-new .view {
    margin-left: 5px;
}

.item-new .inner-new .dot {
    width: 4px;
    height: 4px;
    background-color: #bbbbbb;
    border-radius: 100%;
    border: 1px solid #bbbbbb;
    display: inline-block;
    position: absolute;
    top: 7px;
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .item-new .inner-new .title-inner h4 {
        font-size: 12px;
        margin-bottom: 13px;
    }
    .item-nb .inner-nb .title-inner h4 {
        font-size: 12px;
        margin-bottom: 13px;
        margin-top: 5px;
    }
    .blog-nb .item-nb {
        display: block;
    }
    .blog-nb .item-nb .inner-nb {
        margin-left: 0px;
    }
    .blog-nb .item-nb .inner-nb .description {
        display: none;
    }
}