<section class="blog-noi-bat" *ngFor="let item1 of tintuc">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="blog-nb">
                    <div class="title">
                        <span>{{item1.name}}</span>
                    </div>
                    <div class="item-nb" *ngFor="let item of item1?.resBlogs | paginate: { itemsPerPage: 7, currentPage: p }">
                        <div class="img-nb">
                            <a routerLink="/tin-tuc/{{item?.slug}}">
                                <img src="{{item.image}}" alt="">
                            </a>
                        </div>
                        <div class="inner-nb">
                            <a class="title-inner" routerLink="/tin-tuc/{{item?.slug}}">
                                <h4>{{item.name}}
                                </h4>
                            </a>
                            <div class="btn-nb">
                                <a routerLink="/tin-tuc/{{item?.slug}}">{{item1.name}}</a>
                            </div>
                            <div class="date-nb">
                                <span class="date">{{item?.create_date | date: 'dd/MM/yyyy'}}</span><span class="dot"></span><span class="view">{{item?.view}}
                                  lượt xem</span>
                            </div>
                            <div class="description">
                                <span>
                                  {{item?.short_description}}
                              </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="pagination-hotel">
                    <pagination-controls (pageChange)="p = $event" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
                </div>
            </div>
            <!-- BAI VIET MOI NHAT -->
            <div class="col-lg-4 col-12">
                <div class="new-blog">
                    <div class="title">
                        <span>BÀI VIẾT MỚI NHẤT</span>
                    </div>
                    <div class="item-new" *ngFor="let item of tinmoi?.slice(0,6)">
                        <div class="img-new">
                            <a routerLink="/tin-tuc/{{item?.slug}}">
                                <img src="{{item.image}}" alt="">
                            </a>
                        </div>
                        <div class="inner-new">
                            <a class="title-inner" routerLink="/tin-tuc/{{item?.slug}}">
                                <h4>{{item.name}}
                                </h4>
                            </a>
                            <div class="btn-new">
                                <a routerLink="/tin-tuc/{{item?.slug}}">Tin tức</a>
                            </div>
                            <div class="date-view">
                                <span class="date">{{item?.create_date | date: 'dd/MM/yyyy'}}</span><span class="dot"></span><span class="view">{{item?.view}}
                                  lượt xem</span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>