<app-breadcrumb [arraySlugAdd]="arraySlug"></app-breadcrumb>
<section class="am-thuc">
  <div class="container">
    <div class="name-section">
      <h1 style="text-transform: uppercase">
        {{data[0]?.name}}
      </h1>
    </div>
    <div class="main">
      <div class="row">
        <!-- SLIDE MEETING -->
        <div class="col-lg-8 md-7 col-12 left">
          <div class="slide-meeting">
            <div>
              <ngx-slick-carousel *ngIf="show" class="carousel slide_to" #slickModal="slick-carousel"
                                  [config]="slideConfig">
                <div ngxSlickItem *ngFor="let slide of slides" class="slide">

                  <div class="bocanh">
                    <img src="{{ slide.img }}" alt="">
                  </div>

                </div>
              </ngx-slick-carousel>
              <ngx-slick-carousel *ngIf="show" class="carousel slide_be" #slickModal="slick-carousel"
                                  [config]="slideConfig2">
                <div ngxSlickItem *ngFor="let slide of slides" class="slide">

                  <div class="bocanh">
                    <img src="{{ slide.img }}" alt="" width="100%">
                  </div>

                </div>
              </ngx-slick-carousel>
            </div>
          </div>
<!--          <div class="slide-meeting">-->
<!--            <div class="">-->
<!--              <ngx-slick-carousel *ngIf="show" class="carousel1 slide-to" #slickModal="slick-carousel" [config]="slideConfig">-->
<!--                <div ngxSlickItem *ngFor="let value of slides" class="slide">-->
<!--                  <div class="item">-->
<!--                    <a><img src="{{value?.image}}" alt=""></a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </ngx-slick-carousel>-->
<!--            </div>-->
<!--            <div class="slider_con">-->
<!--              <div class="">-->
<!--                <ngx-slick-carousel *ngIf="show" class="carousel2 mt-2 slide-be" #slickModal="slick-carousel"-->
<!--                                    [config]="slideConfig2">-->
<!--                  <div ngxSlickItem *ngFor="let value of slides" class="slide">-->
<!--                    <div class="item">-->
<!--                      <a><img src="{{value?.image}}" alt=""></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </ngx-slick-carousel>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->


          <!-- MO TA VA LUA CHON KHAC -->
          <div class="mo-ta">
            <div class="title">
              <h4>MÔ TẢ</h4>
            </div>
            <div [innerHTML]="data[0]?.description"></div>
          </div>
          <div class="lua-chon-khac">
            <div class="title">
              <h4>CÁC LỰA CHỌN KHÁC</h4>
            </div>
            <div class="list-lua-chon">
              <div class="row">
                <div class="col-md-4" *ngFor="let x of cuisine">
                  <div class="item">
                    <div class="img-am-thuc">
                      <a href="">
                        <img src="{{x.img}}" alt="">
                      </a>
                    </div>
                    <div class="inner">
                      <h5><a [routerLink]="'/am-thuc/'+x.slug" (click)="getDetailSlug(x.slug)"
                          class="cap">{{x.name}}</a></h5>
                      <button class="btn-chi-tiet" [routerLink]="'/am-thuc/'+x.slug" (click)="getDetailSlug(x.slug)">Chi
                        tiết <img src="../../../../assets/images/cuisine/img_detail/right-arrow-be.png" alt=""></button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- FORM -->
        <div class="col-lg-4 md-5 col-12 right">
          <div class="form">
            <div class="form-title">
              <h3>THÔNG TIN YÊU CẦU ẨM THỰC</h3>
            </div>
            <div class="form-info">
              <div [className]="validate_notice.name + ' name'">
                <p>Họ và tên:<span style="color:red">*</span></p>
                <input type="text" class="form-control" placeholder="Nhập họ và tên bạn" [(ngModel)]="full_name">
              </div>
              <div [className]="validate_notice.phone + ' phone'">
                <p>Số điện thoại:<span style="color:red">*</span></p>
                <input type="text" class="form-control" placeholder="Nhập số điện thoại bạn" [(ngModel)]="phone">
              </div>
              <div [className]="validate_notice.email + ' email'">
                <p>Email: </p>
                <input type="text" class="form-control" placeholder="Nhập email của bạn" [(ngModel)]="email">
              </div>
              <div ngbDropdown [className]="validate_notice.num + ' number-people'">
                <p>Số lượng bàn:<span style="color:red"> *</span></p>
                <input type="text" class="form-control picknumber" placeholder="Chọn số lượng bàn"
                       [attr.value]="temp_numpeople" id="dropdownForm1" ngbDropdownToggle readonly>
                <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="drop-picknumber">
                  <form class="">
                    <div class="form-group">
                      Chọn số lượng bàn:
                    </div>
                    <div>
                      <span (click)="setnumber(false)">-</span>
                      <span>{{num_people}}</span>
                      <span (click)="setnumber(true)">+</span>
                    </div>
                  </form>
                </div>
              </div>
              <div [className]="validate_notice.date +' date'">
                <p>Ngày nhận bàn:<span style="color:red">*</span></p>
                <img src="../../../../assets/images/combo/icon-1.png"><input type="text" placeholder="Chọn ngày nhận bàn"
                                                                             [className]="validate_notice.date + ' form-control chon' +
                                                                                ' date-in input-date'" readonly="true"
                                                                             [minDate]="today" [(ngModel)]="date" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" bsDatepicker>
              </div>
              <div class="send">
                <input type="submit" value="GỬI YÊU CẦU" (click)="request_combo()" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
