.am-thuc {
  .name-section {
    text-align: left;

    h1 {
      font-family: sf_ui_displayregular;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.21;
      letter-spacing: normal;
      color: var(--black);
      padding: 38px 0 33px 0;
      margin: 0;
    }
  }

  .main {
    .form {
      border-radius: 3px;
      border: solid 1px rgba(0, 0, 0, 0.12);
      background-color: var(--white);

      .notice_on{
        position: relative;
        &:after{
          content: 'Mục này là bắt buộc!';
          position: absolute;
          color: red;
          top: 0;
          right: 0;
        }
      }
      .notice_on2{
        position: relative;
        &:after{
          content: 'Vui lòng nhập đúng định dạng!';
          position: absolute;
          color: red;
          top: 0;
          right: 0;
        }
      }

      .form-title {
        text-align: center;
        background-color: #3a6d4b;

        h3 {
          font-family: sf_ui_displayregular;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.19;
          letter-spacing: normal;
          color: var(--white);
          padding: 10px 68px;
        }
      }

      .form-info {
        padding: 22px 20px 20px 20px;

        p {
          margin-bottom: 5px;
          font-family: sf_ui_displayregular;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.15;
          letter-spacing: normal;
          text-align: left;
          color: var(--black);
        }

        //span {
        //  color: #ff0013;
        //}

        .form-control {
          border-radius: 3px;
          border: solid 0.5px #bbbbbb;
          background-color: var(--white);
          margin-bottom: 10px;
          height: 32px;
          font-size: 13px;

          &::placeholder {
            font-family: sf_ui_displayregular;
            font-size: 13px;
            line-height: 32px;
            text-align: left;
            color: #bbbbbb;
          }
        }

        .picknumber {
          cursor: pointer;
        }

        .drop-picknumber {
          width: 100%;
          padding: 24px 24px 8px;
          background-color: #3a6d4b;
          border-radius: 4px;
          -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
          z-index: 3;
          transform: translate(0px, 57px) !important;

          form {
            display: flex;
            justify-content: space-between;
            color: #fff;

            div:nth-child(1) {
              margin-bottom: 0;
            }

            div:nth-child(2) {
              border-radius: 2rem;
              border: 0;
              background: #fff;
              color: #222;
              box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);

              span {
                -moz-user-select: -moz-none;
                -webkit-user-select: none;
                -o-user-select: none;
                -ms-user-select: none;
                user-select: none;
              }

              span:nth-child(1), span:nth-child(3) {
                width: 24px;
                height: 24px;
                display: inline-block;
                text-align: center;
                cursor: pointer;
                border-radius: 0 12px 12px 0;

                &:hover {
                  background: rgb(255, 255, 255);
                  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(247, 249, 248, 1) 24%, rgba(58, 109, 75, 1) 100%);
                }
              }

              span:nth-child(1) {
                border-radius: 12px 0 0 12px;

                &:hover {
                  background: rgb(58, 109, 75);
                  background: linear-gradient(90deg, rgba(58, 109, 75, 1) 0%, rgba(247, 249, 248, 1) 76%, rgba(255, 255, 255, 1) 100%);
                }
              }

              span:nth-child(2) {
                width: 24px;
                display: inline-block;
                text-align: center;
              }
            }
          }
        }

        textarea {
          height: 60.4px !important;
        }

        .area::placeholder {
          padding-top: 10px;
        }

        .chon {
          // background-image: url('../../../../assets/images/cuisine/img_detail/down-arrow.png');
          background-repeat: no-repeat;
          background-position: bottom 11px right 13px;
        }

        .date {
          position: relative;
          cursor: pointer;

          input {
            text-indent: 20px;
            font-size: 14px;
            line-height: 38px;
            height: 38px;
            cursor: pointer;
          }

          img {
            position: absolute;
            top: 30px;
            left: 10px;
            margin-right: 10px;
            z-index: 2;
          }

          .form-control {
            &::placeholder {
              font-family: sf_ui_displayregular;
              font-size: 13px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.15;
              letter-spacing: normal;
              text-align: left;
              color: #bbbbbb;
            }
          }
        }

        .send {
          margin-top: 20px;
          text-align: center;

          input {
            font-size: 14px;
            padding: 10px 38px;
            border-radius: 3px;
            background-color: #ffa300;
            font-family: sf_ui_displayregular;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.14;
            letter-spacing: normal;
            color: var(--white);
            border: 1px solid #ffa300;

            &:hover {
              background-color: #dc8c00;
            }
          }

          a {
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .mo-ta {
      margin-bottom: 16px;

      p {
        font-family: sf_ui_displayregular;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: left;
        color: #4c4c4c;
        margin-bottom: 8px;

        span {
          font-family: sf_ui_displayregular;
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.28;
          letter-spacing: normal;
          text-align: left;
          color: #e10b0b;
        }
      }
    }

    .title {
      margin-bottom: 16px;

      h4 {
        font-family: sf_ui_displayregular;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: left;
        color: #1a1a1a;
        margin: 24px 0 16px 0;
      }
    }
  }

  .baoloi {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    font-style: italic;
    color: red;
  }

  .list-lua-chon {
    margin-bottom: 40px;
  }

  .lua-chon-khac {
    .item {
      width: 100%;
      display: inline-block;
      padding-bottom: 0;
      position: relative;
      //height: 100%;
      border-radius: 3px;
      border: solid 1px #70707040;
      margin-bottom: 16px;

      .img-am-thuc {
        border-radius: 0px;
        width: 100%;
        height: 170px;
        overflow: hidden;
        position: relative;

        a {
          position: absolute;
          height: 100%;
        }

        img {
          border-radius: 0px;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          -o-object-fit: cover;
          object-fit: cover;
          -o-object-position: center;
          object-position: center;
          -webkit-transform: rotate(0) scale(1);
          transform: rotate(0) scale(1);
          -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
          border-radius: 3px 3px 0 0;
        }

        &:hover {
          img {
            -webkit-transform: rotate(13deg) scale(1.3);
            transform: rotate(13deg) scale(1.3);
          }
        }
      }

      .inner {
        padding: 5px 7.5px 12px 8px;

        a {
          text-decoration: none;
        }

        h5 {
          line-height: 18px;

          a {
            font-family: sf_ui_displayregular;
            font-size: 15px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: var(--black);
          }
        }

        .btn-chi-tiet {
          width: 91px;
          height: 30px;
          background-color: #3a6d4b;
          font-family: sf_ui_displayregular;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.14;
          letter-spacing: normal;
          color: var(--white);
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          float: right;
          border-radius: 3px;
          border: none;
          margin-bottom: 9px;

          img {
            margin-left: 5px;
          }
        }
      }

      &:hover {
        .inner {
          h5 {
            a {
              color: #0a8f4f;
            }
          }

          .btn-chi-tiet {
            background-color: #22ae51;
          }
        }
      }
    }
  }

  &::ng-deep.slide_to {
    .slick-slide {
      .bocanh {
        padding-bottom: calc(100% * 390 / 760);
        position: relative;
        width: 100%;
        display: block;

        img {
          height: 100%;
          width: 100%;
          position: absolute;
          object-position: center;
          object-fit: cover;
          border-radius: 3px;
        }
      }
    }
  }

  &::ng-deep.slide_be.slick-initialized.slick-slider {
    .slick-slide {
      img {
        // border-radius: 0px;
        // width: 100%;
        // height: 104px;
        // border-radius: 0px;
        // width: 100%;
        //  // height: 100%;
      }

      .bocanh {
        > a {
          // position: relative;
          // padding-bottom: calc(100% * 104 / 181);
        }
      }
    }
  }

  &::ng-deep.slick-next.slick-arrow{
    opacity: 0.7;
    &:hover{
      opacity: 1;
    }
    &:before {
      // content: url(../../../../assets/images/cuisine/img_detail/right-arrow.png);
      // width: 36px;
      // height: 36px;
      // z-index: 3;
      // opacity: unset;
    }
  }
  &::ng-deep.slick-prev.slick-arrow{
    opacity: 0.7;
    &:hover{
      opacity: 1;
    }
    &:before {
      // content: url(../../../../assets/images/cuisine/img_detail/right-arrow.png);
      // width: 36px;
      // height: 36px;
      // z-index: 3;
      // opacity: unset;
    }
  }

  &::ng-deep.slide_to {
    button.slick-next.slick-arrow {
      opacity: 0.7;
      &:hover{
        opacity: 1;
      }
      // z-index: 2;
      // width: 36px;
      // height: 36px;
      // right: 21px;
    }
  }

  &::ng-deep.slide_be {
    button.slick-prev.slick-arrow {
      // display: none !important;
    }

    button.slick-next.slick-arrow {
      // display: none !important;
    }
  }

  &::ng-deep.slide_be {
    .slick-slide {
      .bocanh {
        width: 100%;
        padding-bottom: calc(100% * 105 / 180);
        display: block;
        position: relative;

        img {
          height: 100%;
          width: 100%;
          position: absolute;
          object-position: center;
          object-fit: cover;
          border-radius: 3px;
        }
      }
    }
  }

  &::ng-deep {
    .slide_to {
      .slick-prev {
        &:before {
          content: url(../../../../assets/images/cuisine/img_detail/left-arrow.png);
          width: 36px;
          height: 36px;
          z-index: 3;
          opacity: unset;
        }

        z-index: 2;
        width: 36px;
        height: 36px;
        left: 1%;
      }

      margin-bottom: 12px;

      .slick-next {
        right: 3%;

        &::before {
          content: url(../../../../assets/images/cuisine/img_detail/right-arrow.png);
          width: 36px;
          height: 36px;
          z-index: 3;
          opacity: unset;
        }
      }
    }

    .slide_be.slick-initialized {
      .slick-slide {
        margin-right: 10px;
      }
    }
  }

  @media (max-width: 768px) {
   
    .slide_to.slick-initialized.slick-slider {
      margin-bottom: 7px;
      height: auto;

      .slick-slide {
        img {
          height: auto;
        }
      }
    }
    .slide_to {
      .slick-slide {
        .bocanh {
          height: auto;
         
        }
      }
    }
  }

}
