<app-breadcrumb></app-breadcrumb>
<div class="wrap-event-list">
  <h2>Giao lưu văn nghệ</h2>

  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let item of list_allevents">
        <div class="card">
          <a routerLink="/to-chuc-su-kien/{{item?.slug}}"><img class="img-fluid" src="{{item?.image}}"></a>
          <div>
            <span routerLink="/to-chuc-su-kien/{{item?.slug}}">{{item?.name}}</span>
            <button routerLink="/to-chuc-su-kien/{{item?.slug}}">Chi Tiết</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
