$color_1: #1a1a1a;
$color_2: #f1f1f1;
$font_family_1: sf_pro_displaymedium;
$background_color_1: #3a6d4b;

/* ipad */
/* điện thoại */
html {
  height: 100%;
}
body {
  height: 100%;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: $font_family_1;
}
.wrap-event-list{
  .row{
    margin-left: -12px;
    margin-right: -12px;
  }
  .col-lg-4{
    padding-right: 12px;
    padding-left: 12px;
  }
}
.card {
  height: auto;
  margin-bottom: 40px;
  border-radius: 3px;
  a {
    height: 217px;
    overflow: hidden;
    display: block;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 3px 3px 0 0;
      transition: 0.3s ease-in-out;
    }
  }
  div{
    display: flex;
    justify-content: space-between;
    padding: 8px 14px;
    span {
      font-size: 15px;
      font-weight: bold;
      color: #1a1a1a;
      font-family: sf_pro_displaymedium;
      font-weight: bold;
      padding: 10px;
      &:hover{
        color: #3a6d4b;
        cursor: pointer;
      }
    }
    button {
      border: none;
      border-radius: 3px;
      background-color: #3a6d4b;
      color: #f1f1f1;
      font-family: sf_pro_displaymedium;
      font-size: 13px;
      font-weight: bold;
      padding: 10px 24px;
      &:hover{
        background-color: #22ae51;
      }
    }
  }
  &:hover{
    img{
      transform: rotate(5deg) scale(1.2);
    }
  }
}
#wrap {
  .col {
    float: left;
    a {
      text-decoration: none;
    }
  }
}
@media(max-width:375px){
  h2{
    margin-top: 75px;
  }
}