<section class="wrap-thankyou">
  <div class="banner">
    <img class="img-banner"src="{{hero_banner?.image}}" alt="">
    <div class="thank">
      <div class="container">
        <img src="../../../../assets/images/thankyou/email-thankyou.svg" alt="">
        <span>✓</span>
      <h1>Thank you !</h1>
      <p>Chúng tôi đã nhận được yêu cầu của quý khách
        Chúng tôi sẽ liên hệ cho bạn qua email hoặc số điện thoại 
        trong thời gian sớm nhất</p>
        <p class="email"><span></span><a href="mailto:dulich_thiensonsuoinga@yahoo.com.vn">dulich_thiensonsuoinga@yahoo.com.vn</a></p>
        <p class="tel"><span></span><a href="tel:0433.881.552" >0433.881.552</a></p>
        <button routerLink="">QUAY VỀ TRANG CHỦ</button>
      </div>
    </div>
  </div>
</section>
