.wrap-thankyou{
    .banner{
        position: relative;
        .img-banner{
            width: 100%;
            height: 800px;
        }
        .thank{
            position: absolute;
            text-align: center;
            padding: 0 115px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            img{
                width: 109.3px;
                height: 109.4px;
                object-fit: contain;
                margin-top: 18px;
                &~span{
                    color: white;
                    font-size:18px;
                    position: absolute;
                    top: 40px;
                    right: 50%;
                    width: 24.2px;
                    height: 24.2px;
                    background-color: #22ae51;
                    display: inline-block;
                    transform: translate(50%, 0);
                    border-radius: 24px;
                }
            }
            h1{
                margin-top: 21px;
                font-family: sf_ui_displayregular;
                font-size: 24px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.79;
                letter-spacing: normal;
                text-align: center;
                color: var(--greyish-brown);
                margin-bottom: 7px;
            }
            p{
                width: 334px;
                font-family: sf_ui_displayregular;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                text-align: center;
                line-height: 1.43;
                letter-spacing: normal;
                color: var(--greyish-brown);
                margin: 0px;
                margin-bottom: 10px;
                &.email{
                    span{
                        width: 14px;
    margin-right: 5px;
    margin-bottom: -4px;
    height: 14px;
                        display: inline-block;
                        background-image: url(../../../../assets/images/thankyou/f66033df-3cd6-4cd5-8b98-5d581bda7bf1.svg);
                    }
margin: 0;
a{
    color:  var(--greyish-brown);
    text-decoration: none;
}
                }
                &.tel{
                    span{
                        width: 14px;
    margin-right: 5px;
    margin-bottom: -4px;
    height: 14px;
                        display: inline-block;
                        background-image: url(../../../../assets/images/thankyou/649ffe6a-a2ac-460e-8260-f8df0cb9fa1e.svg);

                    }
margin: 0;
a{
    color:  var(--greyish-brown);
    text-decoration: none;
}
                }
            }
            button{
                margin-top: 14px;
                margin-bottom: 27px;
                width: 220px;
                padding-right: 41px;
                    height: 36px;
                    border-radius: 3px;
                    background-color: #3a6d4b;
                    font-family: sf_ui_displayregular;
                    font-size: 14px;
                    line-height: 36px;
                    border: none;
                    position: relative;
                    color: var(--white);
                    &::after{
                        content: "";
                    position: absolute;
                    right: 20px;
                    top: 10px;
      width: 18.4px;
      height: 15.4px;
      display: inline-block;
        background-image: url(../../../../assets/images/thankyou/muiten.svg);
  }
            }
        }

    }
}
