@font-face {
  font-family: "sf_ui_displayregular";
  src: url("/assets/fonts/sf-ui-display-regular.woff2") format("woff2"),
    url("/assets/fonts/sf-ui-display-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sf_pro_displaymedium";
  src: url("/assets/fonts/sf-pro-display-medium.woff2") format("woff2"),
    url("/assets/fonts/sf-pro-display-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sf_pro_displaysemibold";
  src: url("/assets/fonts/sf-pro-display-semibold.woff2") format("woff2"),
    url("/assets/fonts/sf-pro-display-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sf_pro_displaybold";
  src: url("/assets/fonts/sf-pro-display-bold.woff2") format("woff2"),
    url("/assets/fonts/sf-pro-display-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sf_pro_displaylight_italic";
  src: url("/assets/fonts/sf-pro-display-lightitalic.woff2") format("woff2"),
    url("/assets/fonts/sf-pro-display-lightitalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'sf_pro_displaymedium';
  font-size: 14px;
}

// ----------------SLIDE COMBO DETAIL----------------

.wrap-combo-detail, .wrap-event-detail, .Booking-home-2-star, .nha-san, .Meeting-room, .am-thuc {
  .slide-meeting {
    margin-bottom: 28px;

    img {
      border-radius: 3px !important;
    }
  }

  .slide-to {
    &.slick-initialized.slick-slider {
      margin-bottom: 10px;
      height: 390px;

      .slick-slide img {
        border-radius: 0px;
        width: calc(100%);
        margin: auto;
        display: block;
        height: 390px;
      }
    }

    .slick-slide .item1 {
      width: 100%;
      display: inline-block;
      padding-bottom: 0;
      position: relative;
      height: 390px;
    }
  }

  .slide-be {
    &.slick-initialized.slick-slider .slick-slide img {
      border-radius: 0px;
      width: calc(100%);
      height: 104px;
      cursor: pointer;
      &:hover{
        filter: hue-rotate(34deg) saturate(74%) contrast(56%);
      }
    }

    .slick-slide .item1 {
      width: 100%;
      display: inline-block;
      position: relative;

    }
  }

  .slide-to {
    .slick-prev {
      &:before {
        content: url("/assets/images/combo/left-arrow.png");
        width: 36px;
        height: 36px;
        z-index: 3;
        opacity: 0.7;
      }
      &:hover{
        &::before{
          opacity: 1;
        }
      }
      z-index: 2;
      width: 36px;
      height: 36px;
      left: 21px;
    }

    .slick-next {
      &:before {
        content: url("/assets/images/combo/right-arrow.png");
        width: 36px;
        height: 36px;
        z-index: 3;
        opacity: 0.7;
     
      }
      &:hover{
        &::before{
          opacity: 1;
        }
      }
      z-index: 2;
      width: 36px;
      height: 36px;
      right: 21px;
    }
  }

  .slide-be {
    &.slick-initialized {
      .slick-slide {
        margin: 0px 5px;
      }

      &.slick-slider .slick-slide {
        .item1 > a {
          position: relative;
          padding-bottom: calc(100% * 104 / 181);
        }

        //
        //img {
        //  border-radius: 0px;
        //  width: 100%;
        //  top: 50%;
        //  height: 100%;
        //}
      }
    }

    button {
      &.slick-prev.slick-arrow, &.slick-next.slick-arrow {
        display: none !important;
      }
    }
  }

  @media (max-width: 768px) {
    .slide-to {
      &.slick-initialized.slick-slider {
        margin-bottom: 0px;
        height: auto;
      }

      .slick-slide .item1, &.slick-initialized.slick-slider .slick-slide img {
        height: auto;
      }
    }
  }
}

// ----------------BS DATEPICKER-----------------
/* .bs-datepicker */

.bs-datepicker {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  background: #fff;
  box-shadow: 0 0 10px 0 #aaa;
  position: relative;
  z-index: 1;
  /* button */
  /* .bs-datepicker-head */
  /* .bs-datepicker-body */
  /* .current-timedate */
  /* .bs-datepicker-multiple */
  /* .bs-datepicker-btns */
  /*.bs-datepicker-custom-range */
  /* .bs-datepicker-predefined-btns */
  /* .is-other-month */
  /* .bs-datepicker-buttons */
  &:after {
    clear: both;
    content: '';
    display: block;
  }

  bs-day-picker {
    float: left;
  }

  button {
    &:hover, &:focus, &:active {
      outline: none;
    }
  }

  input {
    &:hover, &:focus, &:active {
      outline: none;
    }
  }
}

.bs-datepicker-btns button {
  &:hover, &:focus, &:active {
    outline: none;
  }
}

.bs-datepicker-predefined-btns button {
  &:active, &:focus {
    outline: none;
  }
}

.bs-datepicker-head {
  min-width: 270px;
  height: 50px;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  text-align: justify;
  /* .bs-datepicker-head button */
  &:after {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }

  button {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    height: 30px;
    line-height: 30px;
    border: 0;
    background: transparent;
    text-align: center;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;

    &[disabled] {
      background: rgba(221, 221, 221, 0.3);
      color: #f5f5f5;
      cursor: not-allowed;

      &:hover, &:active {
        background: rgba(221, 221, 221, 0.3);
        color: #f5f5f5;
        cursor: not-allowed;
      }
    }

    &.next, &.previous {
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }

    &.next span, &.previous span {
      font-size: 28px;
      line-height: 1;
      display: inline-block;
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }

    &.current {
      border-radius: 15px;
      max-width: 155px;
      padding: 0 13px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.bs-datepicker-body {
  padding: 10px;
  border-radius: 0 0 3px 3px;
  min-height: 232px;
  min-width: 278px;
  border: 1px solid #e9edf0;
  /* .bs-datepicker-body table */
  .days.weeks {
    position: relative;
    z-index: 1;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    /* .bs-datepicker-body table.days */
    /* .bs-datepicker-body table.weeks */
    th {
      font-size: 13px;
      color: #9aaec1;
      font-weight: 400;
      text-align: center;
    }

    td {
      color: #0082ff;
      text-align: center;
      position: relative;
      padding: 0;

      span {
        display: block;
        margin: 0 auto;
        font-size: 13px;
        border-radius: 50%;
        position: relative;
        /*z-index: 1;*/
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }

      &:not(.disabled):not(.week) span:not(.disabled) {
        cursor: pointer;
      }

      &.is-highlighted:not(.disabled):not(.selected) span, span.is-highlighted:not(.disabled):not(.selected) {
        background-color: #e9edf0;
        transition: 0s;
      }

      &.is-active-other-month:not(.disabled):not(.selected) span {
        background-color: #e9edf0;
        transition: 0s;
        cursor: pointer !important;
      }

      span {
        &.is-active-other-month:not(.disabled):not(.selected) {
          background-color: #e9edf0;
          transition: 0s;
          cursor: pointer !important;
        }

        &.disabled {
          color: #9aaec1;
        }
      }

      &.disabled span {
        color: #9aaec1;
      }

      span.selected, &.selected span {
        color: #fff;
      }

      &.active {
        position: relative;

        &.select-start:before {
          left: 35%;
        }

        &.select-end:before {
          left: -85%;
        }
      }

      span.active {
        &.select-start:after, &.select-end:after {
          content: "";
          display: block;
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          transition: 0.3s;
          top: 0;
          border-radius: 50%;
        }
      }

      &.active {
        &.select-start span:after, &.select-end span:after {
          content: "";
          display: block;
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          transition: 0.3s;
          top: 0;
          border-radius: 50%;
        }
      }

      &:before, span:before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: 6px;
        bottom: 6px;
        left: -2px;
        right: -2px;
        box-sizing: content-box;
        background: transparent;
      }

      &.active.select-start + td.active:before {
        left: -20%;
      }

      &:last-child.active:before {
        border-radius: 0 3px 3px 0;
        width: 125%;
        left: -25%;
      }

      span[class*="select-"], &[class*="select-"] span {
        border-radius: 50%;
        color: #fff;
      }
    }

    &.days {
      td {
        &.active:not(.select-start):before, &.in-range:not(.select-start):before {
          background: #e9edf0;
        }
      }

      span {
        &.active:not(.select-start):before, &.in-range:not(.select-start):before {
          background: #e9edf0;
        }

        width: 32px;
        height: 32px;
        line-height: 32px;

        &.select-start {
          z-index: 2;
        }

        &.is-highlighted.in-range:before, &.in-range.select-end:before {
          background: none;
          right: 0;
          left: 0;
        }
      }

      td {
        &.select-start + td {
          &.select-end:before, &.is-highlighted:before {
            background: #e9edf0;
            width: 100%;
          }
        }

        &.active + td {
          &.is-highlighted:before, &.select-end:before {
            background: #e9edf0;
            width: 100%;
          }
        }

        &.in-range + td {
          &.is-highlighted:before, &.select-end:before {
            background: #e9edf0;
            width: 100%;
          }
        }
      }
    }

    &.weeks tr td:nth-child(2).active:before {
      border-radius: 3px 0 0 3px;
      left: 0;
      width: 100%;
    }

    &:not(.weeks) tr td:first-child:before {
      border-radius: 3px 0 0 3px;
    }

    &.years {
      td span {
        width: 46px;
        height: 46px;
        line-height: 45px;
        margin: 0 auto;
      }

      tr:not(:last-child) td span {
        margin-bottom: 8px;
      }
    }

    &.months td {
      height: 52px;

      span {
        padding: 6px;
        border-radius: 15px;
      }
    }
  }
}

.bs-datepicker .current-timedate {
  color: #54708b;
  font-size: 15px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
  border: 1px solid #e9edf0;
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  span:not(:empty):before {
    content: "";
    width: 15px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: text-bottom;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAABMklEQVQoU9VTwW3CQBCcOUgBtEBKSAukAnBKME+wFCAlYIhk8sQlxFABtJAScAsuAPBEewYcxCP8ouxrPDsza61uiVN1o6RNHD4htSCmq49RfO71BvMJqBBkITRf1kmUW49nQRC9h1I5AZlBClaL8aP1fKgOOxCx8aSLs+Q19eZuNO8QmPqJRtDFguy7OAcDbJPs+/BKVPDIPrvD2ZJgWAmVe7O0rI0Vqs1seyWUXpuJoppYCa5L+U++NpNPkr5OE2oMdARsb3gykJT5ydZcL8Z9Ww60nxg2LhjON9li9OwXZzo+xLbp3nC2s9CL2RrueGyVrgwNm8HpsCzZ9EEW6kqXlo1GQe03FzP/7W8Hl0dBtu7Bf7zt6mIwvX1RvzDCm7+q3mAW0Dl/GPdUCeXrZLT9BrDrGkm4qlPvAAAAAElFTkSuQmCC);
  }
}

.bs-datepicker-multiple {
  border-radius: 4px 0 0 4px;

  + .bs-datepicker-multiple {
    margin-left: 10px;
  }

  .bs-datepicker {
    box-shadow: none;
    position: relative;

    &:not(:last-child) {
      padding-right: 10px;
    }

    + .bs-datepicker:after {
      content: "";
      display: block;
      width: 14px;
      height: 10px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKCAYAAABrGwT5AAAA1ElEQVQoU42RsQrCUAxF77VuDu7O4oMWW//BURBBpZvgKk4uIrjoqKOTf+DopIO4uYggtFTfw3+pkQqCW1/G5J7kJiFy4m5MxUlxAzgIPHX+lzMPzupRYlYgxiR7vqsOP8YKzsTx0yxFMCUZ+q7aZzlr+OvgoWcAFyAHgat2jLWu48252DdqAihDJGSSJNUUxYmQjs3+hPQBlAh2rG2LCOPnaw3IiGDX99TRCs7ASJsNhUOA7d/LcuHvRG22FIZvsNXw1MX6VZExCilOQKEfeLXr/10+aC9Ho7arh7oAAAAASUVORK5CYII=);
      position: absolute;
      top: 25px;
      left: -8px;
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }
}

.bs-datepicker-container {
  padding: 15px;
}

.bs-datepicker .bs-media-container {
  display: flex;
}

@media (max-width: 768px) {
  .bs-datepicker .bs-media-container {
    flex-direction: column;
  }
}

.bs-datepicker-custom-range {
  padding: 15px;
  background: #eee;
}

.bs-datepicker-predefined-btns button {
  width: 100%;
  display: block;
  height: 30px;
  background-color: #9aaec1;
  border-radius: 4px;
  color: #fff;
  border: 0;
  margin-bottom: 10px;
  padding: 0 18px;
  text-align: left;
  transition: 0.3s;

  &:active, &:hover {
    background-color: #54708b;
  }
}

.bs-datepicker .is-other-month {
  color: rgba(0, 0, 0, 0.25);
  cursor: default !important;
}

.bs-datepicker-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding-top: 10px;
  border-top: 1px solid #e9edf0;

  .btn-default {
    margin-left: 10px;
  }
}

.theme-green {
  .bs-datepicker-head {
    background-color: #3a6d4b;
  }
  .bs-datepicker-body table td {
    span.selected, &.selected span, span[class*="select-"]:after, &[class*="select-"] span:after {
      background-color: #3a6d4b;
    }
    &.week span {
      color: #3a6d4b;
    }
  }
}

.blog-noi-bat .pagination-hotel {
    text-align: center;
    margin-top: 17px;
}

.blog-noi-bat .pagination-hotel ul {
    padding: 0;
}

.blog-noi-bat .pagination-hotel ul li {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    padding: 0;
    margin: 0 5px;
    border-radius: 3px;
}

.blog-noi-bat .pagination-hotel ul li.current {
    background-color: #3a6d4b;
    color: #fff;
    font-weight: bold;
}

.blog-noi-bat .pagination-hotel ul li.pagination-previous a:before,
.blog-noi-bat .pagination-hotel ul li.pagination-next a:before {
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 0;
    left: -1px;
    font-size: 24px;
}

.blog-noi-bat .pagination-hotel ul li.pagination-previous a:hover,
.blog-noi-bat .pagination-hotel ul li.pagination-next a:hover {
    background-color: #0f62ac;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: solid 1px #bbbbbb;
    background-color: var(--white);
    border-radius: 100%;
    font-family: SFProDisplay;
    font-size: 14px;
    letter-spacing: normal;
    color: #3a6d4b;
}

.blog-noi-bat .pagination-hotel ul li.pagination-previous a {
    position: relative;
    margin-top: 7px;
}

.blog-noi-bat .pagination-hotel ul li.pagination-previous a:before {
    content: '' !important;
    width: 36px;
    height: 24px;
    border-radius: 3px;
    border: solid 1px #3a6d4b;
    background-color: var(--white);
    background-image: url(/assets/images//ANH/TIN-TUC/arrow-LEFT.png);
    background-repeat: no-repeat;
    background-position: center;
    bottom: -1px;
    left: -13px;
}

.blog-noi-bat .pagination-hotel ul li.pagination-next a {
    position: relative;
    margin-top: 7px;
}

.blog-noi-bat .pagination-hotel ul li.pagination-next a:before {
    content: '' !important;
    width: 36px;
    height: 24px;
    border-radius: 3px;
    border: solid 1px #3a6d4b;
    background-color: var(--white);
    background-image: url(/assets/images//ANH/TIN-TUC/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    bottom: -1px;
}

.blog-noi-bat .pagination-hotel ul li .show-for-sr {
    display: none;
}

.blog-noi-bat .pagination-hotel ul li a {
    font-family: sf_pro_displaymedium;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: solid 1px #bbbbbb;
    background-color: var(--white);
    border-radius: 100%;
    font-family: SFProDisplay;
    font-size: 14px;
    letter-spacing: normal;
    color: #3a6d4b;
    cursor: pointer;
}

.blog-noi-bat .pagination-hotel ul li a:focus,
.blog-noi-bat .pagination-hotel ul li a:active {
    outline: unset;
}

.blog-noi-bat .pagination-hotel ul li a {
    line-height: 19px;
    padding-left: 6px;
}

.blog-noi-bat .pagination-hotel ul li.current {
    background-color: #3a6d4b;
    color: #fff;
    font-weight: bold;
    border-radius: 100%;
}

.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
    content: '';
    display: inline-block;
    margin-right: 0.5rem;
}

.ngx-gallery-arrow-left .ngx-gallery-arrow {
  opacity: 0.7;
  &:hover{
    opacity: 1;
  }
}

.ngx-gallery-arrow-right .ngx-gallery-arrow {
  opacity: 0.7;
  &:hover{
    opacity: 1;
  }
}
