.breadcrumb {
  line-height: 24px;
  background-color: #3a6d4b;
  margin: 0px;
  padding: 0px;
  border-radius: 0;
  a {
    font-size: 12px;
    text-decoration: none;
    color: #22ae51;
    margin-right: 22px;
    font-style: italic;
    position: relative;
    &:after {
      content: "";
      border: 4px solid transparent;
      border-left-color: #22ae51;
      position: absolute;
      top: 50%;
      right: -19px;
      transform: translate(0, -50%);
    }
    &:last-child {
      &::after {
        display: none;
      }
      margin-right: 0px;
      color: white;
    }
  }
}
