<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a [routerLink]="breadcrumb?.routerLink" *ngFor="let breadcrumb of create(arraySlug,arraySlugAdd)" >{{breadcrumb?.text}}</a>
      </div>
    </div>
  </div>
</div>
