<app-breadcrumb [arraySlugAdd]="arraySlug"></app-breadcrumb>
<section class="Meeting-room" *ngIf="phonghop_detail">
  <div class="container">
    <div class="name-section">
      <h1>
        PHÒNG HỌP - HỘI NGHỊ
      </h1>
    </div>
    <div class="main">
      <div class="row">
        <!-- SLIDE MEETING -->
        <div class="col-lg-8 md-7 col-12 left">
          <div class="slide-meeting">
            <div class="">
              <ngx-slick-carousel class="carousel1 slide-to" #slickModal="slick-carousel"
                                  [config]="slideConfigBlog1">
                <div ngxSlickItem *ngFor="let value of phonghop_Images" class="slide">
                  <div class="item">
                    <a><img src="{{value.image}}" alt=""></a>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
            <div class="slider_con">
              <div class="">
                <ngx-slick-carousel class="carousel2 mt-2 slide-be" #slickModal="slick-carousel"
                                    [config]="slideConfigBlog2">
                  <div ngxSlickItem *ngFor="let value of phonghop_Images" class="slide">
                    <div class="item">
                      <a><img src="{{value.image}}" alt=""></a>
                    </div>
                  </div>
                </ngx-slick-carousel>
              </div>
            </div>
          </div>
          <!-- DON GIA VA DICH VU -->
          <div class="don-gia">
            <div class="title">
              <h4>ĐƠN GIÁ</h4>
            </div>
            <div [innerHTML]="phonghop_detail?.price_description">

            </div>
          </div>
          <div class="dich-vu">
            <div class="title">
              <h4> DỊCH VỤ ĐI KÈM:</h4>
            </div>
            <div [innerHTML]="phonghop_detail?.description">

            </div>
          </div>
        </div>
        <!-- FORM -->
        <div class="col-lg-4 md-5 col-12 right">
          <div class="form">
            <div class="form-title">
              <h3>THÔNG TIN ĐẶT PHÒNG HỌP-HỘI NGHỊ</h3>
            </div>
            <div class="form-info">
              <div [className]="validate_notice.name + ' name'">
                <p>Họ và tên:<span style="color:red">*</span></p>
                <input type="text" class="form-control" placeholder="Nhập họ tên bạn" [(ngModel)]="full_name">
              </div>
              <div [className]="validate_notice.phone + ' phone'">
                <p>Số điện thoại:<span style="color:red">*</span></p>
                <input type="text" class="form-control" placeholder="Nhập số điện thoại của bạn" [(ngModel)]="phone">
              </div>
              <div [className]="validate_notice.email + 'email'">
                <p>Email: </p>
                <input type="text" class="form-control" placeholder="Nhập email của bạn" [(ngModel)]="email">
              </div>
              <div ngbDropdown [className]="validate_notice.num + ' number-people'">
                <p>Số người trong đoàn:<span style="color:red"> *</span></p>
                <input type="text" class="form-control picknumber" placeholder="{{num_people}} người"
                       [attr.value]="temp_numpeople" id="dropdownForm1" ngbDropdownToggle readonly>
                <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="drop-picknumber">
                  <form class="">
                    <div class="form-group">
                      Chọn số người:
                    </div>
                    <div>
                      <span (click)="setnumber(false)">-</span>
                      <span>{{num_people}}</span>
                      <span (click)="setnumber(true)">+</span>
                    </div>
                  </form>
                </div>
              </div>
              <div class="warehouse">
                <p>Khu vực: </p>
                <div class="checkbox">
                  <span>
                    <input type="checkbox" class="form-radio" (click)="set_warehouse('ha')"
                           [attr.id]="'checkbox3'" [(ngModel)]="select_warehouse.ha">
                  <label [attr.for]="'checkbox3'">Hạ Sơn</label>
                  </span>
                  <span>
                    <input type="checkbox" class="form-radio" (click)="set_warehouse('trung')"
                           [attr.id]="'checkbox4'" [(ngModel)]="select_warehouse.trung">
                  <label [attr.for]="'checkbox4'">Trung Sơn</label>
                  </span>
                  <span>
                    <input type="checkbox" class="form-radio" (click)="set_warehouse('ngoa')"
                           [attr.id]="'checkbox5'" [(ngModel)]="select_warehouse.ngoa">
                  <label [attr.for]="'checkbox5'">Ngoạ Sơn</label>
                  </span>
                </div>
              </div>
              <div ngbDropdown [className]="validate_notice.num2 + ' number-people'">
                <p>Chọn sức chứa phòng:<span style="color:red"> *</span></p>
                <input type="text" class="form-control picknumber" placeholder="Chọn sức chứa"
                       [attr.value]="temp_numcapacity" id="dropdownForm2" ngbDropdownToggle readonly>
                <div ngbDropdownMenu aria-labelledby="dropdownForm2" class="drop-picknumber">
                  <form class="">
                    <div class="form-group">
                      Chọn sức chứa:
                    </div>
                    <div>
                      <span (click)="setnumber2(false)">-</span>
                      <span>{{num_capacity}}</span>
                      <span (click)="setnumber2(true)">+</span>
                    </div>
                  </form>
                </div>
              </div>
              <div [className]="validate_notice.date +' date'">
                <p>Ngày thuê phòng:<span style="color:red">*</span></p>
                <img src="../../../../assets/images/combo/icon-1.png"><input type="text"
                                                                             placeholder="Chọn ngày tổ chức"
                                                                             [className]="validate_notice.date + ' form-control chon' +
                                                                                ' date-in input-date'"
                                                                             readonly="true"
                                                                             [minDate]="today"
                                                                             [(ngModel)]="date"
                                                                             [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                                                                             bsDatepicker>
              </div>
              <div class="request">
                <p>Yêu cầu thêm:</p>
                <textarea name="" id="" class="form-control area" [(ngModel)]="notes"
                          placeholder="Nhập thêm yêu cầu bạn mong muốn"></textarea>
              </div>
              <div class="send">
                <input type="submit" value="GỬI YÊU CẦU" (click)="request_booking()"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
