<app-breadcrumb></app-breadcrumb>
<div class="wrap-library">
  <div class="container noidung">
    <p class="tieude">
      THƯ VIỆN ẢNH
    </p>
    <div class="row">
      <div class="col-lg-4 col-md-6 khoi" (click)="setGallery(anh?.resMedia)" data-toggle="modal"
           data-target="#myModal1" *ngFor="let anh of list_gallery_image.slice(0, max_image)">
        <div *ngFor="let media of anh?.resMedia">
          <div class="anh" *ngIf="media.main">
            <img src="{{media?.image}}" alt="">
            <span class="nenden2">
            <p>{{anh?.name}}</p>
          </span>
          </div>
        </div>
      </div>
      <div class="modal fade gallery-modal" id="myModal1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <!--<span class="close" data-dismiss="modal">-->
              <!--<img src="../../../../assets/hotel-img/close.png">-->
              <!--</span>-->
              <ngx-gallery class="wrap-modal-gallery" [options]=" galleryOptions"
                           [images]="galleryImages"></ngx-gallery>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="nutxemthem" (click)="xemthem(true)" *ngIf="max_image < list_gallery_image.length">XEM THÊM</button>
    <!------------------VIDEO------------------->
    <p class="tieude">
      VIDEO
    </p>
    <div class="row">
      <div class="col-lg-4 col-md-6 khoi"
           data-toggle="modal" data-target="#myModalVideo" *ngFor="let v of videos?.resGalleries.slice(0, max_video)">
        <div class="anh"
             (mouseenter)="setGalleryVideo(v.videoIframe)">
          <img src="{{v.image}}" alt="">
          <span class="nenden1">
            <img src="../../../../assets/images/library/images/play_button@3x.png" alt="" class="playbtn">
          </span>
        </div>
        <p class="des">{{v.name}}</p>
      </div>
      <div class="modal fade gallery-modal" id="myModalVideo" role="dialog" (click)="setGalleryVideo('')">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row justify-content-center align-items-center" style="height: 100%;">
                <div class="videocontent" style="">
                  <iframe width="800" height="400" [src]='safeURL' frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="nutxemthem" (click)="xemthem(false)" *ngIf="max_video < videos?.resGalleries.length">XEM THÊM</button>
  </div>

</div>
