.wrap-library{
  ngx-gallery {
    position: relative;

    & /deep/ .ngx-gallery-arrow-left{
      left: -70px;
    }
    & /deep/ .ngx-gallery-arrow-right{
      right: -70px;
    }

    & /deep/ .fa-arrow-circle-left {
      &:before {
        content: url("../../../../assets/images/combo/left-arrow.png");
        width: 25px;
        height: 25px;
        opacity: 0.7;
      }
      &:hover{
        &::before{
          opacity: 1;
        }
      }

      //&:hover {
      //  &:before {
      //    content: url("../../../../assets/images/combo/right-arrow.png");
      //    width: 25px;
      //    height: 25px;
      //  }
      //}
    }

    & /deep/ .fa-arrow-circle-right {
      &:before {
        content: url("../../../../assets/images/combo/right-arrow.png");
        width: 25px;
        height: 25px;
        opacity: 0.7;
      }
      &:hover{
        &:before{
          opacity: 1;
        }
      }
      //&:hover {
      //  &:before {
      //    content: url("../../../../assets/hotel-img/right-2.png");
      //    width: 25px;
      //    height: 25px;
      //  }
      //}
    }

    & /deep/ .ngx-gallery-thumbnail:hover{
      filter: hue-rotate(34deg) saturate(74%) contrast(56%);
      -webkit-filter: hue-rotate(34deg) saturate(74%) contrast(56%);
      -moz-filter: hue-rotate(34deg) saturate(74%) contrast(56%);
    }
  }
  .gallery-modal {
    background-color: rgba(0, 0, 0, 0.6);

    .modal-dialog {
      transform: none;
      width: 150vh;
      max-width: unset;

      .modal-content {
        background-color: transparent;
        border: none;
        height: 90vh;
        width: 100%;

        .modal-body {
          position: relative;
          flex: 1 1 auto;
          width: 100%;
          padding: 0;

          .close {
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            position: absolute;
            right: -10%;
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  }
  .dieuhuong{
    width: 100%;
    height: 30px;
    background-color: #3a6d4b;
  }
  .dieuhuong a{
    text-decoration: none;
    float: left;
    font-family: sf_ui_displayregular;
    font-size: 12px;
    text-align: left;
    line-height: 30px;
    position: relative;
    margin-right: 25px;
    color: #22ae51;
    font-style: italic;
  }
  // .dieuhuong a:hover{
  // 	text-decoration: underline;
  // }
  // .dieuhuong a:first-child::after{
  // 	content: "";
  // 	position: absolute;
  // 	height: 6px;
  // 	width: 6px;
  // 	background-color: transparent;
  // 	top: 50%;
  // 	right: -18px;
  // 	transform: translateY(-50%);
  // 	border-left: solid 6px #22ae51;
  // 	border-top: solid 4px #3a6d4b;
  // 	border-bottom: solid 4px #3a6d4b;
  // }
  // .dieuhuong a.active_link{
  // 	color: white;
  // }
  .noidung{
    margin-bottom: 40px;
    .row{
      margin-right: -5.5px;
      margin-left: -5.5px;
      .col-lg-4, .col-md-6{
        padding-left: 5.5px;
        padding-right: 5.5px;
      }
    }
  }
  .bb{
    // background-color: black;
  }
  .bb .slide_anh_to{
    transition: 0.5s;
  }
  .slide_anh_to.carousel.slide_anh_to.slick-initialized.slick-slider{
    padding-bottom: calc(100% * 655.5 / 1146);
    width: 100%;
    position: relative;
    display: block;
  }
  .slide_anh_to .slick-list.draggable{
    width: 100%;
    height: 100%;
    position: absolute;
    object-position: center;
    object-fit: cover;
  }
  .slide_anh_to .slick-track{
    height: 100%;
    width: 100%;
  }

  .slide_anh_to .slide.itemto.slick-slide img{
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
  }

  // width: 100%;
  // 	height: 100%;
  // 	position: absolute;
  // 	object-position: center;
  // 	object-fit: cover;
  .slick-slide{
    margin: 6px 2.5px;

  }
  .slide_anh_be .slide.slick-slide .bocanh{
    padding-bottom: calc(100% * 140 / 200);
    width: 100%;
    overflow: hidden;
    position: relative;
    display: block;
  }
  .slide_anh_be .slide.slick-slide .bocanh img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-position: center;
    object-fit: cover;
    border-radius: 3px;
  }
  .tieude{
    font-family: sf_pro_displaybold;
    font-size: 24px;
    text-align: center;
    color: var(--black);
    margin: 46px 0 42px 0;
    text-transform: uppercase;
  }
  .container .row .khoi{
    margin-bottom: 10px;

  }
  .container .row .anh{
    display: block;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding-bottom: calc(100% * 275 / 377);
    cursor: pointer;
  }

  .container .row .khoi .anh .nenden2{
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
  }
  .container .row .khoi .anh .nenden2 p{
    font-family: sf_pro_displaybold;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--white);
    margin: 0;
  }

  .container .row .khoi .anh .nenden2:hover{
    background-color: #00000080;
    opacity: 1;
  }
  .container .row .anh .nenden1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
  .container .row .anh .nenden1:hover{
    background-color: #00000050;
    cursor: pointer;
  }
  .container .row .anh .playbtn{
    position: absolute;
    height: 24px;
    width: 24px;
    transition: 0.3s;
  }
  .container .row .anh .playbtn:hover{
    transform: scale(1.5,1.5);
    cursor: pointer;
  }
  .container .row .anh img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 3px;
  }
  .container .row .khoi .des{
    margin: 10px 0 20px 0;
    text-transform: uppercase;
    font-family: sf_pro_displaybold;
    font-size: 14px;
    text-align: left;
    color: black;
  }
  .container .row .khoi .des:hover{
    color: #3a6d4b;
    cursor: pointer;
  }
  .nutxemthem{
    margin-top: 15px;
    width: 140px;
    height: 36px;
    border-radius: 3px;
    border: solid 1px #3a6d4b;
    background-color: var(--white);
    font-family: sf_ui_displayregular;
    font-size: 14px;
    color: #3a6d4b;
    margin-left: 50%;
    transform: translateX(-50%);
    &:hover{
      background-color: #3a6d4b;
      color: #fff;
    }
  }

}

